Repository asterixorobelix/afrikaburn_companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @LEGAL_TEAM, @DEVOPS_TEAM, @ANDROID_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @QA_TEAM, @IOS_TEAM, @UI_UX_TEAM, @BACKEND_TEAM, @API_TEAM, @DATABASE_TEAM, @SECURITY_TEAM, @DESIGNER, @MARKETING_TEAM

update plan
  specs/001-a-comprehensive-mobile/plan.md
Owners: @YOUR_USERNAME, @TECH_WRITER

fastlane
  RECOMMENDATIONS.md
  mobile/.gitignore
  mobile/CLAUDE.md
  mobile/FASTLANE_SETUP.md
  mobile/Makefile
  mobile/fastlane/.env.default
  mobile/fastlane/Appfile
  mobile/fastlane/Fastfile
  mobile/fastlane/Gemfile
  mobile/fastlane/Matchfile
  mobile/fastlane/Pluginfile
  mobile/readme.md
Owners: @YOUR_USERNAME, @TECH_WRITER, @DEVOPS_TEAM, @asterixorobelix, @TEAM_LEAD, @MARKETING_TEAM

improve project screen
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectCard.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectFilterChips.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectList.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectSearchBar.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

improve empty state screens
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/EmptyStateContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

ui improvements
  .claude/settings.local.json
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectCardSkeleton.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectListSkeleton.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ShimmerEffect.kt
Owners: @asterixorobelix, @TEAM_LEAD

micro interactions etc
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/components/InteractionModifiers.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectCard.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectDetailScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectFilterChips.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectList.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

async image loading
  mobile/CLAUDE.md
  mobile/Makefile
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/components/AppAsyncImage.kt
  mobile/gradle/libs.versions.toml
  mobile/readme.md
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD, @ANDROID_TEAM, @DEVOPS_TEAM

appasync image and documentation
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/NavigationDestination.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/components/AppAsyncImage.kt
  mobile/readme.md
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD

improements
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/PageIndicator.kt
Owners: @asterixorobelix, @TEAM_LEAD

improve about screen
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/PageIndicator.kt
Owners: @asterixorobelix, @TEAM_LEAD

improve directions screen
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectDetailScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Owners: @YOUR_USERNAME, @TECH_WRITER

add pitfalls for ai agents
  .planning/research/PITFALLS.md
Owners: @YOUR_USERNAME, @TECH_WRITER

feat: add Play Store deployment to CI/CD workflow
  .github/workflows/mobile-cd.yml
  mobile/FASTLANE_SETUP.md
  mobile/fastlane/.env.default
  mobile/fastlane/Matchfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @TECH_WRITER, @MARKETING_TEAM

Bump version to v2.1.19
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

docs: start milestone v3.0 Offline Map
  .planning/PROJECT.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs: complete v3.0 offline map research
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs: define v3.0 requirements (18 requirements)
  .planning/REQUIREMENTS.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs: create v3.0 roadmap (4 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

Bump version to v2.1.20
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

feat(01-01): add MapLibre Compose dependencies to version catalog
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @DEVOPS_TEAM

feat(01-01): add MapLibre dependencies to commonMain
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

feat(01-01): create offline map style configuration
  mobile/composeApp/src/commonMain/composeResources/files/maps/README.md
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD

feat(01-01): create MapUiState sealed class
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(01-01): create MapViewModel with camera state management
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(01-01): create MapScreen composable with MapLibre integration
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(01-01): register MapViewModel in Koin module
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(01-01): add Koin injection helper for MapViewModel
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/KoinCompose.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix(01-01): correct MapLibre Compose import paths in MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs(01-01): complete map infrastructure plan
  .planning/STATE.md
  .planning/phases/01-foundation-basic-map/01-01-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

feat(01-02): add Map string resources
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Owners: @asterixorobelix, @TEAM_LEAD

feat(01-02): add Map destination to navigation
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/NavigationDestination.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(01-02): add Map route to NavHost
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix(01-02): dark mode map style with mock markers
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
Owners: @asterixorobelix, @TEAM_LEAD

fix(01-02): add programmatic CircleLayer markers for camps/artworks
  mobile/composeApp/src/commonMain/composeResources/files/maps/mock-locations.geojson
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix(01-02): center map on actual AfrikaBurn coordinates
  mobile/composeApp/src/commonMain/composeResources/files/maps/mock-locations.geojson
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs(01-02): complete navigation integration plan
  .planning/phases/01-foundation-basic-map/01-02-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs(01): complete foundation-basic-map phase
  .planning/ROADMAP.md
  .planning/STATE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

feat(02-01): add coordinate fields to ProjectItem model
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItem.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(02-01): add project codes to mock-locations GeoJSON
  mobile/composeApp/src/commonMain/composeResources/files/maps/mock-locations.geojson
Owners: @asterixorobelix, @TEAM_LEAD

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# This file defines who owns different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - Default reviewers for everything
* @asterixorobelix @TEAM_LEAD

# Root configuration files
*.md @YOUR_USERNAME @TECH_WRITER
LICENSE @YOUR_USERNAME @LEGAL_TEAM
.gitignore @YOUR_USERNAME @DEVOPS_TEAM
gradle.properties @YOUR_USERNAME @ANDROID_TEAM
settings.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
build.gradle.kts @YOUR_USERNAME @ANDROID_TEAM

# Dependency management
gradle/ @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
gradle/libs.versions.toml @YOUR_USERNAME @ANDROID_TEAM

# Shared/Common code (Kotlin Multiplatform)
shared/ @YOUR_USERNAME @KOTLIN_TEAM @MOBILE_TEAM
shared/src/commonMain/ @YOUR_USERNAME @KOTLIN_TEAM
shared/src/commonTest/ @YOUR_USERNAME @KOTLIN_TEAM @QA_TEAM

# Android-specific code
androidApp/ @YOUR_USERNAME @ANDROID_TEAM
shared/src/androidMain/ @YOUR_USERNAME @ANDROID_TEAM
*.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
proguard-rules.pro @YOUR_USERNAME @ANDROID_TEAM

# iOS-specific code  
iosApp/ @YOUR_USERNAME @IOS_TEAM
shared/src/iosMain/ @YOUR_USERNAME @IOS_TEAM
*.swift @YOUR_USERNAME @IOS_TEAM
*.xcodeproj/ @YOUR_USERNAME @IOS_TEAM
*.xcworkspace/ @YOUR_USERNAME @IOS_TEAM
*.plist @YOUR_USERNAME @IOS_TEAM

# UI/UX related files
shared/src/commonMain/kotlin/ui/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM
shared/src/commonMain/kotlin/*/theme/ @YOUR_USERNAME @UI_UX_TEAM
shared/src/commonMain/kotlin/*/components/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM

# Business logic and architecture
shared/src/commonMain/kotlin/domain/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/data/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/di/ @YOUR_USERNAME @KOTLIN_TEAM

# Backend code (if in same repo)
backend/ @YOUR_USERNAME @BACKEND_TEAM
backend/api/ @YOUR_USERNAME @BACKEND_TEAM @API_TEAM
backend/database/ @YOUR_USERNAME @BACKEND_TEAM @DATABASE_TEAM
backend/services/ @YOUR_USERNAME @BACKEND_TEAM

# Testing files
**/test/ @YOUR_USERNAME @QA_TEAM @MOBILE_TEAM
**/androidTest/ @YOUR_USERNAME @QA_TEAM @ANDROID_TEAM
**/*Test.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM
**/*Tests.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM

# CI/CD and DevOps
.github/ @YOUR_USERNAME @DEVOPS_TEAM
.github/workflows/ @YOUR_USERNAME @DEVOPS_TEAM
scripts/ @YOUR_USERNAME @DEVOPS_TEAM

# Security-related files
.github/workflows/security.yml @YOUR_USERNAME @SECURITY_TEAM @DEVOPS_TEAM
**/security/ @YOUR_USERNAME @SECURITY_TEAM
SECURITY.md @YOUR_USERNAME @SECURITY_TEAM

# Documentation
docs/ @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
README.md @YOUR_USERNAME @TECH_WRITER
CONTRIBUTING.md @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
CHANGELOG.md @YOUR_USERNAME @TECH_WRITER

# Code quality and linting
detekt.yml @YOUR_USERNAME @KOTLIN_TEAM
.editorconfig @YOUR_USERNAME @MOBILE_TEAM

# Assets and resources
assets/ @YOUR_USERNAME @UI_UX_TEAM @DESIGNER
androidApp/src/main/res/ @YOUR_USERNAME @ANDROID_TEAM @UI_UX_TEAM
iosApp/*/Assets.xcassets/ @YOUR_USERNAME @IOS_TEAM @UI_UX_TEAM

# Store-related files
assets/store/ @YOUR_USERNAME @MARKETING_TEAM @UI_UX_TEAM
fastlane/ @YOUR_USERNAME @DEVOPS_TEAM @MARKETING_TEAM

# Configuration files that require special attention
keystore.properties @YOUR_USERNAME @SECURITY_TEAM @ANDROID_TEAM
google-services.json @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
GoogleService-Info.plist @YOUR_USERNAME @IOS_TEAM @DEVOPS_TEAM

# Package/module specific owners
# Add more specific rules as your project grows

# Example team/user mappings (replace with actual GitHub usernames):
# @YOUR_USERNAME - Project owner/maintainer
# @TEAM_LEAD - Technical lead
# @ANDROID_TEAM - Android developers
# @IOS_TEAM - iOS developers  
# @KOTLIN_TEAM - Kotlin/KMP specialists
# @MOBILE_TEAM - General mobile developers
# @BACKEND_TEAM - Backend developers
# @UI_UX_TEAM - UI/UX designers and frontend developers
# @QA_TEAM - Quality assurance engineers
# @DEVOPS_TEAM - DevOps engineers
# @SECURITY_TEAM - Security specialists
# @TECH_WRITER - Technical writers
# @MARKETING_TEAM - Marketing team
# @LEGAL_TEAM - Legal team

# Note: Remove teams/users that don't exist in your organization
# Add specific rules for critical files that need extra review
# Consider using wildcards for entire directories vs individual files
