Repository asterixorobelix/afrikaburn_companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @LEGAL_TEAM, @DEVOPS_TEAM, @ANDROID_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @QA_TEAM, @IOS_TEAM, @UI_UX_TEAM, @BACKEND_TEAM, @API_TEAM, @DATABASE_TEAM, @SECURITY_TEAM, @DESIGNER, @MARKETING_TEAM

chore: make android screenshots non-blocking
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: use run number for ci version code
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: pass aab path to fastlane
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

chore: skip ios screenshots when missing
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

chore: add ios snapshot ui tests scaffold
  mobile/iosApp/iosAppUITests/SnapshotHelper.swift
  mobile/iosApp/iosAppUITests/SnapshotUITests.swift
Owners: @YOUR_USERNAME, @IOS_TEAM

fix: resolve aab path for upload
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

chore: tolerate android screenshot runner failures
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

chore: run android cd via fastlane
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

workflow optimizations
  .github/workflows/mobile-cd.yml
  .github/workflows/mobile-ci.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

chore: wire ios snapshot helper
  mobile/fastlane/Fastfile
  mobile/iosApp/AfrikaburnUITests/AfrikaburnUITests.swift
  mobile/iosApp/AfrikaburnUITests/AfrikaburnUITestsLaunchTests.swift
  mobile/iosApp/AfrikaburnUITests/SnapshotHelper.swift
  mobile/iosApp/AfrikaburnUITests/SnapshotUITests.swift
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM, @IOS_TEAM

fix: use staged aab for fastlane
  .github/workflows/mobile-cd.yml
  CODEBASE_ANALYSIS.md
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
  mobile/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
  mobile/iosApp/iosAppUITests/SnapshotHelper.swift
  mobile/iosApp/iosAppUITests/SnapshotUITests.swift
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @TECH_WRITER, @IOS_TEAM

chore: restore ios snapshot files
  mobile/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
  mobile/iosApp/iosAppUITests/SnapshotHelper.swift
  mobile/iosApp/iosAppUITests/SnapshotUITests.swift
Owners: @YOUR_USERNAME, @IOS_TEAM

fix: set play store key file for fastlane
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Appfile
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

changes
  .github/CI_CD_GUIDE.md
  BRANCH_PROTECTION_GUIDE.md
  CLAUDE.md
  FIREBASE_SECRETS_SETUP.md
  GITHUB_SETUP.md
  MOBILE_CD_SETUP.md
  RECOMMENDATIONS.md
  TEMPLATE_USAGE.md
  backend/claude.md
  backend/railway.md
  backend/readme.md
  mobile/CLAUDE.md
  mobile/MOBILE_CD_OPTIMIZATION_GUIDE.md
  mobile/MOBILE_CD_WORKFLOW_SETUP.md
  mobile/composeApp/src/commonMain/composeResources/files/maps/README.md
  mobile/readme.md
  resources/AfrikaBurnApp devPlan.md
  setup-guide/ai-assistant-reference.md
  setup-guide/environment-and-deployment.md
  setup-guide/phase-1-foundation.md
  setup-guide/phase-2-backend.md
  setup-guide/phase-3-mobile.md
  setup-guide/phase-4-production.md
  specs/001-a-comprehensive-mobile/data-model.md
  specs/001-a-comprehensive-mobile/plan.md
  specs/001-a-comprehensive-mobile/quickstart.md
  specs/001-a-comprehensive-mobile/research.md
  specs/001-a-comprehensive-mobile/spec.md
  specs/001-a-comprehensive-mobile/tasks.md
  specs/BRAND_POSITIONING.md
  specs/VISUAL_DESIGN_DIRECTION.md
  unified_kotlin_setup_guide.md
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @TECH_WRITER, @BACKEND_TEAM

fix: run upload outside emulator
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: fix CD screenshot generation for iOS and Android
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
  mobile/fastlane/Screengrabfile
  mobile/fastlane/Snapfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

fix: use android-actions/setup-android for emulator SDK setup
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: add Gradle cache and timeout to deploy-android, fix create-release
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

refactor: extract screenshots into reusable GitHub Actions workflow
  .github/workflows/mobile-cd.yml
  .github/workflows/screenshots.yml
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

fix: fix screenshot workflow failures for Android and iOS
  .github/workflows/screenshots.yml
  mobile/composeApp/src/androidInstrumentedTest/kotlin/io/asterixorobelix/afrikaburn/AfrikaBurnTestApplication.kt
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @asterixorobelix, @TEAM_LEAD

fix: update Gradle wrapper jar to match 8.13 for AGP 8.13.2
  mobile/gradle/wrapper/gradle-wrapper.jar
  mobile/gradlew
  mobile/gradlew.bat
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @DEVOPS_TEAM, @asterixorobelix, @TEAM_LEAD

fix: centralise Gradle version by using committed wrappers in CI
  .github/workflows/backend-ci.yml
  .github/workflows/codeql.yml
  .github/workflows/mobile-cd.yml
  .github/workflows/mobile-ci.yml
  .github/workflows/pr-validation.yaml
  backend/gradle/wrapper/gradle-wrapper.properties
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @BACKEND_TEAM

fix: use correct iOS framework task name in mobile-ci
  .github/workflows/mobile-ci.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: use device target for iOS framework CI build
  .github/workflows/mobile-ci.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: use android-emulator-runner action and fix snapshot update path
  .github/workflows/screenshots.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: fix Android test runner and iOS workspace config for screenshots
  mobile/fastlane/Screengrabfile
  mobile/fastlane/Snapfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

fix: fix screenshot workflow issues for both platforms
  .github/workflows/screenshots.yml
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @asterixorobelix, @TEAM_LEAD, @MARKETING_TEAM

update ai assistant docs
  .claude/settings.local.json
  AGENTS.md
  CLAUDE.md
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER

refactor: replace automated screenshot capture with manual workflow
  .github/workflows/mobile-cd.yml
  .github/workflows/screenshots.yml
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidInstrumentedTest/kotlin/io/asterixorobelix/afrikaburn/AfrikaBurnTestApplication.kt
  mobile/composeApp/src/androidInstrumentedTest/kotlin/io/asterixorobelix/afrikaburn/ScreengrabScreenshotTest.kt
  mobile/composeApp/src/androidInstrumentedTest/kotlin/io/asterixorobelix/afrikaburn/TestRunner.kt
  mobile/fastlane/Fastfile
  mobile/fastlane/SCREENSHOTS.md
  mobile/fastlane/Screengrabfile
  mobile/fastlane/Snapfile
  mobile/fastlane/screenshots/.gitkeep
  mobile/fastlane/screenshots/android/en-US/phoneScreenshots/.gitkeep
  mobile/fastlane/screenshots/ios/en-US/iPad Pro 13-inch (M4)/.gitkeep
  mobile/fastlane/screenshots/ios/en-US/iPhone 16 Pro Max/.gitkeep
  mobile/gradle/libs.versions.toml
  mobile/iosApp/AfrikaburnUITests/SnapshotHelper.swift
  mobile/iosApp/AfrikaburnUITests/SnapshotUITests.swift
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD, @QA_TEAM, @KOTLIN_TEAM, @MARKETING_TEAM, @IOS_TEAM

chore: remove Claude code-action diagnosis steps from mobile CI
  .github/workflows/mobile-ci.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: upgrade kotlinx-datetime to 0.7.1 and fix SQLDelight return types
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UserCampPinRepositoryImpl.kt
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD, @DEVOPS_TEAM

fix: upgrade kotlinx-datetime to 0.7.1 and fix SQLDelight return types (#131)
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UserCampPinRepositoryImpl.kt
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD, @DEVOPS_TEAM

refactor: replace reflection-based CrashLogger with compile-time FirebaseCrashlytics dependency
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD

docs: rephrase CrashLogger comment to avoid false-positive in pre-flight check
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Owners: @asterixorobelix, @TEAM_LEAD

refactor: graceful fallback via try/catch instead of reflection in AndroidCrashLogger
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Owners: @asterixorobelix, @TEAM_LEAD

refactor: fix CrashLogger security & initialization issues
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD

fix: compilation errors and behavioral regressions in CrashLogger
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs(quick): plan race condition fix in ProjectsRepositoryImpl cache
  .planning/quick/1-fix-race-condition-in-projectsrepository/001-PLAN.md
Owners: @YOUR_USERNAME, @TECH_WRITER

fix(quick-2): replace mutableMapOf cache with Mutex-protected cache
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix: add thread safety to ProjectsRepositoryImpl cache with Mutex
  .pipeline-state.json
  .planning/quick/2-fix-projectsrepositoryimpl-mutablemap-ca/2-PLAN.md
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @QA_TEAM, @KOTLIN_TEAM

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# This file defines who owns different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - Default reviewers for everything
* @asterixorobelix @TEAM_LEAD

# Root configuration files
*.md @YOUR_USERNAME @TECH_WRITER
LICENSE @YOUR_USERNAME @LEGAL_TEAM
.gitignore @YOUR_USERNAME @DEVOPS_TEAM
gradle.properties @YOUR_USERNAME @ANDROID_TEAM
settings.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
build.gradle.kts @YOUR_USERNAME @ANDROID_TEAM

# Dependency management
gradle/ @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
gradle/libs.versions.toml @YOUR_USERNAME @ANDROID_TEAM

# Shared/Common code (Kotlin Multiplatform)
shared/ @YOUR_USERNAME @KOTLIN_TEAM @MOBILE_TEAM
shared/src/commonMain/ @YOUR_USERNAME @KOTLIN_TEAM
shared/src/commonTest/ @YOUR_USERNAME @KOTLIN_TEAM @QA_TEAM

# Android-specific code
androidApp/ @YOUR_USERNAME @ANDROID_TEAM
shared/src/androidMain/ @YOUR_USERNAME @ANDROID_TEAM
*.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
proguard-rules.pro @YOUR_USERNAME @ANDROID_TEAM

# iOS-specific code  
iosApp/ @YOUR_USERNAME @IOS_TEAM
shared/src/iosMain/ @YOUR_USERNAME @IOS_TEAM
*.swift @YOUR_USERNAME @IOS_TEAM
*.xcodeproj/ @YOUR_USERNAME @IOS_TEAM
*.xcworkspace/ @YOUR_USERNAME @IOS_TEAM
*.plist @YOUR_USERNAME @IOS_TEAM

# UI/UX related files
shared/src/commonMain/kotlin/ui/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM
shared/src/commonMain/kotlin/*/theme/ @YOUR_USERNAME @UI_UX_TEAM
shared/src/commonMain/kotlin/*/components/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM

# Business logic and architecture
shared/src/commonMain/kotlin/domain/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/data/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/di/ @YOUR_USERNAME @KOTLIN_TEAM

# Backend code (if in same repo)
backend/ @YOUR_USERNAME @BACKEND_TEAM
backend/api/ @YOUR_USERNAME @BACKEND_TEAM @API_TEAM
backend/database/ @YOUR_USERNAME @BACKEND_TEAM @DATABASE_TEAM
backend/services/ @YOUR_USERNAME @BACKEND_TEAM

# Testing files
**/test/ @YOUR_USERNAME @QA_TEAM @MOBILE_TEAM
**/androidTest/ @YOUR_USERNAME @QA_TEAM @ANDROID_TEAM
**/*Test.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM
**/*Tests.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM

# CI/CD and DevOps
.github/ @YOUR_USERNAME @DEVOPS_TEAM
.github/workflows/ @YOUR_USERNAME @DEVOPS_TEAM
scripts/ @YOUR_USERNAME @DEVOPS_TEAM

# Security-related files
.github/workflows/security.yml @YOUR_USERNAME @SECURITY_TEAM @DEVOPS_TEAM
**/security/ @YOUR_USERNAME @SECURITY_TEAM
SECURITY.md @YOUR_USERNAME @SECURITY_TEAM

# Documentation
docs/ @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
README.md @YOUR_USERNAME @TECH_WRITER
CONTRIBUTING.md @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
CHANGELOG.md @YOUR_USERNAME @TECH_WRITER

# Code quality and linting
detekt.yml @YOUR_USERNAME @KOTLIN_TEAM
.editorconfig @YOUR_USERNAME @MOBILE_TEAM

# Assets and resources
assets/ @YOUR_USERNAME @UI_UX_TEAM @DESIGNER
androidApp/src/main/res/ @YOUR_USERNAME @ANDROID_TEAM @UI_UX_TEAM
iosApp/*/Assets.xcassets/ @YOUR_USERNAME @IOS_TEAM @UI_UX_TEAM

# Store-related files
assets/store/ @YOUR_USERNAME @MARKETING_TEAM @UI_UX_TEAM
fastlane/ @YOUR_USERNAME @DEVOPS_TEAM @MARKETING_TEAM

# Configuration files that require special attention
keystore.properties @YOUR_USERNAME @SECURITY_TEAM @ANDROID_TEAM
google-services.json @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
GoogleService-Info.plist @YOUR_USERNAME @IOS_TEAM @DEVOPS_TEAM

# Package/module specific owners
# Add more specific rules as your project grows

# Example team/user mappings (replace with actual GitHub usernames):
# @YOUR_USERNAME - Project owner/maintainer
# @TEAM_LEAD - Technical lead
# @ANDROID_TEAM - Android developers
# @IOS_TEAM - iOS developers  
# @KOTLIN_TEAM - Kotlin/KMP specialists
# @MOBILE_TEAM - General mobile developers
# @BACKEND_TEAM - Backend developers
# @UI_UX_TEAM - UI/UX designers and frontend developers
# @QA_TEAM - Quality assurance engineers
# @DEVOPS_TEAM - DevOps engineers
# @SECURITY_TEAM - Security specialists
# @TECH_WRITER - Technical writers
# @MARKETING_TEAM - Marketing team
# @LEGAL_TEAM - Legal team

# Note: Remove teams/users that don't exist in your organization
# Add specific rules for critical files that need extra review
# Consider using wildcards for entire directories vs individual files
