Repository asterixorobelix/afrikaburn_companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @LEGAL_TEAM, @DEVOPS_TEAM, @ANDROID_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @QA_TEAM, @IOS_TEAM, @UI_UX_TEAM, @BACKEND_TEAM, @API_TEAM, @DATABASE_TEAM, @SECURITY_TEAM, @DESIGNER, @MARKETING_TEAM

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# This file defines who owns different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - Default reviewers for everything
* @asterixorobelix @TEAM_LEAD

# Root configuration files
*.md @YOUR_USERNAME @TECH_WRITER
LICENSE @YOUR_USERNAME @LEGAL_TEAM
.gitignore @YOUR_USERNAME @DEVOPS_TEAM
gradle.properties @YOUR_USERNAME @ANDROID_TEAM
settings.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
build.gradle.kts @YOUR_USERNAME @ANDROID_TEAM

# Dependency management
gradle/ @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
gradle/libs.versions.toml @YOUR_USERNAME @ANDROID_TEAM

# Shared/Common code (Kotlin Multiplatform)
shared/ @YOUR_USERNAME @KOTLIN_TEAM @MOBILE_TEAM
shared/src/commonMain/ @YOUR_USERNAME @KOTLIN_TEAM
shared/src/commonTest/ @YOUR_USERNAME @KOTLIN_TEAM @QA_TEAM

# Android-specific code
androidApp/ @YOUR_USERNAME @ANDROID_TEAM
shared/src/androidMain/ @YOUR_USERNAME @ANDROID_TEAM
*.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
proguard-rules.pro @YOUR_USERNAME @ANDROID_TEAM

# iOS-specific code  
iosApp/ @YOUR_USERNAME @IOS_TEAM
shared/src/iosMain/ @YOUR_USERNAME @IOS_TEAM
*.swift @YOUR_USERNAME @IOS_TEAM
*.xcodeproj/ @YOUR_USERNAME @IOS_TEAM
*.xcworkspace/ @YOUR_USERNAME @IOS_TEAM
*.plist @YOUR_USERNAME @IOS_TEAM

# UI/UX related files
shared/src/commonMain/kotlin/ui/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM
shared/src/commonMain/kotlin/*/theme/ @YOUR_USERNAME @UI_UX_TEAM
shared/src/commonMain/kotlin/*/components/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM

# Business logic and architecture
shared/src/commonMain/kotlin/domain/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/data/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/di/ @YOUR_USERNAME @KOTLIN_TEAM

# Backend code (if in same repo)
backend/ @YOUR_USERNAME @BACKEND_TEAM
backend/api/ @YOUR_USERNAME @BACKEND_TEAM @API_TEAM
backend/database/ @YOUR_USERNAME @BACKEND_TEAM @DATABASE_TEAM
backend/services/ @YOUR_USERNAME @BACKEND_TEAM

# Testing files
**/test/ @YOUR_USERNAME @QA_TEAM @MOBILE_TEAM
**/androidTest/ @YOUR_USERNAME @QA_TEAM @ANDROID_TEAM
**/*Test.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM
**/*Tests.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM

# CI/CD and DevOps
.github/ @YOUR_USERNAME @DEVOPS_TEAM
.github/workflows/ @YOUR_USERNAME @DEVOPS_TEAM
scripts/ @YOUR_USERNAME @DEVOPS_TEAM

# Security-related files
.github/workflows/security.yml @YOUR_USERNAME @SECURITY_TEAM @DEVOPS_TEAM
**/security/ @YOUR_USERNAME @SECURITY_TEAM
SECURITY.md @YOUR_USERNAME @SECURITY_TEAM

# Documentation
docs/ @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
README.md @YOUR_USERNAME @TECH_WRITER
CONTRIBUTING.md @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
CHANGELOG.md @YOUR_USERNAME @TECH_WRITER

# Code quality and linting
detekt.yml @YOUR_USERNAME @KOTLIN_TEAM
.editorconfig @YOUR_USERNAME @MOBILE_TEAM

# Assets and resources
assets/ @YOUR_USERNAME @UI_UX_TEAM @DESIGNER
androidApp/src/main/res/ @YOUR_USERNAME @ANDROID_TEAM @UI_UX_TEAM
iosApp/*/Assets.xcassets/ @YOUR_USERNAME @IOS_TEAM @UI_UX_TEAM

# Store-related files
assets/store/ @YOUR_USERNAME @MARKETING_TEAM @UI_UX_TEAM
fastlane/ @YOUR_USERNAME @DEVOPS_TEAM @MARKETING_TEAM

# Configuration files that require special attention
keystore.properties @YOUR_USERNAME @SECURITY_TEAM @ANDROID_TEAM
google-services.json @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
GoogleService-Info.plist @YOUR_USERNAME @IOS_TEAM @DEVOPS_TEAM

# Package/module specific owners
# Add more specific rules as your project grows

# Example team/user mappings (replace with actual GitHub usernames):
# @YOUR_USERNAME - Project owner/maintainer
# @TEAM_LEAD - Technical lead
# @ANDROID_TEAM - Android developers
# @IOS_TEAM - iOS developers  
# @KOTLIN_TEAM - Kotlin/KMP specialists
# @MOBILE_TEAM - General mobile developers
# @BACKEND_TEAM - Backend developers
# @UI_UX_TEAM - UI/UX designers and frontend developers
# @QA_TEAM - Quality assurance engineers
# @DEVOPS_TEAM - DevOps engineers
# @SECURITY_TEAM - Security specialists
# @TECH_WRITER - Technical writers
# @MARKETING_TEAM - Marketing team
# @LEGAL_TEAM - Legal team

# Note: Remove teams/users that don't exist in your organization
# Add specific rules for critical files that need extra review
# Consider using wildcards for entire directories vs individual files

Bump version to v2.1.38
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: update iOS bundle ID to match App Store Connect
  mobile/fastlane/Appfile
  mobile/fastlane/Fastfile
  mobile/fastlane/Matchfile
  mobile/iosApp/Configuration/Config.xcconfig
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM, @IOS_TEAM

Bump version to v2.1.39
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: add CURRENT_PROJECT_VERSION and MARKETING_VERSION to target build settings
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Owners: @YOUR_USERNAME, @IOS_TEAM

Bump version to v2.1.40
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: sync iOS version with Android in CD workflow
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.41
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: match download-artifact version with upload-artifact (v4)
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: improve stability with null-safety, error logging, and resource cleanup
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManager.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationService.ios.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat: fix 4 UI issues (U11-U14)
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiState.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/components/ExternalLinkConfirmationDialog.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectDetailScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectList.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat: fix 4 accessibility issues (U15-U18)
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectCard.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectFilterChips.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs: update codebase analysis to reflect recent fixes
  CODEBASE_ANALYSIS.md
Owners: @YOUR_USERNAME, @TECH_WRITER

chore: add Claude Code hooks, mobile-mcp, and branch-context
  .claude/branch-context/.gitkeep
  .claude/settings.json
Owners: @asterixorobelix, @TEAM_LEAD

docs: add brand positioning and visual design direction
  specs/BRAND_POSITIONING.md
  specs/VISUAL_DESIGN_DIRECTION.md
Owners: @YOUR_USERNAME, @TECH_WRITER

feat: implement Tankwa brand visual identity (phases 1-3)
  mobile/composeApp/src/androidMain/res/values-night/colors.xml
  mobile/composeApp/src/androidMain/res/values/colors.xml
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
  mobile/composeApp/src/commonMain/composeResources/font/bitter_regular.ttf
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat: apply Phase 4 component styling and visual polish
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/BottomNavigationBar.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectCard.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectDetailScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

boop
  .claude/settings.local.json
  .github/workflows/mobile-ci.yml
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/components/AppAsyncImage.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/EmptyStateContent.kt
  mobile/fastlane/Fastfile
  mobile/fastlane/Gemfile.lock
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @DEVOPS_TEAM, @TECH_WRITER, @MARKETING_TEAM

feat: redesign UX with Home dashboard, restructured navigation, and richer cards
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/BottomNavigationBar.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/NavigationDestination.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/home/CategoryCard.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/home/HomeScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/more/MoreScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectCard.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix: hide bottom nav on sub-routes (Directions/About from More)
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix: Important Notes expand/collapse arrow not toggling visually
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

test(08-01): add timezone boundary tests for EventDateService
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateServiceTest.kt
Owners: @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

test(08-01): add permission denial edge case tests for UnlockConditionManager
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManagerTest.kt
Owners: @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

chore: complete v3.1 Event Surprise Mode milestone
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v3.1-ROADMAP.md
  .planning/phases/08-polish/08-01-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs: add future roadmap items to PROJECT.md
  .planning/PROJECT.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs: add 16 feature ideas to roadmap
  .planning/PROJECT.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs: add share app feature to roadmap
  .planning/PROJECT.md
Owners: @YOUR_USERNAME, @TECH_WRITER

agents md
  AGENTS.md
Owners: @YOUR_USERNAME, @TECH_WRITER

setup tests and improve viewmodels
  CLAUDE.md
  README.md
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DataModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/KoinCompose.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/camppin/DeleteCampPinUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/camppin/ObserveCampPinUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/camppin/SaveCampPinUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/camppin/UpdateCampPinLocationUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/projects/GetAllProjectsUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/projects/GetProjectsByTypeUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiState.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/home/HomeScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/projects/GetAllProjectsUseCaseTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/projects/GetProjectsByTypeUseCaseTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/FamilyFilterIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/ProjectsIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/TimeFilterIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModelTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/FamilyFilterUiStateTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/FamilyFilterViewModelTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModelTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsScreenUiStateTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiStateTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsViewModelTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/TimeFilterViewModelTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/test/FakeProjectsRepository.kt
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @TECH_WRITER, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD, @QA_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @DEVOPS_TEAM

fix
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiStateTest.kt
Owners: @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

improvements
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/KoinCompose.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/BottomNavigationBar.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/di/KoinComposeTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

fix unlocked nav
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

chore: add cd screenshot capture
  .github/workflows/mobile-cd.yml
  MOBILE_CD_SETUP.md
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidInstrumentedTest/kotlin/io/asterixorobelix/afrikaburn/AfrikaBurnTestApplication.kt
  mobile/composeApp/src/androidInstrumentedTest/kotlin/io/asterixorobelix/afrikaburn/ScreengrabScreenshotTest.kt
  mobile/composeApp/src/androidInstrumentedTest/kotlin/io/asterixorobelix/afrikaburn/TestRunner.kt
  mobile/fastlane/Appfile
  mobile/fastlane/Fastfile
  mobile/fastlane/Screengrabfile
  mobile/fastlane/metadata/android/en-US/images/phoneScreenshots/.gitkeep
  mobile/fastlane/screenshots/.gitkeep
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @TECH_WRITER, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD, @QA_TEAM, @KOTLIN_TEAM, @MARKETING_TEAM

fix: resolve detekt issues
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModelDependencies.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModelTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

fix: align gradle wrapper for ios cd
  .github/workflows/mobile-cd.yml
  mobile/gradle/wrapper/gradle-wrapper.properties
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @ANDROID_TEAM

fix: revert wrapper to gradle 8.13
  .github/workflows/mobile-cd.yml
  mobile/gradle/wrapper/gradle-wrapper.properties
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @ANDROID_TEAM

fix: avoid pushing to main in cd
  .github/workflows/mobile-cd.yml
  MOBILE_CD_SETUP.md
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @TECH_WRITER

fix: remove explore arg for kmp
  .github/workflows/mobile-cd.yml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @asterixorobelix, @TEAM_LEAD

fix: kmp-safe explore navigation
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix: run fastlane screenshots from correct dir
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: configure ios screenshots
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM
