Repository asterixorobelix/afrikaburn_companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @LEGAL_TEAM, @DEVOPS_TEAM, @ANDROID_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @QA_TEAM, @IOS_TEAM, @UI_UX_TEAM, @BACKEND_TEAM, @API_TEAM, @DATABASE_TEAM, @SECURITY_TEAM, @DESIGNER, @MARKETING_TEAM

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# This file defines who owns different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - Default reviewers for everything
* @asterixorobelix @TEAM_LEAD

# Root configuration files
*.md @YOUR_USERNAME @TECH_WRITER
LICENSE @YOUR_USERNAME @LEGAL_TEAM
.gitignore @YOUR_USERNAME @DEVOPS_TEAM
gradle.properties @YOUR_USERNAME @ANDROID_TEAM
settings.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
build.gradle.kts @YOUR_USERNAME @ANDROID_TEAM

# Dependency management
gradle/ @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
gradle/libs.versions.toml @YOUR_USERNAME @ANDROID_TEAM

# Shared/Common code (Kotlin Multiplatform)
shared/ @YOUR_USERNAME @KOTLIN_TEAM @MOBILE_TEAM
shared/src/commonMain/ @YOUR_USERNAME @KOTLIN_TEAM
shared/src/commonTest/ @YOUR_USERNAME @KOTLIN_TEAM @QA_TEAM

# Android-specific code
androidApp/ @YOUR_USERNAME @ANDROID_TEAM
shared/src/androidMain/ @YOUR_USERNAME @ANDROID_TEAM
*.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
proguard-rules.pro @YOUR_USERNAME @ANDROID_TEAM

# iOS-specific code  
iosApp/ @YOUR_USERNAME @IOS_TEAM
shared/src/iosMain/ @YOUR_USERNAME @IOS_TEAM
*.swift @YOUR_USERNAME @IOS_TEAM
*.xcodeproj/ @YOUR_USERNAME @IOS_TEAM
*.xcworkspace/ @YOUR_USERNAME @IOS_TEAM
*.plist @YOUR_USERNAME @IOS_TEAM

# UI/UX related files
shared/src/commonMain/kotlin/ui/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM
shared/src/commonMain/kotlin/*/theme/ @YOUR_USERNAME @UI_UX_TEAM
shared/src/commonMain/kotlin/*/components/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM

# Business logic and architecture
shared/src/commonMain/kotlin/domain/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/data/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/di/ @YOUR_USERNAME @KOTLIN_TEAM

# Backend code (if in same repo)
backend/ @YOUR_USERNAME @BACKEND_TEAM
backend/api/ @YOUR_USERNAME @BACKEND_TEAM @API_TEAM
backend/database/ @YOUR_USERNAME @BACKEND_TEAM @DATABASE_TEAM
backend/services/ @YOUR_USERNAME @BACKEND_TEAM

# Testing files
**/test/ @YOUR_USERNAME @QA_TEAM @MOBILE_TEAM
**/androidTest/ @YOUR_USERNAME @QA_TEAM @ANDROID_TEAM
**/*Test.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM
**/*Tests.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM

# CI/CD and DevOps
.github/ @YOUR_USERNAME @DEVOPS_TEAM
.github/workflows/ @YOUR_USERNAME @DEVOPS_TEAM
scripts/ @YOUR_USERNAME @DEVOPS_TEAM

# Security-related files
.github/workflows/security.yml @YOUR_USERNAME @SECURITY_TEAM @DEVOPS_TEAM
**/security/ @YOUR_USERNAME @SECURITY_TEAM
SECURITY.md @YOUR_USERNAME @SECURITY_TEAM

# Documentation
docs/ @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
README.md @YOUR_USERNAME @TECH_WRITER
CONTRIBUTING.md @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
CHANGELOG.md @YOUR_USERNAME @TECH_WRITER

# Code quality and linting
detekt.yml @YOUR_USERNAME @KOTLIN_TEAM
.editorconfig @YOUR_USERNAME @MOBILE_TEAM

# Assets and resources
assets/ @YOUR_USERNAME @UI_UX_TEAM @DESIGNER
androidApp/src/main/res/ @YOUR_USERNAME @ANDROID_TEAM @UI_UX_TEAM
iosApp/*/Assets.xcassets/ @YOUR_USERNAME @IOS_TEAM @UI_UX_TEAM

# Store-related files
assets/store/ @YOUR_USERNAME @MARKETING_TEAM @UI_UX_TEAM
fastlane/ @YOUR_USERNAME @DEVOPS_TEAM @MARKETING_TEAM

# Configuration files that require special attention
keystore.properties @YOUR_USERNAME @SECURITY_TEAM @ANDROID_TEAM
google-services.json @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
GoogleService-Info.plist @YOUR_USERNAME @IOS_TEAM @DEVOPS_TEAM

# Package/module specific owners
# Add more specific rules as your project grows

# Example team/user mappings (replace with actual GitHub usernames):
# @YOUR_USERNAME - Project owner/maintainer
# @TEAM_LEAD - Technical lead
# @ANDROID_TEAM - Android developers
# @IOS_TEAM - iOS developers  
# @KOTLIN_TEAM - Kotlin/KMP specialists
# @MOBILE_TEAM - General mobile developers
# @BACKEND_TEAM - Backend developers
# @UI_UX_TEAM - UI/UX designers and frontend developers
# @QA_TEAM - Quality assurance engineers
# @DEVOPS_TEAM - DevOps engineers
# @SECURITY_TEAM - Security specialists
# @TECH_WRITER - Technical writers
# @MARKETING_TEAM - Marketing team
# @LEGAL_TEAM - Legal team

# Note: Remove teams/users that don't exist in your organization
# Add specific rules for critical files that need extra review
# Consider using wildcards for entire directories vs individual files

update detekt
  mobile/detekt.yml
Owners: @YOUR_USERNAME, @KOTLIN_TEAM

fix: add Firebase configuration setup to PR validation workflow
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: resolve all detekt code quality issues
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/PageIndicator.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

update claude
  mobile/CLAUDE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

update claude
  mobile/CLAUDE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

fix compilation issues
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

Update README.md
  README.md
Owners: @YOUR_USERNAME, @TECH_WRITER

fix tests
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModelTest.kt
  mobile/gradle/wrapper/gradle-wrapper.jar
  mobile/gradle/wrapper/gradle-wrapper.properties
  mobile/gradlew
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD, @QA_TEAM, @KOTLIN_TEAM, @ANDROID_TEAM, @DEVOPS_TEAM

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix tests
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/FamilyFilterIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/ProjectsIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/TimeFilterIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/TimeFilterViewModelTest.kt
Owners: @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

fix(ci): add Firebase configuration setup to Performance Check job
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix(ci): add Firebase configuration setup to Performance Check job
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix(ci): use simulator name instead of hardcoded ID in CodeQL iOS build
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix(ci): use simulator name instead of hardcoded ID in CodeQL iOS build
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

tests
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/ProjectsIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModelTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsViewModelTest.kt
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @QA_TEAM, @KOTLIN_TEAM

change tests
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/ProjectsIntegrationTest.kt
Owners: @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

detekt and tests
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/datasource/JsonResourceDataSourceImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

remove exception which does not exist
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/datasource/JsonResourceDataSourceImpl.kt
Owners: @asterixorobelix, @TEAM_LEAD

Bump version to v2.1.1
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

try fixing building ios
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.2
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

try fix ios again
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.3
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

bump lib versions
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @DEVOPS_TEAM

Bump version to v2.1.4
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

bump versions in backend
  backend/build.gradle.kts
Owners: @YOUR_USERNAME, @BACKEND_TEAM

backend fixes
  backend/build.gradle.kts
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/Application.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Monitoring.kt
Owners: @YOUR_USERNAME, @BACKEND_TEAM

more version bumps
  backend/build.gradle.kts
Owners: @YOUR_USERNAME, @BACKEND_TEAM

bump more versions
  backend/build.gradle.kts
Owners: @YOUR_USERNAME, @BACKEND_TEAM

add changes to mobile-cd
  .github/workflows/mobile-cd.yml
  mobile/MOBILE_CD_OPTIMIZATION_GUIDE.md
  mobile/MOBILE_CD_WORKFLOW_SETUP.md
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @TECH_WRITER

Bump version to v2.1.5
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

remove quiet flag
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.6
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

add logging to the ios build step
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.7
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

change mobile-cd again
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.8
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

detekt on backend
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/Application.kt
Owners: @YOUR_USERNAME, @BACKEND_TEAM

try to optimize ios mobile-cd
  .github/workflows/mobile-cd.yml
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @ANDROID_TEAM

Bump version to v2.1.9
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM
