Repository asterixorobelix/afrikaburn_companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @LEGAL_TEAM, @DEVOPS_TEAM, @ANDROID_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @QA_TEAM, @IOS_TEAM, @UI_UX_TEAM, @BACKEND_TEAM, @API_TEAM, @DATABASE_TEAM, @SECURITY_TEAM, @DESIGNER, @MARKETING_TEAM

docs(quick-001): complete race condition fix summary for ProjectsRepositoryImpl
  .planning/quick/1-fix-race-condition-in-projectsrepository/001-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

fix(quick-2): use single Mutex.withLock to guarantee exactly-once cache load
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs(quick-1): Fix race condition in ProjectsRepositoryImpl cache: replace MutableMap with ConcurrentHashMap or Mutex protection
  .planning/STATE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs(quick-2): complete Mutex cache fix summary for ProjectsRepositoryImpl
  .planning/quick/2-fix-projectsrepositoryimpl-mutablemap-ca/2-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

fix: address council review — clarify test, remove pipeline artefact from repo
  .gitignore
  .pipeline-state.json
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @asterixorobelix, @TEAM_LEAD, @QA_TEAM, @KOTLIN_TEAM

docs(quick-2): Fix ProjectsRepositoryImpl MutableMap cache race condition with ConcurrentHashMap or Mutex
  .planning/STATE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

fix: double-checked cache pattern — I/O outside Mutex, fix .gitignore, honest test
  .gitignore
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @asterixorobelix, @TEAM_LEAD, @QA_TEAM, @KOTLIN_TEAM

fix: single-lock pattern — wrap entire check-load-write in one withLock
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

fix: use double-checked locking pattern — I/O outside Mutex, non-suspend clearCache
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

fix: single Mutex wraps full check-load-write, suspend clearCache, accurate test
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

fix: migrate Clock/Instant from kotlinx.datetime to kotlin.time stdlib
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UnlockStateRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UserCampPinRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/UnlockStateRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateService.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManager.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateServiceTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/GeofenceServiceTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManagerTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

fix(#82): add custom Savers for rememberSaveable navigation state
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix(#82): use rememberSaveable for navigation state persistence
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix: extract resolveJwtConfig to fix test compilation, fix username claim null-check, add coverage
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
  backend/src/test/kotlin/io/asterixorobelix/afrikaburn/config/SecurityTest.kt
Owners: @YOUR_USERNAME, @BACKEND_TEAM, @QA_TEAM, @KOTLIN_TEAM

fix: trim JWT_SECRET before blank/length checks to prevent whitespace bypass
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
Owners: @YOUR_USERNAME, @BACKEND_TEAM

fix: throw at startup if JWT_SECRET/ISSUER/AUDIENCE env vars not set
  backend/.env.example
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
Owners: @YOUR_USERNAME, @BACKEND_TEAM

fix: address council review — error message wording, test coverage
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
  backend/src/test/kotlin/io/asterixorobelix/afrikaburn/config/SecurityTest.kt
Owners: @YOUR_USERNAME, @BACKEND_TEAM, @QA_TEAM, @KOTLIN_TEAM

fix: JWT startup validation — 64-char min, test coverage, fix duplicate comment
  backend/.env.example
  backend/build.gradle.kts
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradlew
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
  backend/src/test/kotlin/io/asterixorobelix/afrikaburn/config/SecurityTest.kt
Owners: @YOUR_USERNAME, @BACKEND_TEAM, @QA_TEAM, @KOTLIN_TEAM

feat(#87): delete KMP template boilerplate (Greeting.kt, Platform.kt)
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/Platform.android.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Greeting.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Platform.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/Platform.ios.kt
Owners: @asterixorobelix, @TEAM_LEAD

chore(#72): upgrade Kotlin, Compose, SQLDelight, and related deps
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @DEVOPS_TEAM

fix: extract JWT_SECRET min length to named constant (detekt MagicNumber)
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
Owners: @YOUR_USERNAME, @BACKEND_TEAM

fix: extract JwtConfig to own file, refactor resolveJwtConfig to fix detekt violations
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/JwtConfig.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
Owners: @YOUR_USERNAME, @BACKEND_TEAM

chore: delete KMP template boilerplate (Greeting.kt, Platform.kt)
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/Platform.android.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Greeting.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Platform.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/Platform.ios.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix: address critical security and CI workflow issues from code review
  .github/FUNDING.md
  .github/ISSUE_TEMPLATE/config.yaml
  .github/SECURITY.md
  .github/dependabot.yaml
  .github/labeler.yaml
  .github/labels.yaml
  .github/workflows/backend-ci.yml
  .github/workflows/changelog.yaml
  .github/workflows/labels.yaml
  .github/workflows/mobile-cd.yml
  .github/workflows/mobile-ci.yml
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @SECURITY_TEAM, @BACKEND_TEAM

fixes
  mobile/.claude/settings.local.json
  mobile/fastlane/Gemfile.lock
  mobile/gradle.properties
  mobile/gradle/gradle-daemon-jvm.properties
  mobile/gradle/libs.versions.toml
  mobile/gradle/wrapper/gradle-wrapper.properties
  mobile/settings.gradle.kts
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM, @ANDROID_TEAM

remove clock import in a bunch of places
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UnlockStateRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UserCampPinRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateService.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateServiceTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/GeofenceServiceTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

bunch of fixes
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UnlockStateRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/UnlockStateRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateService.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManager.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateServiceTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/GeofenceServiceTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManagerTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

fix: persist navigation state across config changes with rememberSaveable
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

detekt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

refactor: extract savers and bottom bar logic to fix detekt LongMethod
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

chore: delete unused Greeting and Platform template classes
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/Platform.android.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Greeting.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Platform.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/Platform.ios.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix codeql
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

updates
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

changes to yml
  .github/labeler.yaml
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: resolve Kotlin/Native test compilation errors
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateServiceTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManagerTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItemFamilyFilterTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItemTest.kt
Owners: @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

fix: add CocoaPods install and use xcworkspace for iOS CodeQL build
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: add missing backend gradle wrapper jar and fix labels permissions
  .github/workflows/labels.yaml
  backend/gradle/wrapper/gradle-wrapper.jar
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @BACKEND_TEAM

fix: regenerate backend gradle wrapper with correct Gradle 8.13 jar
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
Owners: @YOUR_USERNAME, @BACKEND_TEAM

fix: update Exposed imports for v1.x package restructuring
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Databases.kt
Owners: @YOUR_USERNAME, @BACKEND_TEAM

chore(deps): combine all dependabot dependency updates
  .github/workflows/codeql.yml
  .github/workflows/pr-validation.yaml
  backend/build.gradle.kts
  backend/gradle/wrapper/gradle-wrapper.properties
  mobile/gradle/libs.versions.toml
  mobile/gradle/wrapper/gradle-wrapper.properties
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @BACKEND_TEAM, @ANDROID_TEAM

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# This file defines who owns different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - Default reviewers for everything
* @asterixorobelix @TEAM_LEAD

# Root configuration files
*.md @YOUR_USERNAME @TECH_WRITER
LICENSE @YOUR_USERNAME @LEGAL_TEAM
.gitignore @YOUR_USERNAME @DEVOPS_TEAM
gradle.properties @YOUR_USERNAME @ANDROID_TEAM
settings.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
build.gradle.kts @YOUR_USERNAME @ANDROID_TEAM

# Dependency management
gradle/ @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
gradle/libs.versions.toml @YOUR_USERNAME @ANDROID_TEAM

# Shared/Common code (Kotlin Multiplatform)
shared/ @YOUR_USERNAME @KOTLIN_TEAM @MOBILE_TEAM
shared/src/commonMain/ @YOUR_USERNAME @KOTLIN_TEAM
shared/src/commonTest/ @YOUR_USERNAME @KOTLIN_TEAM @QA_TEAM

# Android-specific code
androidApp/ @YOUR_USERNAME @ANDROID_TEAM
shared/src/androidMain/ @YOUR_USERNAME @ANDROID_TEAM
*.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
proguard-rules.pro @YOUR_USERNAME @ANDROID_TEAM

# iOS-specific code  
iosApp/ @YOUR_USERNAME @IOS_TEAM
shared/src/iosMain/ @YOUR_USERNAME @IOS_TEAM
*.swift @YOUR_USERNAME @IOS_TEAM
*.xcodeproj/ @YOUR_USERNAME @IOS_TEAM
*.xcworkspace/ @YOUR_USERNAME @IOS_TEAM
*.plist @YOUR_USERNAME @IOS_TEAM

# UI/UX related files
shared/src/commonMain/kotlin/ui/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM
shared/src/commonMain/kotlin/*/theme/ @YOUR_USERNAME @UI_UX_TEAM
shared/src/commonMain/kotlin/*/components/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM

# Business logic and architecture
shared/src/commonMain/kotlin/domain/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/data/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/di/ @YOUR_USERNAME @KOTLIN_TEAM

# Backend code (if in same repo)
backend/ @YOUR_USERNAME @BACKEND_TEAM
backend/api/ @YOUR_USERNAME @BACKEND_TEAM @API_TEAM
backend/database/ @YOUR_USERNAME @BACKEND_TEAM @DATABASE_TEAM
backend/services/ @YOUR_USERNAME @BACKEND_TEAM

# Testing files
**/test/ @YOUR_USERNAME @QA_TEAM @MOBILE_TEAM
**/androidTest/ @YOUR_USERNAME @QA_TEAM @ANDROID_TEAM
**/*Test.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM
**/*Tests.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM

# CI/CD and DevOps
.github/ @YOUR_USERNAME @DEVOPS_TEAM
.github/workflows/ @YOUR_USERNAME @DEVOPS_TEAM
scripts/ @YOUR_USERNAME @DEVOPS_TEAM

# Security-related files
.github/workflows/security.yml @YOUR_USERNAME @SECURITY_TEAM @DEVOPS_TEAM
**/security/ @YOUR_USERNAME @SECURITY_TEAM
SECURITY.md @YOUR_USERNAME @SECURITY_TEAM

# Documentation
docs/ @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
README.md @YOUR_USERNAME @TECH_WRITER
CONTRIBUTING.md @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
CHANGELOG.md @YOUR_USERNAME @TECH_WRITER

# Code quality and linting
detekt.yml @YOUR_USERNAME @KOTLIN_TEAM
.editorconfig @YOUR_USERNAME @MOBILE_TEAM

# Assets and resources
assets/ @YOUR_USERNAME @UI_UX_TEAM @DESIGNER
androidApp/src/main/res/ @YOUR_USERNAME @ANDROID_TEAM @UI_UX_TEAM
iosApp/*/Assets.xcassets/ @YOUR_USERNAME @IOS_TEAM @UI_UX_TEAM

# Store-related files
assets/store/ @YOUR_USERNAME @MARKETING_TEAM @UI_UX_TEAM
fastlane/ @YOUR_USERNAME @DEVOPS_TEAM @MARKETING_TEAM

# Configuration files that require special attention
keystore.properties @YOUR_USERNAME @SECURITY_TEAM @ANDROID_TEAM
google-services.json @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
GoogleService-Info.plist @YOUR_USERNAME @IOS_TEAM @DEVOPS_TEAM

# Package/module specific owners
# Add more specific rules as your project grows

# Example team/user mappings (replace with actual GitHub usernames):
# @YOUR_USERNAME - Project owner/maintainer
# @TEAM_LEAD - Technical lead
# @ANDROID_TEAM - Android developers
# @IOS_TEAM - iOS developers  
# @KOTLIN_TEAM - Kotlin/KMP specialists
# @MOBILE_TEAM - General mobile developers
# @BACKEND_TEAM - Backend developers
# @UI_UX_TEAM - UI/UX designers and frontend developers
# @QA_TEAM - Quality assurance engineers
# @DEVOPS_TEAM - DevOps engineers
# @SECURITY_TEAM - Security specialists
# @TECH_WRITER - Technical writers
# @MARKETING_TEAM - Marketing team
# @LEGAL_TEAM - Legal team

# Note: Remove teams/users that don't exist in your organization
# Add specific rules for critical files that need extra review
# Consider using wildcards for entire directories vs individual files
