Repository asterixorobelix/afrikaburn_companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @LEGAL_TEAM, @DEVOPS_TEAM, @ANDROID_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @QA_TEAM, @IOS_TEAM, @UI_UX_TEAM, @BACKEND_TEAM, @API_TEAM, @DATABASE_TEAM, @SECURITY_TEAM, @DESIGNER, @MARKETING_TEAM

stage 8
  .planning/phases/08-polish/08-01-PLAN.md
Owners: @YOUR_USERNAME, @TECH_WRITER

change to new theme
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Owners: @asterixorobelix, @TEAM_LEAD

Bump version to v2.1.23
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

claude
  CLAUDE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

feat: add event-year-based unlock reset so tabs re-lock for new event years
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UnlockStateRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/UnlockStateRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManager.kt
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/2.sqm
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/UnlockState.sq
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManagerTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

chore: bump fastlane minimum version to 2.226
  mobile/fastlane/Gemfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

refactor: replace manual iOS cert management with Fastlane Match in CD
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.24
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: correct Fastlane project paths for CI
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

Bump version to v2.1.25
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

optimizations
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: optimize iOS CI build speed and remove empty Pluginfile
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Pluginfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

Bump version to v2.1.26
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: resolve compiler warnings for deprecated task(), expect/actual classes, and conflicting overloads
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationService.ios.kt
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD

refactor: use tasks.register() to avoid unused variable suppress
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: skip simulator framework build in CD to halve iOS link time
  mobile/composeApp/build.gradle.kts
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @DEVOPS_TEAM, @MARKETING_TEAM

fix: save konan cache on failure, split Gradle from Fastlane for iOS CD
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

Bump version to v2.1.27
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: replace deprecated sign-android-release action with inline jarsigner
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix: override Xcode signing for CI with Match provisioning profile
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

Bump version to v2.1.28
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: add MapLibre CocoaPods and SQLite linking for iOS build
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
  mobile/fastlane/Gemfile
  mobile/iosApp/Configuration/Config.xcconfig
  mobile/iosApp/Podfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM, @IOS_TEAM

Bump version to v2.1.29
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: resolve CocoaPods signing conflicts and missing bundle identifier
  mobile/fastlane/Fastfile
  mobile/iosApp/Podfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM, @IOS_TEAM

Bump version to v2.1.30
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: restore PROVISIONING_PROFILE_SPECIFIER to xcargs for archive step
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

Bump version to v2.1.31
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: add PRODUCT_NAME to xcargs to fix empty .app name from broken xcconfig chain
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

Bump version to v2.1.32
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: move PRODUCT_NAME/BUNDLE_ID from xcargs to target build settings
  mobile/fastlane/Fastfile
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM, @IOS_TEAM

Bump version to v2.1.33
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: add OTHER_LDFLAGS to target build settings for sqlite3 linking
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Owners: @YOUR_USERNAME, @IOS_TEAM

Bump version to v2.1.34
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: restore xcconfig chain in Podfile post_install instead of duplicating values
  mobile/iosApp/Podfile
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Owners: @YOUR_USERNAME, @IOS_TEAM

Bump version to v2.1.35
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: add PRODUCT_NAME/BUNDLE_ID/LDFLAGS directly to target build settings
  mobile/iosApp/Podfile
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Owners: @YOUR_USERNAME, @IOS_TEAM

Bump version to v2.1.36
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: add setup_ci to fastlane to prevent codesign hang on CI
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

Bump version to v2.1.37
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix: use App Store Connect API Key for TestFlight upload on CI
  .github/workflows/mobile-cd.yml
  mobile/fastlane/.env.default
  mobile/fastlane/Fastfile
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @MARKETING_TEAM

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# This file defines who owns different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - Default reviewers for everything
* @asterixorobelix @TEAM_LEAD

# Root configuration files
*.md @YOUR_USERNAME @TECH_WRITER
LICENSE @YOUR_USERNAME @LEGAL_TEAM
.gitignore @YOUR_USERNAME @DEVOPS_TEAM
gradle.properties @YOUR_USERNAME @ANDROID_TEAM
settings.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
build.gradle.kts @YOUR_USERNAME @ANDROID_TEAM

# Dependency management
gradle/ @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
gradle/libs.versions.toml @YOUR_USERNAME @ANDROID_TEAM

# Shared/Common code (Kotlin Multiplatform)
shared/ @YOUR_USERNAME @KOTLIN_TEAM @MOBILE_TEAM
shared/src/commonMain/ @YOUR_USERNAME @KOTLIN_TEAM
shared/src/commonTest/ @YOUR_USERNAME @KOTLIN_TEAM @QA_TEAM

# Android-specific code
androidApp/ @YOUR_USERNAME @ANDROID_TEAM
shared/src/androidMain/ @YOUR_USERNAME @ANDROID_TEAM
*.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
proguard-rules.pro @YOUR_USERNAME @ANDROID_TEAM

# iOS-specific code  
iosApp/ @YOUR_USERNAME @IOS_TEAM
shared/src/iosMain/ @YOUR_USERNAME @IOS_TEAM
*.swift @YOUR_USERNAME @IOS_TEAM
*.xcodeproj/ @YOUR_USERNAME @IOS_TEAM
*.xcworkspace/ @YOUR_USERNAME @IOS_TEAM
*.plist @YOUR_USERNAME @IOS_TEAM

# UI/UX related files
shared/src/commonMain/kotlin/ui/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM
shared/src/commonMain/kotlin/*/theme/ @YOUR_USERNAME @UI_UX_TEAM
shared/src/commonMain/kotlin/*/components/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM

# Business logic and architecture
shared/src/commonMain/kotlin/domain/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/data/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/di/ @YOUR_USERNAME @KOTLIN_TEAM

# Backend code (if in same repo)
backend/ @YOUR_USERNAME @BACKEND_TEAM
backend/api/ @YOUR_USERNAME @BACKEND_TEAM @API_TEAM
backend/database/ @YOUR_USERNAME @BACKEND_TEAM @DATABASE_TEAM
backend/services/ @YOUR_USERNAME @BACKEND_TEAM

# Testing files
**/test/ @YOUR_USERNAME @QA_TEAM @MOBILE_TEAM
**/androidTest/ @YOUR_USERNAME @QA_TEAM @ANDROID_TEAM
**/*Test.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM
**/*Tests.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM

# CI/CD and DevOps
.github/ @YOUR_USERNAME @DEVOPS_TEAM
.github/workflows/ @YOUR_USERNAME @DEVOPS_TEAM
scripts/ @YOUR_USERNAME @DEVOPS_TEAM

# Security-related files
.github/workflows/security.yml @YOUR_USERNAME @SECURITY_TEAM @DEVOPS_TEAM
**/security/ @YOUR_USERNAME @SECURITY_TEAM
SECURITY.md @YOUR_USERNAME @SECURITY_TEAM

# Documentation
docs/ @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
README.md @YOUR_USERNAME @TECH_WRITER
CONTRIBUTING.md @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
CHANGELOG.md @YOUR_USERNAME @TECH_WRITER

# Code quality and linting
detekt.yml @YOUR_USERNAME @KOTLIN_TEAM
.editorconfig @YOUR_USERNAME @MOBILE_TEAM

# Assets and resources
assets/ @YOUR_USERNAME @UI_UX_TEAM @DESIGNER
androidApp/src/main/res/ @YOUR_USERNAME @ANDROID_TEAM @UI_UX_TEAM
iosApp/*/Assets.xcassets/ @YOUR_USERNAME @IOS_TEAM @UI_UX_TEAM

# Store-related files
assets/store/ @YOUR_USERNAME @MARKETING_TEAM @UI_UX_TEAM
fastlane/ @YOUR_USERNAME @DEVOPS_TEAM @MARKETING_TEAM

# Configuration files that require special attention
keystore.properties @YOUR_USERNAME @SECURITY_TEAM @ANDROID_TEAM
google-services.json @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
GoogleService-Info.plist @YOUR_USERNAME @IOS_TEAM @DEVOPS_TEAM

# Package/module specific owners
# Add more specific rules as your project grows

# Example team/user mappings (replace with actual GitHub usernames):
# @YOUR_USERNAME - Project owner/maintainer
# @TEAM_LEAD - Technical lead
# @ANDROID_TEAM - Android developers
# @IOS_TEAM - iOS developers  
# @KOTLIN_TEAM - Kotlin/KMP specialists
# @MOBILE_TEAM - General mobile developers
# @BACKEND_TEAM - Backend developers
# @UI_UX_TEAM - UI/UX designers and frontend developers
# @QA_TEAM - Quality assurance engineers
# @DEVOPS_TEAM - DevOps engineers
# @SECURITY_TEAM - Security specialists
# @TECH_WRITER - Technical writers
# @MARKETING_TEAM - Marketing team
# @LEGAL_TEAM - Legal team

# Note: Remove teams/users that don't exist in your organization
# Add specific rules for critical files that need extra review
# Consider using wildcards for entire directories vs individual files
