Repository asterixorobelix/afrikaburn_companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @LEGAL_TEAM, @DEVOPS_TEAM, @ANDROID_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @QA_TEAM, @IOS_TEAM, @UI_UX_TEAM, @BACKEND_TEAM, @API_TEAM, @DATABASE_TEAM, @SECURITY_TEAM, @DESIGNER, @MARKETING_TEAM

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# This file defines who owns different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - Default reviewers for everything
* @asterixorobelix @TEAM_LEAD

# Root configuration files
*.md @YOUR_USERNAME @TECH_WRITER
LICENSE @YOUR_USERNAME @LEGAL_TEAM
.gitignore @YOUR_USERNAME @DEVOPS_TEAM
gradle.properties @YOUR_USERNAME @ANDROID_TEAM
settings.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
build.gradle.kts @YOUR_USERNAME @ANDROID_TEAM

# Dependency management
gradle/ @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
gradle/libs.versions.toml @YOUR_USERNAME @ANDROID_TEAM

# Shared/Common code (Kotlin Multiplatform)
shared/ @YOUR_USERNAME @KOTLIN_TEAM @MOBILE_TEAM
shared/src/commonMain/ @YOUR_USERNAME @KOTLIN_TEAM
shared/src/commonTest/ @YOUR_USERNAME @KOTLIN_TEAM @QA_TEAM

# Android-specific code
androidApp/ @YOUR_USERNAME @ANDROID_TEAM
shared/src/androidMain/ @YOUR_USERNAME @ANDROID_TEAM
*.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
proguard-rules.pro @YOUR_USERNAME @ANDROID_TEAM

# iOS-specific code  
iosApp/ @YOUR_USERNAME @IOS_TEAM
shared/src/iosMain/ @YOUR_USERNAME @IOS_TEAM
*.swift @YOUR_USERNAME @IOS_TEAM
*.xcodeproj/ @YOUR_USERNAME @IOS_TEAM
*.xcworkspace/ @YOUR_USERNAME @IOS_TEAM
*.plist @YOUR_USERNAME @IOS_TEAM

# UI/UX related files
shared/src/commonMain/kotlin/ui/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM
shared/src/commonMain/kotlin/*/theme/ @YOUR_USERNAME @UI_UX_TEAM
shared/src/commonMain/kotlin/*/components/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM

# Business logic and architecture
shared/src/commonMain/kotlin/domain/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/data/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/di/ @YOUR_USERNAME @KOTLIN_TEAM

# Backend code (if in same repo)
backend/ @YOUR_USERNAME @BACKEND_TEAM
backend/api/ @YOUR_USERNAME @BACKEND_TEAM @API_TEAM
backend/database/ @YOUR_USERNAME @BACKEND_TEAM @DATABASE_TEAM
backend/services/ @YOUR_USERNAME @BACKEND_TEAM

# Testing files
**/test/ @YOUR_USERNAME @QA_TEAM @MOBILE_TEAM
**/androidTest/ @YOUR_USERNAME @QA_TEAM @ANDROID_TEAM
**/*Test.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM
**/*Tests.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM

# CI/CD and DevOps
.github/ @YOUR_USERNAME @DEVOPS_TEAM
.github/workflows/ @YOUR_USERNAME @DEVOPS_TEAM
scripts/ @YOUR_USERNAME @DEVOPS_TEAM

# Security-related files
.github/workflows/security.yml @YOUR_USERNAME @SECURITY_TEAM @DEVOPS_TEAM
**/security/ @YOUR_USERNAME @SECURITY_TEAM
SECURITY.md @YOUR_USERNAME @SECURITY_TEAM

# Documentation
docs/ @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
README.md @YOUR_USERNAME @TECH_WRITER
CONTRIBUTING.md @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
CHANGELOG.md @YOUR_USERNAME @TECH_WRITER

# Code quality and linting
detekt.yml @YOUR_USERNAME @KOTLIN_TEAM
.editorconfig @YOUR_USERNAME @MOBILE_TEAM

# Assets and resources
assets/ @YOUR_USERNAME @UI_UX_TEAM @DESIGNER
androidApp/src/main/res/ @YOUR_USERNAME @ANDROID_TEAM @UI_UX_TEAM
iosApp/*/Assets.xcassets/ @YOUR_USERNAME @IOS_TEAM @UI_UX_TEAM

# Store-related files
assets/store/ @YOUR_USERNAME @MARKETING_TEAM @UI_UX_TEAM
fastlane/ @YOUR_USERNAME @DEVOPS_TEAM @MARKETING_TEAM

# Configuration files that require special attention
keystore.properties @YOUR_USERNAME @SECURITY_TEAM @ANDROID_TEAM
google-services.json @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
GoogleService-Info.plist @YOUR_USERNAME @IOS_TEAM @DEVOPS_TEAM

# Package/module specific owners
# Add more specific rules as your project grows

# Example team/user mappings (replace with actual GitHub usernames):
# @YOUR_USERNAME - Project owner/maintainer
# @TEAM_LEAD - Technical lead
# @ANDROID_TEAM - Android developers
# @IOS_TEAM - iOS developers  
# @KOTLIN_TEAM - Kotlin/KMP specialists
# @MOBILE_TEAM - General mobile developers
# @BACKEND_TEAM - Backend developers
# @UI_UX_TEAM - UI/UX designers and frontend developers
# @QA_TEAM - Quality assurance engineers
# @DEVOPS_TEAM - DevOps engineers
# @SECURITY_TEAM - Security specialists
# @TECH_WRITER - Technical writers
# @MARKETING_TEAM - Marketing team
# @LEGAL_TEAM - Legal team

# Note: Remove teams/users that don't exist in your organization
# Add specific rules for critical files that need extra review
# Consider using wildcards for entire directories vs individual files

Update README.md
  README.md
Owners: @YOUR_USERNAME, @TECH_WRITER

create a dummy codeql
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

dummy google services
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

detekt
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.ios.kt
Owners: @asterixorobelix, @TEAM_LEAD

update readme
  README.md
Owners: @YOUR_USERNAME, @TECH_WRITER

begin about screen
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD

improve about screen
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/PageIndicator.kt
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD

update the strings.
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Owners: @asterixorobelix, @TEAM_LEAD

add text
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

add images
  mobile/composeApp/src/commonMain/composeResources/drawable/20531795.png
  mobile/composeApp/src/commonMain/composeResources/drawable/600px-Quaggapedia_OOTB.jpg
  mobile/composeApp/src/commonMain/composeResources/drawable/Laura-Niggeschmidt-Afrika-Burn-76.webp
  mobile/composeApp/src/commonMain/composeResources/drawable/images.jpeg
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix urls
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Owners: @asterixorobelix, @TEAM_LEAD

update the clipping
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
Owners: @asterixorobelix, @TEAM_LEAD

directions screen
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/composeResources/drawable/New-Turnoff.jpg
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD

cleanup
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/PageIndicator.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix ci
  .github/workflows/mobile-ci.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix ci
  .github/workflows/mobile-ci.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

try a new pr-validation
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

try a new pr-validation
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

PR validation
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

PR validation
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

begin projects
  mobile/composeApp/src/commonMain/composeResources/files/WTFArtworks.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFEvents.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFMutantVehicles.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFPerformances.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFRovingArtworks.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFThemeCamps.json
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

begin project tab
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

add data classes
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/Artist.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItem.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/TabDataSource.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD

update claude
  mobile/CLAUDE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

update claude
  mobile/CLAUDE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

update claude
  mobile/CLAUDE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

begin retrieving info from json
  mobile/CLAUDE.md
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/datasource/JsonResourceDataSource.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/datasource/JsonResourceDataSourceImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/ProjectsRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/ProjectType.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @TECH_WRITER, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD, @DEVOPS_TEAM

step 2
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiState.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsViewModel.kt
Owners: @asterixorobelix, @TEAM_LEAD

setup the modules
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/AppModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DataModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/KoinCompose.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
Owners: @asterixorobelix, @TEAM_LEAD

load json on project screen
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

tests
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/TestSuite.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/datasource/JsonResourceDataSourceImplTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/ProjectsIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItemTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModelTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsScreenUiStateTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiStateTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsViewModelTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

family friendly filter
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItem.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiState.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/FamilyFilterIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItemFamilyFilterTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/FamilyFilterUiStateTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/FamilyFilterViewModelTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

night filter
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItem.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/TimeFilter.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiState.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/TimeFilterIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItemTimeFilterTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/TimeFilterViewModelTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

change icon
  mobile/composeApp/src/androidMain/ic_launcher-playstore.png
  mobile/composeApp/src/androidMain/res/drawable-v24/ic_launcher_foreground.xml
  mobile/composeApp/src/androidMain/res/drawable/ic_launcher_background.xml
  mobile/composeApp/src/androidMain/res/drawable/ic_launcher_foreground.xml
  mobile/composeApp/src/androidMain/res/mipmap-hdpi/ic_launcher.png
  mobile/composeApp/src/androidMain/res/mipmap-hdpi/ic_launcher.webp
  mobile/composeApp/src/androidMain/res/mipmap-hdpi/ic_launcher_round.png
  mobile/composeApp/src/androidMain/res/mipmap-hdpi/ic_launcher_round.webp
  mobile/composeApp/src/androidMain/res/mipmap-mdpi/ic_launcher.png
  mobile/composeApp/src/androidMain/res/mipmap-mdpi/ic_launcher.webp
  mobile/composeApp/src/androidMain/res/mipmap-mdpi/ic_launcher_round.png
  mobile/composeApp/src/androidMain/res/mipmap-mdpi/ic_launcher_round.webp
  mobile/composeApp/src/androidMain/res/mipmap-xhdpi/ic_launcher.png
  mobile/composeApp/src/androidMain/res/mipmap-xhdpi/ic_launcher.webp
  mobile/composeApp/src/androidMain/res/mipmap-xhdpi/ic_launcher_round.png
  mobile/composeApp/src/androidMain/res/mipmap-xhdpi/ic_launcher_round.webp
  mobile/composeApp/src/androidMain/res/mipmap-xxhdpi/ic_launcher.png
  mobile/composeApp/src/androidMain/res/mipmap-xxhdpi/ic_launcher.webp
  mobile/composeApp/src/androidMain/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile/composeApp/src/androidMain/res/mipmap-xxhdpi/ic_launcher_round.webp
  mobile/composeApp/src/androidMain/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/composeApp/src/androidMain/res/mipmap-xxxhdpi/ic_launcher.webp
  mobile/composeApp/src/androidMain/res/mipmap-xxxhdpi/ic_launcher_round.png
  mobile/composeApp/src/androidMain/res/mipmap-xxxhdpi/ic_launcher_round.webp
  resources/AfrikaburN_no_background.png
Owners: @asterixorobelix, @TEAM_LEAD

bump version and add offline map implementation plan
  OFFLINE_MAP_IMPLEMENTATION_PLAN.md
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @TECH_WRITER, @ANDROID_TEAM

fix action
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix tests
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/ProjectsIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModelTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsViewModelTest.kt
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @QA_TEAM, @KOTLIN_TEAM, @DEVOPS_TEAM

commit the gradle wrapper for actions
  mobile/gradle/wrapper/gradle-wrapper.jar
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @DEVOPS_TEAM

update claude file
  mobile/CLAUDE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

fix: resolve GradleWrapperMain ClassNotFoundException
  mobile/gradlew
Owners: @asterixorobelix, @TEAM_LEAD
