Repository asterixorobelix/afrikaburn_companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @LEGAL_TEAM, @DEVOPS_TEAM, @ANDROID_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @QA_TEAM, @IOS_TEAM, @UI_UX_TEAM, @BACKEND_TEAM, @API_TEAM, @DATABASE_TEAM, @SECURITY_TEAM, @DESIGNER, @MARKETING_TEAM

feat(02-01): extend MapUiState with projects list
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(02-01): enhance MapViewModel with project loading and code lookup
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(02-01): add marker tap handling to MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(02-01): wire MapScreen marker taps to navigation
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs(02-01): add plan summary and update project state
  .planning/STATE.md
  .planning/phases/02-markers-detail-navigation/02-01-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

fix(02-01): simplify map style to work without PMTiles
  mobile/composeApp/src/commonMain/composeResources/files/maps/README.md
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD

feat(02-01): add PMTiles for Tankwa Karoo terrain
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
  mobile/composeApp/src/commonMain/composeResources/files/maps/tankwa-karoo.pmtiles
Owners: @asterixorobelix, @TEAM_LEAD

fix(02-01): simplify style layers for remote desert region
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
Owners: @asterixorobelix, @TEAM_LEAD

docs(02): complete markers-detail-navigation phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-markers-detail-navigation/02-01-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

feat(03-01): add location library dependency
  mobile/composeApp/build.gradle.kts
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @DEVOPS_TEAM

feat(03-01): add platform-specific location permissions
  mobile/composeApp/src/androidMain/AndroidManifest.xml
  mobile/iosApp/iosApp/Info.plist
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @IOS_TEAM

feat(03-01): create LocationService expect/actual interface
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationService.android.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationService.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationService.ios.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(03-01): create LocationModule and register in DI
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/AppModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/LocationModule.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(03-01): extend MapUiState with user location fields
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(03-01): enhance MapViewModel with location tracking
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(03-01): create UserLocationMarker composable
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/UserLocationMarker.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(03-01): create MyLocationButton FAB composable
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MyLocationButton.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(03-01): integrate location features into MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

chore(03-01): fix detekt issues and configure jvm target
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/UserLocationMarker.kt
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD

docs(03-01): complete user-location-display plan
  .planning/STATE.md
  .planning/phases/03-user-location/03-01-PLAN.md
  .planning/phases/03-user-location/03-01-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

fix(03-01): trigger location permission dialog on map access
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationPermissionHandler.android.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationPermissionHandler.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationPermissionHandler.ios.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix(03-01): FAB centers map on user location
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs(03-01): complete user-location-display plan
  .planning/phases/03-user-location/03-01-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs(03): complete user-location phase
  .planning/ROADMAP.md
  .planning/STATE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

chore(04-01): add SQLDelight dependencies to version catalog
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @DEVOPS_TEAM

feat(04-01): configure SQLDelight plugin in build.gradle.kts
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

feat(04-01): create UserCampPin SQLDelight schema
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/UserCampPin.sq
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-01): create DatabaseDriverFactory expect declaration
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/database/DatabaseDriverFactory.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-01): create Android DatabaseDriverFactory implementation
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/data/database/DatabaseDriverFactory.android.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-01): create iOS DatabaseDriverFactory implementation
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/data/database/DatabaseDriverFactory.ios.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-01): create UserCampPinRepository domain interface
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/UserCampPinRepository.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-01): create UserCampPinRepositoryImpl data layer
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UserCampPinRepositoryImpl.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-01): create DatabaseModule for Koin DI
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/di/DatabaseModule.android.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DatabaseModule.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/di/DatabaseModule.ios.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-01): register databaseModule in AppModule
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/AppModule.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs(04-01): complete SQLDelight infrastructure plan
  .planning/STATE.md
  .planning/phases/04-user-camp-pin/04-01-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

feat(04-02): add camp pin string resources
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-02): extend MapUiState with camp pin states
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-02): add camp pin operations to MapViewModel
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-02): update PresentationModule to inject UserCampPinRepository
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-02): create CampPinDialog composables
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/CampPinDialog.kt
Owners: @asterixorobelix, @TEAM_LEAD

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# This file defines who owns different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - Default reviewers for everything
* @asterixorobelix @TEAM_LEAD

# Root configuration files
*.md @YOUR_USERNAME @TECH_WRITER
LICENSE @YOUR_USERNAME @LEGAL_TEAM
.gitignore @YOUR_USERNAME @DEVOPS_TEAM
gradle.properties @YOUR_USERNAME @ANDROID_TEAM
settings.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
build.gradle.kts @YOUR_USERNAME @ANDROID_TEAM

# Dependency management
gradle/ @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
gradle/libs.versions.toml @YOUR_USERNAME @ANDROID_TEAM

# Shared/Common code (Kotlin Multiplatform)
shared/ @YOUR_USERNAME @KOTLIN_TEAM @MOBILE_TEAM
shared/src/commonMain/ @YOUR_USERNAME @KOTLIN_TEAM
shared/src/commonTest/ @YOUR_USERNAME @KOTLIN_TEAM @QA_TEAM

# Android-specific code
androidApp/ @YOUR_USERNAME @ANDROID_TEAM
shared/src/androidMain/ @YOUR_USERNAME @ANDROID_TEAM
*.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
proguard-rules.pro @YOUR_USERNAME @ANDROID_TEAM

# iOS-specific code  
iosApp/ @YOUR_USERNAME @IOS_TEAM
shared/src/iosMain/ @YOUR_USERNAME @IOS_TEAM
*.swift @YOUR_USERNAME @IOS_TEAM
*.xcodeproj/ @YOUR_USERNAME @IOS_TEAM
*.xcworkspace/ @YOUR_USERNAME @IOS_TEAM
*.plist @YOUR_USERNAME @IOS_TEAM

# UI/UX related files
shared/src/commonMain/kotlin/ui/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM
shared/src/commonMain/kotlin/*/theme/ @YOUR_USERNAME @UI_UX_TEAM
shared/src/commonMain/kotlin/*/components/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM

# Business logic and architecture
shared/src/commonMain/kotlin/domain/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/data/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/di/ @YOUR_USERNAME @KOTLIN_TEAM

# Backend code (if in same repo)
backend/ @YOUR_USERNAME @BACKEND_TEAM
backend/api/ @YOUR_USERNAME @BACKEND_TEAM @API_TEAM
backend/database/ @YOUR_USERNAME @BACKEND_TEAM @DATABASE_TEAM
backend/services/ @YOUR_USERNAME @BACKEND_TEAM

# Testing files
**/test/ @YOUR_USERNAME @QA_TEAM @MOBILE_TEAM
**/androidTest/ @YOUR_USERNAME @QA_TEAM @ANDROID_TEAM
**/*Test.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM
**/*Tests.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM

# CI/CD and DevOps
.github/ @YOUR_USERNAME @DEVOPS_TEAM
.github/workflows/ @YOUR_USERNAME @DEVOPS_TEAM
scripts/ @YOUR_USERNAME @DEVOPS_TEAM

# Security-related files
.github/workflows/security.yml @YOUR_USERNAME @SECURITY_TEAM @DEVOPS_TEAM
**/security/ @YOUR_USERNAME @SECURITY_TEAM
SECURITY.md @YOUR_USERNAME @SECURITY_TEAM

# Documentation
docs/ @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
README.md @YOUR_USERNAME @TECH_WRITER
CONTRIBUTING.md @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
CHANGELOG.md @YOUR_USERNAME @TECH_WRITER

# Code quality and linting
detekt.yml @YOUR_USERNAME @KOTLIN_TEAM
.editorconfig @YOUR_USERNAME @MOBILE_TEAM

# Assets and resources
assets/ @YOUR_USERNAME @UI_UX_TEAM @DESIGNER
androidApp/src/main/res/ @YOUR_USERNAME @ANDROID_TEAM @UI_UX_TEAM
iosApp/*/Assets.xcassets/ @YOUR_USERNAME @IOS_TEAM @UI_UX_TEAM

# Store-related files
assets/store/ @YOUR_USERNAME @MARKETING_TEAM @UI_UX_TEAM
fastlane/ @YOUR_USERNAME @DEVOPS_TEAM @MARKETING_TEAM

# Configuration files that require special attention
keystore.properties @YOUR_USERNAME @SECURITY_TEAM @ANDROID_TEAM
google-services.json @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
GoogleService-Info.plist @YOUR_USERNAME @IOS_TEAM @DEVOPS_TEAM

# Package/module specific owners
# Add more specific rules as your project grows

# Example team/user mappings (replace with actual GitHub usernames):
# @YOUR_USERNAME - Project owner/maintainer
# @TEAM_LEAD - Technical lead
# @ANDROID_TEAM - Android developers
# @IOS_TEAM - iOS developers  
# @KOTLIN_TEAM - Kotlin/KMP specialists
# @MOBILE_TEAM - General mobile developers
# @BACKEND_TEAM - Backend developers
# @UI_UX_TEAM - UI/UX designers and frontend developers
# @QA_TEAM - Quality assurance engineers
# @DEVOPS_TEAM - DevOps engineers
# @SECURITY_TEAM - Security specialists
# @TECH_WRITER - Technical writers
# @MARKETING_TEAM - Marketing team
# @LEGAL_TEAM - Legal team

# Note: Remove teams/users that don't exist in your organization
# Add specific rules for critical files that need extra review
# Consider using wildcards for entire directories vs individual files
