Repository asterixorobelix/afrikaburn_companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @LEGAL_TEAM, @DEVOPS_TEAM, @ANDROID_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @QA_TEAM, @IOS_TEAM, @UI_UX_TEAM, @BACKEND_TEAM, @API_TEAM, @DATABASE_TEAM, @SECURITY_TEAM, @DESIGNER, @MARKETING_TEAM

feat(04-02): add camp pin marker layer to MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-02): add long-press gesture handling to MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(04-02): integrate camp pin dialogs into MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs(04-02): complete camp pin UI plan
  .planning/STATE.md
  .planning/phases/04-user-camp-pin/04-02-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs(04): complete user-camp-pin phase
  .planning/ROADMAP.md
  .planning/STATE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

feat(map): add legend overlay with marker colors and long-press hint
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(map): improve legend UX with collapsible animation and better positioning
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MyLocationButton.kt
Owners: @asterixorobelix, @TEAM_LEAD

chore: complete v3.0 milestone
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v3.0-REQUIREMENTS.md
  .planning/milestones/v3.0-ROADMAP.md
Owners: @YOUR_USERNAME, @TECH_WRITER

offline map
  .claude/settings.local.json
  .planning/phases/01-foundation-basic-map/01-01-PLAN.md
  .planning/phases/01-foundation-basic-map/01-02-PLAN.md
  .planning/phases/02-markers-detail-navigation/02-01-PLAN.md
  .planning/phases/04-user-camp-pin/04-01-PLAN.md
  .planning/phases/04-user-camp-pin/04-02-PLAN.md
  mobile/composeApp/src/commonMain/composeResources/files/WTFArtworks.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFThemeCamps.json
  mobile/composeApp/src/commonMain/composeResources/files/maps/afrikaburn-amenities.geojson
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
  mobile/gradle/wrapper/gradle-wrapper.properties
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @ANDROID_TEAM, @DEVOPS_TEAM

fix: address CodeRabbit review findings
  mobile/composeApp/src/commonMain/composeResources/files/WTFThemeCamps.json
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MyLocationButton.kt
Owners: @asterixorobelix, @TEAM_LEAD

Bump version to v2.1.21
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

fix(ci): update Gradle wrapper version to 8.13
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.22
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

milestone(v3.1): create Event Surprise Mode milestone structure
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

milestone(v3.1): add feature flag and testing requirements
  .planning/PROJECT.md
  .planning/ROADMAP.md
Owners: @YOUR_USERNAME, @TECH_WRITER

test(05-01): add failing tests for EventDateService
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateServiceTest.kt
Owners: @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

feat(05-01): implement EventConfig and EventDateService
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/EventConfig.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateService.kt
Owners: @asterixorobelix, @TEAM_LEAD

refactor(05-01): register EventDateService in DI
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs(05-01): complete Event Date Configuration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-event-config/05-01-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs(phase-5): add plan file to phase directory
  .planning/phases/05-event-config/05-01-PLAN.md
Owners: @YOUR_USERNAME, @TECH_WRITER

test(06-01): add failing tests for DistanceCalculator
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/util/DistanceCalculatorTest.kt
Owners: @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

feat(06-01): implement DistanceCalculator with Haversine formula
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/util/DistanceCalculator.kt
Owners: @asterixorobelix, @TEAM_LEAD

test(06-01): add failing tests for GeofenceService
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/GeofenceServiceTest.kt
Owners: @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

feat(06-01): implement GeofenceService for proximity detection
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/GeofenceService.kt
Owners: @asterixorobelix, @TEAM_LEAD

refactor(06-01): register GeofenceService in Koin DI
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
Owners: @asterixorobelix, @TEAM_LEAD

docs(06-01): complete Geofence Detection plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-geofence/06-01-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs(phase-6): complete Geofence Detection phase
  .planning/ROADMAP.md
  .planning/phases/06-geofence/06-01-PLAN.md
  .planning/phases/06-geofence/06-VERIFICATION.md
Owners: @YOUR_USERNAME, @TECH_WRITER

docs(07): capture phase context
  .planning/phases/07-tab-visibility-control/07-CONTEXT.md
Owners: @YOUR_USERNAME, @TECH_WRITER

feat(07-01): create SQLDelight schema for unlock state persistence
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/UnlockState.sq
Owners: @asterixorobelix, @TEAM_LEAD

feat(07-01): create UnlockStateRepository interface and implementation
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UnlockStateRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DatabaseModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/UnlockStateRepository.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(07-01): create UnlockConditionManager with TDD tests
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManager.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManagerTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

docs(07-01): complete UnlockConditionManager plan
  .planning/STATE.md
  .planning/phases/07-tab-visibility-control/07-01-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

feat(07-02): add getVisibleDestinations function to NavigationDestination
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/NavigationDestination.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(07-02): update BottomNavigationBar to accept destinations list
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/BottomNavigationBar.kt
Owners: @asterixorobelix, @TEAM_LEAD

feat(07-02): add welcome string resource for surprise mode unlock
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Owners: @asterixorobelix, @TEAM_LEAD

feat(07-02): integrate unlock logic into App.kt with tab visibility control
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

fix(07-02): add wasJustUnlocked tracking for welcome message display
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManager.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManagerTest.kt
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

docs(07-02): complete Navigation Integration plan with summary
  .planning/STATE.md
  .planning/phases/07-tab-visibility-control/07-02-SUMMARY.md
Owners: @YOUR_USERNAME, @TECH_WRITER

finish db
  .planning/ROADMAP.md
  .planning/phases/07-tab-visibility-control/07-01-PLAN.md
  .planning/phases/07-tab-visibility-control/07-02-PLAN.md
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/data/database/DatabaseDriverFactory.android.kt
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/1.sqm
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/data/database/DatabaseDriverFactory.ios.kt
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD

docs(phase-7): complete Tab Visibility Control phase
  .planning/ROADMAP.md
Owners: @YOUR_USERNAME, @TECH_WRITER

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# This file defines who owns different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - Default reviewers for everything
* @asterixorobelix @TEAM_LEAD

# Root configuration files
*.md @YOUR_USERNAME @TECH_WRITER
LICENSE @YOUR_USERNAME @LEGAL_TEAM
.gitignore @YOUR_USERNAME @DEVOPS_TEAM
gradle.properties @YOUR_USERNAME @ANDROID_TEAM
settings.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
build.gradle.kts @YOUR_USERNAME @ANDROID_TEAM

# Dependency management
gradle/ @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
gradle/libs.versions.toml @YOUR_USERNAME @ANDROID_TEAM

# Shared/Common code (Kotlin Multiplatform)
shared/ @YOUR_USERNAME @KOTLIN_TEAM @MOBILE_TEAM
shared/src/commonMain/ @YOUR_USERNAME @KOTLIN_TEAM
shared/src/commonTest/ @YOUR_USERNAME @KOTLIN_TEAM @QA_TEAM

# Android-specific code
androidApp/ @YOUR_USERNAME @ANDROID_TEAM
shared/src/androidMain/ @YOUR_USERNAME @ANDROID_TEAM
*.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
proguard-rules.pro @YOUR_USERNAME @ANDROID_TEAM

# iOS-specific code  
iosApp/ @YOUR_USERNAME @IOS_TEAM
shared/src/iosMain/ @YOUR_USERNAME @IOS_TEAM
*.swift @YOUR_USERNAME @IOS_TEAM
*.xcodeproj/ @YOUR_USERNAME @IOS_TEAM
*.xcworkspace/ @YOUR_USERNAME @IOS_TEAM
*.plist @YOUR_USERNAME @IOS_TEAM

# UI/UX related files
shared/src/commonMain/kotlin/ui/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM
shared/src/commonMain/kotlin/*/theme/ @YOUR_USERNAME @UI_UX_TEAM
shared/src/commonMain/kotlin/*/components/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM

# Business logic and architecture
shared/src/commonMain/kotlin/domain/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/data/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/di/ @YOUR_USERNAME @KOTLIN_TEAM

# Backend code (if in same repo)
backend/ @YOUR_USERNAME @BACKEND_TEAM
backend/api/ @YOUR_USERNAME @BACKEND_TEAM @API_TEAM
backend/database/ @YOUR_USERNAME @BACKEND_TEAM @DATABASE_TEAM
backend/services/ @YOUR_USERNAME @BACKEND_TEAM

# Testing files
**/test/ @YOUR_USERNAME @QA_TEAM @MOBILE_TEAM
**/androidTest/ @YOUR_USERNAME @QA_TEAM @ANDROID_TEAM
**/*Test.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM
**/*Tests.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM

# CI/CD and DevOps
.github/ @YOUR_USERNAME @DEVOPS_TEAM
.github/workflows/ @YOUR_USERNAME @DEVOPS_TEAM
scripts/ @YOUR_USERNAME @DEVOPS_TEAM

# Security-related files
.github/workflows/security.yml @YOUR_USERNAME @SECURITY_TEAM @DEVOPS_TEAM
**/security/ @YOUR_USERNAME @SECURITY_TEAM
SECURITY.md @YOUR_USERNAME @SECURITY_TEAM

# Documentation
docs/ @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
README.md @YOUR_USERNAME @TECH_WRITER
CONTRIBUTING.md @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
CHANGELOG.md @YOUR_USERNAME @TECH_WRITER

# Code quality and linting
detekt.yml @YOUR_USERNAME @KOTLIN_TEAM
.editorconfig @YOUR_USERNAME @MOBILE_TEAM

# Assets and resources
assets/ @YOUR_USERNAME @UI_UX_TEAM @DESIGNER
androidApp/src/main/res/ @YOUR_USERNAME @ANDROID_TEAM @UI_UX_TEAM
iosApp/*/Assets.xcassets/ @YOUR_USERNAME @IOS_TEAM @UI_UX_TEAM

# Store-related files
assets/store/ @YOUR_USERNAME @MARKETING_TEAM @UI_UX_TEAM
fastlane/ @YOUR_USERNAME @DEVOPS_TEAM @MARKETING_TEAM

# Configuration files that require special attention
keystore.properties @YOUR_USERNAME @SECURITY_TEAM @ANDROID_TEAM
google-services.json @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
GoogleService-Info.plist @YOUR_USERNAME @IOS_TEAM @DEVOPS_TEAM

# Package/module specific owners
# Add more specific rules as your project grows

# Example team/user mappings (replace with actual GitHub usernames):
# @YOUR_USERNAME - Project owner/maintainer
# @TEAM_LEAD - Technical lead
# @ANDROID_TEAM - Android developers
# @IOS_TEAM - iOS developers  
# @KOTLIN_TEAM - Kotlin/KMP specialists
# @MOBILE_TEAM - General mobile developers
# @BACKEND_TEAM - Backend developers
# @UI_UX_TEAM - UI/UX designers and frontend developers
# @QA_TEAM - Quality assurance engineers
# @DEVOPS_TEAM - DevOps engineers
# @SECURITY_TEAM - Security specialists
# @TECH_WRITER - Technical writers
# @MARKETING_TEAM - Marketing team
# @LEGAL_TEAM - Legal team

# Note: Remove teams/users that don't exist in your organization
# Add specific rules for critical files that need extra review
# Consider using wildcards for entire directories vs individual files
