Repository asterixorobelix/afrikaburn_companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @LEGAL_TEAM, @DEVOPS_TEAM, @ANDROID_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @QA_TEAM, @IOS_TEAM, @UI_UX_TEAM, @BACKEND_TEAM, @API_TEAM, @DATABASE_TEAM, @SECURITY_TEAM, @DESIGNER, @MARKETING_TEAM

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# This file defines who owns different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - Default reviewers for everything
* @asterixorobelix @TEAM_LEAD

# Root configuration files
*.md @YOUR_USERNAME @TECH_WRITER
LICENSE @YOUR_USERNAME @LEGAL_TEAM
.gitignore @YOUR_USERNAME @DEVOPS_TEAM
gradle.properties @YOUR_USERNAME @ANDROID_TEAM
settings.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
build.gradle.kts @YOUR_USERNAME @ANDROID_TEAM

# Dependency management
gradle/ @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
gradle/libs.versions.toml @YOUR_USERNAME @ANDROID_TEAM

# Shared/Common code (Kotlin Multiplatform)
shared/ @YOUR_USERNAME @KOTLIN_TEAM @MOBILE_TEAM
shared/src/commonMain/ @YOUR_USERNAME @KOTLIN_TEAM
shared/src/commonTest/ @YOUR_USERNAME @KOTLIN_TEAM @QA_TEAM

# Android-specific code
androidApp/ @YOUR_USERNAME @ANDROID_TEAM
shared/src/androidMain/ @YOUR_USERNAME @ANDROID_TEAM
*.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
proguard-rules.pro @YOUR_USERNAME @ANDROID_TEAM

# iOS-specific code  
iosApp/ @YOUR_USERNAME @IOS_TEAM
shared/src/iosMain/ @YOUR_USERNAME @IOS_TEAM
*.swift @YOUR_USERNAME @IOS_TEAM
*.xcodeproj/ @YOUR_USERNAME @IOS_TEAM
*.xcworkspace/ @YOUR_USERNAME @IOS_TEAM
*.plist @YOUR_USERNAME @IOS_TEAM

# UI/UX related files
shared/src/commonMain/kotlin/ui/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM
shared/src/commonMain/kotlin/*/theme/ @YOUR_USERNAME @UI_UX_TEAM
shared/src/commonMain/kotlin/*/components/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM

# Business logic and architecture
shared/src/commonMain/kotlin/domain/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/data/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/di/ @YOUR_USERNAME @KOTLIN_TEAM

# Backend code (if in same repo)
backend/ @YOUR_USERNAME @BACKEND_TEAM
backend/api/ @YOUR_USERNAME @BACKEND_TEAM @API_TEAM
backend/database/ @YOUR_USERNAME @BACKEND_TEAM @DATABASE_TEAM
backend/services/ @YOUR_USERNAME @BACKEND_TEAM

# Testing files
**/test/ @YOUR_USERNAME @QA_TEAM @MOBILE_TEAM
**/androidTest/ @YOUR_USERNAME @QA_TEAM @ANDROID_TEAM
**/*Test.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM
**/*Tests.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM

# CI/CD and DevOps
.github/ @YOUR_USERNAME @DEVOPS_TEAM
.github/workflows/ @YOUR_USERNAME @DEVOPS_TEAM
scripts/ @YOUR_USERNAME @DEVOPS_TEAM

# Security-related files
.github/workflows/security.yml @YOUR_USERNAME @SECURITY_TEAM @DEVOPS_TEAM
**/security/ @YOUR_USERNAME @SECURITY_TEAM
SECURITY.md @YOUR_USERNAME @SECURITY_TEAM

# Documentation
docs/ @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
README.md @YOUR_USERNAME @TECH_WRITER
CONTRIBUTING.md @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
CHANGELOG.md @YOUR_USERNAME @TECH_WRITER

# Code quality and linting
detekt.yml @YOUR_USERNAME @KOTLIN_TEAM
.editorconfig @YOUR_USERNAME @MOBILE_TEAM

# Assets and resources
assets/ @YOUR_USERNAME @UI_UX_TEAM @DESIGNER
androidApp/src/main/res/ @YOUR_USERNAME @ANDROID_TEAM @UI_UX_TEAM
iosApp/*/Assets.xcassets/ @YOUR_USERNAME @IOS_TEAM @UI_UX_TEAM

# Store-related files
assets/store/ @YOUR_USERNAME @MARKETING_TEAM @UI_UX_TEAM
fastlane/ @YOUR_USERNAME @DEVOPS_TEAM @MARKETING_TEAM

# Configuration files that require special attention
keystore.properties @YOUR_USERNAME @SECURITY_TEAM @ANDROID_TEAM
google-services.json @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
GoogleService-Info.plist @YOUR_USERNAME @IOS_TEAM @DEVOPS_TEAM

# Package/module specific owners
# Add more specific rules as your project grows

# Example team/user mappings (replace with actual GitHub usernames):
# @YOUR_USERNAME - Project owner/maintainer
# @TEAM_LEAD - Technical lead
# @ANDROID_TEAM - Android developers
# @IOS_TEAM - iOS developers  
# @KOTLIN_TEAM - Kotlin/KMP specialists
# @MOBILE_TEAM - General mobile developers
# @BACKEND_TEAM - Backend developers
# @UI_UX_TEAM - UI/UX designers and frontend developers
# @QA_TEAM - Quality assurance engineers
# @DEVOPS_TEAM - DevOps engineers
# @SECURITY_TEAM - Security specialists
# @TECH_WRITER - Technical writers
# @MARKETING_TEAM - Marketing team
# @LEGAL_TEAM - Legal team

# Note: Remove teams/users that don't exist in your organization
# Add specific rules for critical files that need extra review
# Consider using wildcards for entire directories vs individual files

Implement Option A: Fix iOS build performance and XCFramework conflicts
  .github/workflows/mobile-cd.yml
  mobile/iosApp/Configuration/Config.xcconfig
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @IOS_TEAM

Bump version to v2.1.10
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

Fix iOS code signing configuration for manual provisioning
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.11
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

try ios again
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.12
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

base 64 decode
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.13
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

Fix iOS exportArchive provisioning profile error in GitHub Actions
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

Bump version to v2.1.14
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

Bump version to v2.1.15
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

Bump version to v2.1.16
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

Bump version to v2.1.17
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

backend codeql fix
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

get codeql to check for backend changes only
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

undo change
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

amend for backend changes
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix(ci): improve CodeQL matrix job filtering for selective execution
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix the di crash
  mobile/composeApp/src/androidMain/AndroidManifest.xml
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/AfrikaBurnApplication.kt
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/KoinInitializer.android.kt
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/MainActivity.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/KoinInitializer.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/KoinInitializer.ios.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/MainViewController.kt
Owners: @asterixorobelix, @TEAM_LEAD

cleanup
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/MainViewController.kt
Owners: @asterixorobelix, @TEAM_LEAD

Bump version to v2.1.18
  mobile/composeApp/build.gradle.kts
Owners: @YOUR_USERNAME, @ANDROID_TEAM

specify
  .claude/commands/analyze.md
  .claude/commands/clarify.md
  .claude/commands/constitution.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Owners: @YOUR_USERNAME, @TECH_WRITER, @DEVOPS_TEAM

add constitution
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
Owners: @YOUR_USERNAME, @TECH_WRITER

constitution
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  specs/001-a-comprehensive-mobile/spec.md
Owners: @YOUR_USERNAME, @TECH_WRITER

spec
  specs/001-a-comprehensive-mobile/spec.md
Owners: @YOUR_USERNAME, @TECH_WRITER

update spec
  specs/001-a-comprehensive-mobile/spec.md
Owners: @YOUR_USERNAME, @TECH_WRITER

add research and plans, spec
  CLAUDE.md
  specs/001-a-comprehensive-mobile/contracts/api-spec.yaml
  specs/001-a-comprehensive-mobile/data-model.md
  specs/001-a-comprehensive-mobile/plan.md
  specs/001-a-comprehensive-mobile/quickstart.md
  specs/001-a-comprehensive-mobile/research.md
  specs/001-a-comprehensive-mobile/spec.md
  specs/001-a-comprehensive-mobile/tasks.md
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD

update the claude file
  CLAUDE.md
Owners: @YOUR_USERNAME, @TECH_WRITER

fix: Make Google Services plugin optional for CI builds
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD

fix: Make Google Services plugin optional for CI builds (#80)
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD

fix: Make Google Services plugin optional for CI builds
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD

updates
  CLAUDE.md
  specs/001-a-comprehensive-mobile/plan.md
Owners: @YOUR_USERNAME, @TECH_WRITER

planning (#75)
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  CLAUDE.md
  specs/001-a-comprehensive-mobile/contracts/api-spec.yaml
  specs/001-a-comprehensive-mobile/data-model.md
  specs/001-a-comprehensive-mobile/plan.md
  specs/001-a-comprehensive-mobile/quickstart.md
  specs/001-a-comprehensive-mobile/research.md
  specs/001-a-comprehensive-mobile/spec.md
  specs/001-a-comprehensive-mobile/tasks.md
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD

create mobile and backend dbs
  backend/build.gradle.kts
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/database/DatabaseManager.kt
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/ArtInstallation.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/ContentPackage.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/Event.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/MOOPReport.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/Participant.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/PersonalScheduleItem.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/SyncManager.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/ThemeCamp.sq
  mobile/detekt.yml
  mobile/gradle/libs.versions.toml
  specs/001-a-comprehensive-mobile/tasks.md
Owners: @YOUR_USERNAME, @BACKEND_TEAM, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD, @KOTLIN_TEAM, @DEVOPS_TEAM, @TECH_WRITER

stage 3.3
  backend/build.gradle.kts
  backend/src/test/kotlin/api/ArtInstallationsApiTest.kt
  backend/src/test/kotlin/api/EventsApiTest.kt
  backend/src/test/kotlin/api/MOOPReportsApiTest.kt
  backend/src/test/kotlin/api/MutantVehiclesApiTest.kt
  backend/src/test/kotlin/api/SyncApiTest.kt
  backend/src/test/kotlin/api/ThemeCampsApiTest.kt
  backend/src/test/kotlin/api/WeatherAlertsApiTest.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ArtInstallation.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/CampLocation.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ContentPackage.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/EmergencyContact.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/Event.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/EventPerformance.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/MOOPReport.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/MapPin.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ModelUtils.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/MutantVehicle.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/OfflineMap.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/Participant.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/PersonalScheduleItem.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ResourceLocation.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/SyncManager.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ThemeCamp.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/WeatherAlert.kt
  mobile/composeApp/src/commonTest/kotlin/integration/CampLocationTest.kt
  mobile/composeApp/src/commonTest/kotlin/integration/ContentUnlockingTest.kt
  mobile/composeApp/src/commonTest/kotlin/integration/MoopOfflineSyncTest.kt
  mobile/composeApp/src/commonTest/kotlin/integration/OfflineMapTest.kt
  mobile/composeApp/src/commonTest/kotlin/integration/ScheduleConflictTest.kt
  mobile/composeApp/src/commonTest/kotlin/integration/SmartSyncPriorityTest.kt
  specs/001-a-comprehensive-mobile/tasks.md
Owners: @YOUR_USERNAME, @BACKEND_TEAM, @QA_TEAM, @KOTLIN_TEAM, @asterixorobelix, @TEAM_LEAD, @TECH_WRITER

repositories
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ArtInstallationRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/EventRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/MapRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/SyncRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ThemeCampRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/ArtInstallationRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/EventRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/MapRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/SyncRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/ThemeCampRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/UserPreferencesRepository.kt
  specs/001-a-comprehensive-mobile/tasks.md
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER

test for sync
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/SyncRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/SyncRepositoryImplTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/SyncRepositoryImplUnitTest.kt
  specs/001-a-comprehensive-mobile/tasks.md
Owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM, @TECH_WRITER

map repository tests
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/MapRepositoryImplTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/MapRepositoryImplUnitTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItemTest.kt
Owners: @YOUR_USERNAME, @QA_TEAM, @KOTLIN_TEAM

3.6
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/ArtInstallationsApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/EmergencyApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/EventsApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/MoopApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/MutantVehiclesApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/PerformancesApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/ResourcesApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/SyncApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/ThemeCampsApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/WeatherApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/ArtInstallation.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/EmergencyContact.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/ErrorResponse.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/Event.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/EventPerformance.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/MOOPReport.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/MutantVehicle.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/ResourceLocation.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/SyncModels.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/ThemeCamp.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/WeatherAlert.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Routing.kt
  backend/src/test/kotlin/api/ThemeCampsApiTest.kt
  backend/src/test/kotlin/io/asterixorobelix/afrikaburn/api/EmergencyApiTest.kt
  backend/src/test/kotlin/io/asterixorobelix/afrikaburn/api/ThemeCampsApiTest.kt
  backend/test_art_api.sh
  backend/test_resources_api.sh
  backend/test_weather_api.sh
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ModelUtils.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/GetEventsUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/GetWeatherAlertsUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/ManagePersonalScheduleUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/MarkCampLocationUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/ReportMOOPUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/SyncContentUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/UnlockContentUseCase.kt
  specs/001-a-comprehensive-mobile/tasks.md
Owners: @YOUR_USERNAME, @BACKEND_TEAM, @QA_TEAM, @KOTLIN_TEAM, @asterixorobelix, @TEAM_LEAD, @TECH_WRITER

3.6 checked off
  specs/001-a-comprehensive-mobile/tasks.md
Owners: @YOUR_USERNAME, @TECH_WRITER
