Repository asterixorobelix/afrikaburn_companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asterixorobelix, @TEAM_LEAD, @YOUR_USERNAME, @TECH_WRITER, @LEGAL_TEAM, @DEVOPS_TEAM, @ANDROID_TEAM, @KOTLIN_TEAM, @MOBILE_TEAM, @QA_TEAM, @IOS_TEAM, @UI_UX_TEAM, @BACKEND_TEAM, @API_TEAM, @DATABASE_TEAM, @SECURITY_TEAM, @DESIGNER, @MARKETING_TEAM

update the readme
  README.md
Owners: @YOUR_USERNAME, @TECH_WRITER

add some images
  resources/AfrikaburN.png
  resources/afrikaburnLogo.svg
  resources/img/appstore-badge.png
  resources/img/google-play-badge.png
Owners: @asterixorobelix, @TEAM_LEAD

update the readme
  README.md
Owners: @YOUR_USERNAME, @TECH_WRITER

add more info to the readme
  README.md
Owners: @YOUR_USERNAME, @TECH_WRITER

remove extra readme
  .github/Readme.md
  setup.sh
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @asterixorobelix, @TEAM_LEAD

add a bit more info in the resources
  resources/AfrikaBurnApp devPlan.md
  resources/WTFArtworks.json
  resources/WTFEvents.json
  resources/WTFMutantVehicles.json
  resources/WTFPerformances.json
  resources/WTFRovingArtworks.json
  resources/WTFThemeCamps.json
Owners: @YOUR_USERNAME, @TECH_WRITER, @asterixorobelix, @TEAM_LEAD

fix stale yml
  .github/workflows/stale.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

attempt to fix codeql yml
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

attempt to get ios running again
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix detekt?
  .github/workflows/codeql.yml
  backend/detekt.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @KOTLIN_TEAM

fix backend-ci
  .github/workflows/backend-ci.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix pr-validation
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

another change to pr-validation
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix backend detekt
  backend/detekt.yml
Owners: @YOUR_USERNAME, @KOTLIN_TEAM

fix more backend detekt
  backend/detekt.yml
Owners: @YOUR_USERNAME, @KOTLIN_TEAM

change pr validation
  .github/workflows/pr-validation.yaml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix backend detekt
  backend/detekt.yml
Owners: @YOUR_USERNAME, @KOTLIN_TEAM

fix backend detekt
  backend/detekt.yml
Owners: @YOUR_USERNAME, @KOTLIN_TEAM

fix detekt issues
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/Application.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/ErrorResponse.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/HealthResponse.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Databases.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/HTTP.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Monitoring.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Routing.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Serialization.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/StatusPages.kt
Owners: @YOUR_USERNAME, @BACKEND_TEAM

remove newline requirement
  backend/detekt.yml
Owners: @YOUR_USERNAME, @KOTLIN_TEAM

change backend-ci
  .github/workflows/backend-ci.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix codeql for ios proj
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

fix ios codeql again
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

ios again
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

ios for codeql again
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

ios again
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

added gradle for swift for codeql
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

try something else
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

add firebase google services handling
  .github/workflows/codeql.yml
  FIREBASE_SECRETS_SETUP.md
Owners: @YOUR_USERNAME, @DEVOPS_TEAM, @TECH_WRITER

try ios again
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

yet again
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

change the google services
  mobile/composeApp/google-services.json
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @DEVOPS_TEAM

add better error handling
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

bottom nav bar
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/BottomNavigationBar.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/NavigationDestination.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/gradle/libs.versions.toml
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @asterixorobelix, @TEAM_LEAD, @DEVOPS_TEAM

update the codeql
  .github/workflows/codeql.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

ignore google-services
  mobile/composeApp/google-services.json
Owners: @YOUR_USERNAME, @ANDROID_TEAM, @DEVOPS_TEAM

about screen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/NavigationDestination.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
Owners: @asterixorobelix, @TEAM_LEAD

add import
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Owners: @asterixorobelix, @TEAM_LEAD

add crashlytics link
  README.md
Owners: @YOUR_USERNAME, @TECH_WRITER

update google-services handling
  .github/workflows/codeql.yml
  .github/workflows/mobile-cd.yml
Owners: @YOUR_USERNAME, @DEVOPS_TEAM

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# This file defines who owns different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - Default reviewers for everything
* @asterixorobelix @TEAM_LEAD

# Root configuration files
*.md @YOUR_USERNAME @TECH_WRITER
LICENSE @YOUR_USERNAME @LEGAL_TEAM
.gitignore @YOUR_USERNAME @DEVOPS_TEAM
gradle.properties @YOUR_USERNAME @ANDROID_TEAM
settings.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
build.gradle.kts @YOUR_USERNAME @ANDROID_TEAM

# Dependency management
gradle/ @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
gradle/libs.versions.toml @YOUR_USERNAME @ANDROID_TEAM

# Shared/Common code (Kotlin Multiplatform)
shared/ @YOUR_USERNAME @KOTLIN_TEAM @MOBILE_TEAM
shared/src/commonMain/ @YOUR_USERNAME @KOTLIN_TEAM
shared/src/commonTest/ @YOUR_USERNAME @KOTLIN_TEAM @QA_TEAM

# Android-specific code
androidApp/ @YOUR_USERNAME @ANDROID_TEAM
shared/src/androidMain/ @YOUR_USERNAME @ANDROID_TEAM
*.gradle.kts @YOUR_USERNAME @ANDROID_TEAM
proguard-rules.pro @YOUR_USERNAME @ANDROID_TEAM

# iOS-specific code  
iosApp/ @YOUR_USERNAME @IOS_TEAM
shared/src/iosMain/ @YOUR_USERNAME @IOS_TEAM
*.swift @YOUR_USERNAME @IOS_TEAM
*.xcodeproj/ @YOUR_USERNAME @IOS_TEAM
*.xcworkspace/ @YOUR_USERNAME @IOS_TEAM
*.plist @YOUR_USERNAME @IOS_TEAM

# UI/UX related files
shared/src/commonMain/kotlin/ui/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM
shared/src/commonMain/kotlin/*/theme/ @YOUR_USERNAME @UI_UX_TEAM
shared/src/commonMain/kotlin/*/components/ @YOUR_USERNAME @UI_UX_TEAM @MOBILE_TEAM

# Business logic and architecture
shared/src/commonMain/kotlin/domain/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/data/ @YOUR_USERNAME @BACKEND_TEAM @KOTLIN_TEAM
shared/src/commonMain/kotlin/di/ @YOUR_USERNAME @KOTLIN_TEAM

# Backend code (if in same repo)
backend/ @YOUR_USERNAME @BACKEND_TEAM
backend/api/ @YOUR_USERNAME @BACKEND_TEAM @API_TEAM
backend/database/ @YOUR_USERNAME @BACKEND_TEAM @DATABASE_TEAM
backend/services/ @YOUR_USERNAME @BACKEND_TEAM

# Testing files
**/test/ @YOUR_USERNAME @QA_TEAM @MOBILE_TEAM
**/androidTest/ @YOUR_USERNAME @QA_TEAM @ANDROID_TEAM
**/*Test.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM
**/*Tests.kt @YOUR_USERNAME @QA_TEAM @KOTLIN_TEAM

# CI/CD and DevOps
.github/ @YOUR_USERNAME @DEVOPS_TEAM
.github/workflows/ @YOUR_USERNAME @DEVOPS_TEAM
scripts/ @YOUR_USERNAME @DEVOPS_TEAM

# Security-related files
.github/workflows/security.yml @YOUR_USERNAME @SECURITY_TEAM @DEVOPS_TEAM
**/security/ @YOUR_USERNAME @SECURITY_TEAM
SECURITY.md @YOUR_USERNAME @SECURITY_TEAM

# Documentation
docs/ @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
README.md @YOUR_USERNAME @TECH_WRITER
CONTRIBUTING.md @YOUR_USERNAME @TECH_WRITER @TEAM_LEAD
CHANGELOG.md @YOUR_USERNAME @TECH_WRITER

# Code quality and linting
detekt.yml @YOUR_USERNAME @KOTLIN_TEAM
.editorconfig @YOUR_USERNAME @MOBILE_TEAM

# Assets and resources
assets/ @YOUR_USERNAME @UI_UX_TEAM @DESIGNER
androidApp/src/main/res/ @YOUR_USERNAME @ANDROID_TEAM @UI_UX_TEAM
iosApp/*/Assets.xcassets/ @YOUR_USERNAME @IOS_TEAM @UI_UX_TEAM

# Store-related files
assets/store/ @YOUR_USERNAME @MARKETING_TEAM @UI_UX_TEAM
fastlane/ @YOUR_USERNAME @DEVOPS_TEAM @MARKETING_TEAM

# Configuration files that require special attention
keystore.properties @YOUR_USERNAME @SECURITY_TEAM @ANDROID_TEAM
google-services.json @YOUR_USERNAME @ANDROID_TEAM @DEVOPS_TEAM
GoogleService-Info.plist @YOUR_USERNAME @IOS_TEAM @DEVOPS_TEAM

# Package/module specific owners
# Add more specific rules as your project grows

# Example team/user mappings (replace with actual GitHub usernames):
# @YOUR_USERNAME - Project owner/maintainer
# @TEAM_LEAD - Technical lead
# @ANDROID_TEAM - Android developers
# @IOS_TEAM - iOS developers  
# @KOTLIN_TEAM - Kotlin/KMP specialists
# @MOBILE_TEAM - General mobile developers
# @BACKEND_TEAM - Backend developers
# @UI_UX_TEAM - UI/UX designers and frontend developers
# @QA_TEAM - Quality assurance engineers
# @DEVOPS_TEAM - DevOps engineers
# @SECURITY_TEAM - Security specialists
# @TECH_WRITER - Technical writers
# @MARKETING_TEAM - Marketing team
# @LEGAL_TEAM - Legal team

# Note: Remove teams/users that don't exist in your organization
# Add specific rules for critical files that need extra review
# Consider using wildcards for entire directories vs individual files
