Repository asterixorobelix/afrikaburn_companion, changes with the labels that .github/labeler.yaml gives for each.
All labels: android, ios, shared, backend, component:ui, component:api, component:database, component:authentication, component:networking, component:storage, component:testing, area:performance, area:security, area:accessibility, area:localization, area:ci-cd, area:dependencies, documentation, dependencies, github-actions, breaking-change, feature-flag, build, quality, assets, config, team:mobile, team:backend, team:devops, team:design, team:qa, potential-small, potential-large

.github/labeler.yaml:

# Auto-labeler Configuration
# This file defines rules for automatically labeling pull requests
# based on the files that were changed

# Platform Labels
android:
  - androidApp/**/*
  - shared/src/androidMain/**/*
  - "**/*.gradle.kts"
  - "**/proguard-rules.pro"

ios:
  - iosApp/**/*
  - shared/src/iosMain/**/*
  - "**/*.swift"
  - "**/*.plist"
  - "**/*.xcodeproj/**/*"
  - "**/*.xcworkspace/**/*"

shared:
  - shared/src/commonMain/**/*
  - shared/src/commonTest/**/*

backend:
  - backend/**/*
  - server/**/*
  - api/**/*

# Component Labels
component:ui:
  - shared/src/commonMain/kotlin/ui/**/*
  - shared/src/commonMain/kotlin/**/ui/**/*
  - androidApp/src/main/res/**/*
  - iosApp/**/Assets.xcassets/**/*

component:api:
  - shared/src/commonMain/kotlin/**/api/**/*
  - shared/src/commonMain/kotlin/**/remote/**/*
  - backend/api/**/*

component:database:
  - shared/src/commonMain/kotlin/**/local/**/*
  - shared/src/commonMain/kotlin/**/database/**/*
  - backend/database/**/*

component:authentication:
  - "**/*auth*/**/*"
  - "**/*Auth*"
  - "**/*login*/**/*"
  - "**/*Login*"

component:networking:
  - "**/*network*/**/*"
  - "**/*Network*"
  - "**/*http*/**/*"
  - "**/*Http*"
  - "**/*ktor*/**/*"

component:storage:
  - "**/*storage*/**/*"
  - "**/*Storage*"
  - "**/*repository*/**/*"
  - "**/*Repository*"

component:testing:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/testing/**/*"

# Area Labels
area:performance:
  - "**/*performance*/**/*"
  - "**/*Performance*"
  - "**/benchmark/**/*"
  - "**/*benchmark*/**/*"

area:security:
  - "**/*security*/**/*"
  - "**/*Security*"
  - "**/*crypto*/**/*"
  - "**/*Crypto*"
  - ".github/workflows/security.yml"

area:accessibility:
  - "**/*accessibility*/**/*"
  - "**/*Accessibility*"
  - "**/*a11y*/**/*"

area:localization:
  - "**/strings.xml"
  - "**/Localizable.strings"
  - "**/values-*/**/*"
  - "**/*localization*/**/*"
  - "**/*i18n*/**/*"

area:ci-cd:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"
  - "scripts/**/*"
  - "fastlane/**/*"
  - "Jenkinsfile"
  - ".circleci/**/*"
  - ".travis.yml"
  - "azure-pipelines.yml"

area:dependencies:
  - "gradle/libs.versions.toml"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "yarn.lock"
  - "Podfile"
  - "Podfile.lock"

# Documentation Labels
documentation:
  - "**/*.md"
  - "docs/**/*"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"
  - ".github/**/*.md"

# Configuration Labels
dependencies:
  - "gradle/libs.versions.toml"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "Podfile"
  - ".github/dependabot.yml"

github-actions:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

# Breaking Changes (based on file patterns that often contain breaking changes)
breaking-change:
  - "shared/src/commonMain/kotlin/**/api/**/*"
  - "shared/src/commonMain/kotlin/**/model/**/*"
  - "backend/api/**/*"
  - "**/migration/**/*"
  - "**/migrations/**/*"

# Feature Flags
feature-flag:
  - "**/*feature*flag*/**/*"
  - "**/*FeatureFlag*"
  - "**/*flag*/**/*"

# Build System
build:
  - "gradle/**/*"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "settings.gradle.kts"
  - "gradlew"
  - "gradlew.bat"
  - ".gradle/**/*"

# Quality Assurance
quality:
  - "detekt.yml"
  - ".editorconfig"
  - "ktlint.gradle"
  - "**/lint/**/*"
  - "**/quality/**/*"

# Assets and Resources
assets:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - "**/*.png"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.svg"
  - "**/*.ico"

# Special Files
config:
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.toml"
  - "*.properties"
  - "*.plist"

# Team-specific (customize based on your team structure)
team:mobile:
  - shared/**/*
  - androidApp/**/*
  - iosApp/**/*

team:backend:
  - backend/**/*
  - server/**/*
  - api/**/*

team:devops:
  - ".github/workflows/**/*"
  - "scripts/**/*"
  - "docker/**/*"
  - "Dockerfile*"
  - "docker-compose*"

team:design:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - shared/src/commonMain/kotlin/ui/theme/**/*"

team:qa:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"

# Size estimation (rough guidelines based on file types)
# Note: These patterns help estimate, but actual size labels
# are added by the size-check job in pr-validation.yml

# Likely small changes
potential-small:
  - "**/*.md"
  - "**/strings.xml"
  - "**/*.properties"

# Likely large changes  
potential-large:
  - "**/migration/**/*"
  - "**/migrations/**/*"
  - "gradle/libs.versions.toml"
  - shared/src/commonMain/kotlin/ui/**/*"

Implement Option A: Fix iOS build performance and XCFramework conflicts
  .github/workflows/mobile-cd.yml
  mobile/iosApp/Configuration/Config.xcconfig
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.10
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

Fix iOS code signing configuration for manual provisioning
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.11
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

try ios again
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.12
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

base 64 decode
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.13
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

Fix iOS exportArchive provisioning profile error in GitHub Actions
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.14
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

Bump version to v2.1.15
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

Bump version to v2.1.16
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

Bump version to v2.1.17
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

backend codeql fix
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

get codeql to check for backend changes only
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

undo change
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

amend for backend changes
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

fix(ci): improve CodeQL matrix job filtering for selective execution
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

fix the di crash
  mobile/composeApp/src/androidMain/AndroidManifest.xml
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/AfrikaBurnApplication.kt
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/KoinInitializer.android.kt
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/MainActivity.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/KoinInitializer.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/KoinInitializer.ios.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/MainViewController.kt
Labels: none

cleanup
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/MainViewController.kt
Labels: none

Bump version to v2.1.18
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

specify
  .claude/commands/analyze.md
  .claude/commands/clarify.md
  .claude/commands/constitution.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Labels: documentation, potential-small

add constitution
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
Labels: documentation, potential-small

constitution
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  specs/001-a-comprehensive-mobile/spec.md
Labels: documentation, potential-small

spec
  specs/001-a-comprehensive-mobile/spec.md
Labels: documentation, potential-small

update spec
  specs/001-a-comprehensive-mobile/spec.md
Labels: documentation, potential-small

add research and plans, spec
  CLAUDE.md
  specs/001-a-comprehensive-mobile/contracts/api-spec.yaml
  specs/001-a-comprehensive-mobile/data-model.md
  specs/001-a-comprehensive-mobile/plan.md
  specs/001-a-comprehensive-mobile/quickstart.md
  specs/001-a-comprehensive-mobile/research.md
  specs/001-a-comprehensive-mobile/spec.md
  specs/001-a-comprehensive-mobile/tasks.md
Labels: documentation, potential-small

update the claude file
  CLAUDE.md
Labels: documentation, potential-small

fix: Make Google Services plugin optional for CI builds
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Labels: android, area:dependencies, dependencies, build

fix: Make Google Services plugin optional for CI builds (#80)
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Labels: android, area:dependencies, dependencies, build

fix: Make Google Services plugin optional for CI builds
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Labels: android, area:dependencies, dependencies, build

updates
  CLAUDE.md
  specs/001-a-comprehensive-mobile/plan.md
Labels: documentation, potential-small

planning (#75)
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  CLAUDE.md
  specs/001-a-comprehensive-mobile/contracts/api-spec.yaml
  specs/001-a-comprehensive-mobile/data-model.md
  specs/001-a-comprehensive-mobile/plan.md
  specs/001-a-comprehensive-mobile/quickstart.md
  specs/001-a-comprehensive-mobile/research.md
  specs/001-a-comprehensive-mobile/spec.md
  specs/001-a-comprehensive-mobile/tasks.md
Labels: documentation, potential-small

create mobile and backend dbs
  backend/build.gradle.kts
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/database/DatabaseManager.kt
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/ArtInstallation.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/ContentPackage.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/Event.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/MOOPReport.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/Participant.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/PersonalScheduleItem.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/SyncManager.sq
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/database/ThemeCamp.sq
  mobile/detekt.yml
  mobile/gradle/libs.versions.toml
  specs/001-a-comprehensive-mobile/tasks.md
Labels: android, backend, area:dependencies, documentation, dependencies, build, team:backend, potential-small

stage 3.3
  backend/build.gradle.kts
  backend/src/test/kotlin/api/ArtInstallationsApiTest.kt
  backend/src/test/kotlin/api/EventsApiTest.kt
  backend/src/test/kotlin/api/MOOPReportsApiTest.kt
  backend/src/test/kotlin/api/MutantVehiclesApiTest.kt
  backend/src/test/kotlin/api/SyncApiTest.kt
  backend/src/test/kotlin/api/ThemeCampsApiTest.kt
  backend/src/test/kotlin/api/WeatherAlertsApiTest.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ArtInstallation.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/CampLocation.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ContentPackage.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/EmergencyContact.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/Event.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/EventPerformance.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/MOOPReport.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/MapPin.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ModelUtils.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/MutantVehicle.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/OfflineMap.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/Participant.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/PersonalScheduleItem.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ResourceLocation.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/SyncManager.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ThemeCamp.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/WeatherAlert.kt
  mobile/composeApp/src/commonTest/kotlin/integration/CampLocationTest.kt
  mobile/composeApp/src/commonTest/kotlin/integration/ContentUnlockingTest.kt
  mobile/composeApp/src/commonTest/kotlin/integration/MoopOfflineSyncTest.kt
  mobile/composeApp/src/commonTest/kotlin/integration/OfflineMapTest.kt
  mobile/composeApp/src/commonTest/kotlin/integration/ScheduleConflictTest.kt
  mobile/composeApp/src/commonTest/kotlin/integration/SmartSyncPriorityTest.kt
  specs/001-a-comprehensive-mobile/tasks.md
Labels: android, backend, component:testing, area:performance, area:dependencies, documentation, dependencies, build, team:backend, team:qa, potential-small

repositories
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ArtInstallationRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/EventRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/MapRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/SyncRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ThemeCampRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/ArtInstallationRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/EventRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/MapRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/SyncRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/ThemeCampRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/UserPreferencesRepository.kt
  specs/001-a-comprehensive-mobile/tasks.md
Labels: component:storage, documentation, potential-small

test for sync
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/SyncRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/SyncRepositoryImplTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/SyncRepositoryImplUnitTest.kt
  specs/001-a-comprehensive-mobile/tasks.md
Labels: component:storage, component:testing, documentation, team:qa, potential-small

map repository tests
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/MapRepositoryImplTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/MapRepositoryImplUnitTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItemTest.kt
Labels: component:storage, component:testing, team:qa

3.6
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/ArtInstallationsApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/EmergencyApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/EventsApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/MoopApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/MutantVehiclesApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/PerformancesApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/ResourcesApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/SyncApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/ThemeCampsApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/api/WeatherApi.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/ArtInstallation.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/EmergencyContact.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/ErrorResponse.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/Event.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/EventPerformance.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/MOOPReport.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/MutantVehicle.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/ResourceLocation.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/SyncModels.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/ThemeCamp.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/WeatherAlert.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Routing.kt
  backend/src/test/kotlin/api/ThemeCampsApiTest.kt
  backend/src/test/kotlin/io/asterixorobelix/afrikaburn/api/EmergencyApiTest.kt
  backend/src/test/kotlin/io/asterixorobelix/afrikaburn/api/ThemeCampsApiTest.kt
  backend/test_art_api.sh
  backend/test_resources_api.sh
  backend/test_weather_api.sh
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/ModelUtils.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/GetEventsUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/GetWeatherAlertsUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/ManagePersonalScheduleUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/MarkCampLocationUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/ReportMOOPUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/SyncContentUseCase.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/usecase/UnlockContentUseCase.kt
  specs/001-a-comprehensive-mobile/tasks.md
Labels: backend, component:testing, area:performance, documentation, team:backend, team:qa, potential-small

3.6 checked off
  specs/001-a-comprehensive-mobile/tasks.md
Labels: documentation, potential-small
