Repository asterixorobelix/afrikaburn_companion, changes with the labels that .github/labeler.yaml gives for each.
All labels: android, ios, shared, backend, component:ui, component:api, component:database, component:authentication, component:networking, component:storage, component:testing, area:performance, area:security, area:accessibility, area:localization, area:ci-cd, area:dependencies, documentation, dependencies, github-actions, breaking-change, feature-flag, build, quality, assets, config, team:mobile, team:backend, team:devops, team:design, team:qa, potential-small, potential-large

.github/labeler.yaml:

# Auto-labeler Configuration
# This file defines rules for automatically labeling pull requests
# based on the files that were changed

# Platform Labels
android:
  - androidApp/**/*
  - shared/src/androidMain/**/*
  - "**/*.gradle.kts"
  - "**/proguard-rules.pro"

ios:
  - iosApp/**/*
  - shared/src/iosMain/**/*
  - "**/*.swift"
  - "**/*.plist"
  - "**/*.xcodeproj/**/*"
  - "**/*.xcworkspace/**/*"

shared:
  - shared/src/commonMain/**/*
  - shared/src/commonTest/**/*

backend:
  - backend/**/*
  - server/**/*
  - api/**/*

# Component Labels
component:ui:
  - shared/src/commonMain/kotlin/ui/**/*
  - shared/src/commonMain/kotlin/**/ui/**/*
  - androidApp/src/main/res/**/*
  - iosApp/**/Assets.xcassets/**/*

component:api:
  - shared/src/commonMain/kotlin/**/api/**/*
  - shared/src/commonMain/kotlin/**/remote/**/*
  - backend/api/**/*

component:database:
  - shared/src/commonMain/kotlin/**/local/**/*
  - shared/src/commonMain/kotlin/**/database/**/*
  - backend/database/**/*

component:authentication:
  - "**/*auth*/**/*"
  - "**/*Auth*"
  - "**/*login*/**/*"
  - "**/*Login*"

component:networking:
  - "**/*network*/**/*"
  - "**/*Network*"
  - "**/*http*/**/*"
  - "**/*Http*"
  - "**/*ktor*/**/*"

component:storage:
  - "**/*storage*/**/*"
  - "**/*Storage*"
  - "**/*repository*/**/*"
  - "**/*Repository*"

component:testing:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/testing/**/*"

# Area Labels
area:performance:
  - "**/*performance*/**/*"
  - "**/*Performance*"
  - "**/benchmark/**/*"
  - "**/*benchmark*/**/*"

area:security:
  - "**/*security*/**/*"
  - "**/*Security*"
  - "**/*crypto*/**/*"
  - "**/*Crypto*"
  - ".github/workflows/security.yml"

area:accessibility:
  - "**/*accessibility*/**/*"
  - "**/*Accessibility*"
  - "**/*a11y*/**/*"

area:localization:
  - "**/strings.xml"
  - "**/Localizable.strings"
  - "**/values-*/**/*"
  - "**/*localization*/**/*"
  - "**/*i18n*/**/*"

area:ci-cd:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"
  - "scripts/**/*"
  - "fastlane/**/*"
  - "Jenkinsfile"
  - ".circleci/**/*"
  - ".travis.yml"
  - "azure-pipelines.yml"

area:dependencies:
  - "gradle/libs.versions.toml"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "yarn.lock"
  - "Podfile"
  - "Podfile.lock"

# Documentation Labels
documentation:
  - "**/*.md"
  - "docs/**/*"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"
  - ".github/**/*.md"

# Configuration Labels
dependencies:
  - "gradle/libs.versions.toml"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "Podfile"
  - ".github/dependabot.yml"

github-actions:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

# Breaking Changes (based on file patterns that often contain breaking changes)
breaking-change:
  - "shared/src/commonMain/kotlin/**/api/**/*"
  - "shared/src/commonMain/kotlin/**/model/**/*"
  - "backend/api/**/*"
  - "**/migration/**/*"
  - "**/migrations/**/*"

# Feature Flags
feature-flag:
  - "**/*feature*flag*/**/*"
  - "**/*FeatureFlag*"
  - "**/*flag*/**/*"

# Build System
build:
  - "gradle/**/*"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "settings.gradle.kts"
  - "gradlew"
  - "gradlew.bat"
  - ".gradle/**/*"

# Quality Assurance
quality:
  - "detekt.yml"
  - ".editorconfig"
  - "ktlint.gradle"
  - "**/lint/**/*"
  - "**/quality/**/*"

# Assets and Resources
assets:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - "**/*.png"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.svg"
  - "**/*.ico"

# Special Files
config:
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.toml"
  - "*.properties"
  - "*.plist"

# Team-specific (customize based on your team structure)
team:mobile:
  - shared/**/*
  - androidApp/**/*
  - iosApp/**/*

team:backend:
  - backend/**/*
  - server/**/*
  - api/**/*

team:devops:
  - ".github/workflows/**/*"
  - "scripts/**/*"
  - "docker/**/*"
  - "Dockerfile*"
  - "docker-compose*"

team:design:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - shared/src/commonMain/kotlin/ui/theme/**/*"

team:qa:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"

# Size estimation (rough guidelines based on file types)
# Note: These patterns help estimate, but actual size labels
# are added by the size-check job in pr-validation.yml

# Likely small changes
potential-small:
  - "**/*.md"
  - "**/strings.xml"
  - "**/*.properties"

# Likely large changes  
potential-large:
  - "**/migration/**/*"
  - "**/migrations/**/*"
  - "gradle/libs.versions.toml"
  - shared/src/commonMain/kotlin/ui/**/*"

feat(04-02): add camp pin marker layer to MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Labels: none

feat(04-02): add long-press gesture handling to MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Labels: none

feat(04-02): integrate camp pin dialogs into MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Labels: none

docs(04-02): complete camp pin UI plan
  .planning/STATE.md
  .planning/phases/04-user-camp-pin/04-02-SUMMARY.md
Labels: documentation, potential-small

docs(04): complete user-camp-pin phase
  .planning/ROADMAP.md
  .planning/STATE.md
Labels: documentation, potential-small

feat(map): add legend overlay with marker colors and long-press hint
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Labels: area:localization, potential-small

feat(map): improve legend UX with collapsible animation and better positioning
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MyLocationButton.kt
Labels: none

chore: complete v3.0 milestone
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v3.0-REQUIREMENTS.md
  .planning/milestones/v3.0-ROADMAP.md
Labels: documentation, potential-small

offline map
  .claude/settings.local.json
  .planning/phases/01-foundation-basic-map/01-01-PLAN.md
  .planning/phases/01-foundation-basic-map/01-02-PLAN.md
  .planning/phases/02-markers-detail-navigation/02-01-PLAN.md
  .planning/phases/04-user-camp-pin/04-01-PLAN.md
  .planning/phases/04-user-camp-pin/04-02-PLAN.md
  mobile/composeApp/src/commonMain/composeResources/files/WTFArtworks.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFThemeCamps.json
  mobile/composeApp/src/commonMain/composeResources/files/maps/afrikaburn-amenities.geojson
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
  mobile/gradle/wrapper/gradle-wrapper.properties
Labels: area:localization, documentation, potential-small

fix: address CodeRabbit review findings
  mobile/composeApp/src/commonMain/composeResources/files/WTFThemeCamps.json
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MyLocationButton.kt
Labels: none

Bump version to v2.1.21
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix(ci): update Gradle wrapper version to 8.13
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.22
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

milestone(v3.1): create Event Surprise Mode milestone structure
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
Labels: documentation, potential-small

milestone(v3.1): add feature flag and testing requirements
  .planning/PROJECT.md
  .planning/ROADMAP.md
Labels: documentation, potential-small

test(05-01): add failing tests for EventDateService
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateServiceTest.kt
Labels: component:testing, team:qa

feat(05-01): implement EventConfig and EventDateService
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/model/EventConfig.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateService.kt
Labels: none

refactor(05-01): register EventDateService in DI
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
Labels: none

docs(05-01): complete Event Date Configuration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-event-config/05-01-SUMMARY.md
Labels: documentation, potential-small

docs(phase-5): add plan file to phase directory
  .planning/phases/05-event-config/05-01-PLAN.md
Labels: documentation, potential-small

test(06-01): add failing tests for DistanceCalculator
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/util/DistanceCalculatorTest.kt
Labels: component:testing, team:qa

feat(06-01): implement DistanceCalculator with Haversine formula
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/util/DistanceCalculator.kt
Labels: none

test(06-01): add failing tests for GeofenceService
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/GeofenceServiceTest.kt
Labels: component:testing, team:qa

feat(06-01): implement GeofenceService for proximity detection
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/GeofenceService.kt
Labels: none

refactor(06-01): register GeofenceService in Koin DI
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
Labels: none

docs(06-01): complete Geofence Detection plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-geofence/06-01-SUMMARY.md
Labels: documentation, potential-small

docs(phase-6): complete Geofence Detection phase
  .planning/ROADMAP.md
  .planning/phases/06-geofence/06-01-PLAN.md
  .planning/phases/06-geofence/06-VERIFICATION.md
Labels: documentation, potential-small

docs(07): capture phase context
  .planning/phases/07-tab-visibility-control/07-CONTEXT.md
Labels: documentation, potential-small

feat(07-01): create SQLDelight schema for unlock state persistence
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/UnlockState.sq
Labels: none

feat(07-01): create UnlockStateRepository interface and implementation
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UnlockStateRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DatabaseModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/UnlockStateRepository.kt
Labels: component:storage

feat(07-01): create UnlockConditionManager with TDD tests
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManager.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManagerTest.kt
Labels: component:testing, team:qa

docs(07-01): complete UnlockConditionManager plan
  .planning/STATE.md
  .planning/phases/07-tab-visibility-control/07-01-SUMMARY.md
Labels: documentation, potential-small

feat(07-02): add getVisibleDestinations function to NavigationDestination
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/NavigationDestination.kt
Labels: none

feat(07-02): update BottomNavigationBar to accept destinations list
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/BottomNavigationBar.kt
Labels: none

feat(07-02): add welcome string resource for surprise mode unlock
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Labels: area:localization, potential-small

feat(07-02): integrate unlock logic into App.kt with tab visibility control
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Labels: none

fix(07-02): add wasJustUnlocked tracking for welcome message display
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManager.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManagerTest.kt
Labels: component:testing, team:qa

docs(07-02): complete Navigation Integration plan with summary
  .planning/STATE.md
  .planning/phases/07-tab-visibility-control/07-02-SUMMARY.md
Labels: documentation, potential-small

finish db
  .planning/ROADMAP.md
  .planning/phases/07-tab-visibility-control/07-01-PLAN.md
  .planning/phases/07-tab-visibility-control/07-02-PLAN.md
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/data/database/DatabaseDriverFactory.android.kt
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/1.sqm
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/data/database/DatabaseDriverFactory.ios.kt
Labels: documentation, potential-small

docs(phase-7): complete Tab Visibility Control phase
  .planning/ROADMAP.md
Labels: documentation, potential-small
