Repository asterixorobelix/afrikaburn_companion, changes with the labels that .github/labeler.yaml gives for each.
All labels: android, ios, shared, backend, component:ui, component:api, component:database, component:authentication, component:networking, component:storage, component:testing, area:performance, area:security, area:accessibility, area:localization, area:ci-cd, area:dependencies, documentation, dependencies, github-actions, breaking-change, feature-flag, build, quality, assets, config, team:mobile, team:backend, team:devops, team:design, team:qa, potential-small, potential-large

.github/labeler.yaml:

# Auto-labeler Configuration
# This file defines rules for automatically labeling pull requests
# based on the files that were changed

# Platform Labels
android:
  - androidApp/**/*
  - shared/src/androidMain/**/*
  - "**/*.gradle.kts"
  - "**/proguard-rules.pro"

ios:
  - iosApp/**/*
  - shared/src/iosMain/**/*
  - "**/*.swift"
  - "**/*.plist"
  - "**/*.xcodeproj/**/*"
  - "**/*.xcworkspace/**/*"

shared:
  - shared/src/commonMain/**/*
  - shared/src/commonTest/**/*

backend:
  - backend/**/*
  - server/**/*
  - api/**/*

# Component Labels
component:ui:
  - shared/src/commonMain/kotlin/ui/**/*
  - shared/src/commonMain/kotlin/**/ui/**/*
  - androidApp/src/main/res/**/*
  - iosApp/**/Assets.xcassets/**/*

component:api:
  - shared/src/commonMain/kotlin/**/api/**/*
  - shared/src/commonMain/kotlin/**/remote/**/*
  - backend/api/**/*

component:database:
  - shared/src/commonMain/kotlin/**/local/**/*
  - shared/src/commonMain/kotlin/**/database/**/*
  - backend/database/**/*

component:authentication:
  - "**/*auth*/**/*"
  - "**/*Auth*"
  - "**/*login*/**/*"
  - "**/*Login*"

component:networking:
  - "**/*network*/**/*"
  - "**/*Network*"
  - "**/*http*/**/*"
  - "**/*Http*"
  - "**/*ktor*/**/*"

component:storage:
  - "**/*storage*/**/*"
  - "**/*Storage*"
  - "**/*repository*/**/*"
  - "**/*Repository*"

component:testing:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/testing/**/*"

# Area Labels
area:performance:
  - "**/*performance*/**/*"
  - "**/*Performance*"
  - "**/benchmark/**/*"
  - "**/*benchmark*/**/*"

area:security:
  - "**/*security*/**/*"
  - "**/*Security*"
  - "**/*crypto*/**/*"
  - "**/*Crypto*"
  - ".github/workflows/security.yml"

area:accessibility:
  - "**/*accessibility*/**/*"
  - "**/*Accessibility*"
  - "**/*a11y*/**/*"

area:localization:
  - "**/strings.xml"
  - "**/Localizable.strings"
  - "**/values-*/**/*"
  - "**/*localization*/**/*"
  - "**/*i18n*/**/*"

area:ci-cd:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"
  - "scripts/**/*"
  - "fastlane/**/*"
  - "Jenkinsfile"
  - ".circleci/**/*"
  - ".travis.yml"
  - "azure-pipelines.yml"

area:dependencies:
  - "gradle/libs.versions.toml"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "yarn.lock"
  - "Podfile"
  - "Podfile.lock"

# Documentation Labels
documentation:
  - "**/*.md"
  - "docs/**/*"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"
  - ".github/**/*.md"

# Configuration Labels
dependencies:
  - "gradle/libs.versions.toml"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "Podfile"
  - ".github/dependabot.yml"

github-actions:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

# Breaking Changes (based on file patterns that often contain breaking changes)
breaking-change:
  - "shared/src/commonMain/kotlin/**/api/**/*"
  - "shared/src/commonMain/kotlin/**/model/**/*"
  - "backend/api/**/*"
  - "**/migration/**/*"
  - "**/migrations/**/*"

# Feature Flags
feature-flag:
  - "**/*feature*flag*/**/*"
  - "**/*FeatureFlag*"
  - "**/*flag*/**/*"

# Build System
build:
  - "gradle/**/*"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "settings.gradle.kts"
  - "gradlew"
  - "gradlew.bat"
  - ".gradle/**/*"

# Quality Assurance
quality:
  - "detekt.yml"
  - ".editorconfig"
  - "ktlint.gradle"
  - "**/lint/**/*"
  - "**/quality/**/*"

# Assets and Resources
assets:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - "**/*.png"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.svg"
  - "**/*.ico"

# Special Files
config:
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.toml"
  - "*.properties"
  - "*.plist"

# Team-specific (customize based on your team structure)
team:mobile:
  - shared/**/*
  - androidApp/**/*
  - iosApp/**/*

team:backend:
  - backend/**/*
  - server/**/*
  - api/**/*

team:devops:
  - ".github/workflows/**/*"
  - "scripts/**/*"
  - "docker/**/*"
  - "Dockerfile*"
  - "docker-compose*"

team:design:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - shared/src/commonMain/kotlin/ui/theme/**/*"

team:qa:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"

# Size estimation (rough guidelines based on file types)
# Note: These patterns help estimate, but actual size labels
# are added by the size-check job in pr-validation.yml

# Likely small changes
potential-small:
  - "**/*.md"
  - "**/strings.xml"
  - "**/*.properties"

# Likely large changes  
potential-large:
  - "**/migration/**/*"
  - "**/migrations/**/*"
  - "gradle/libs.versions.toml"
  - shared/src/commonMain/kotlin/ui/**/*"

update plan
  specs/001-a-comprehensive-mobile/plan.md
Labels: documentation, potential-small

fastlane
  RECOMMENDATIONS.md
  mobile/.gitignore
  mobile/CLAUDE.md
  mobile/FASTLANE_SETUP.md
  mobile/Makefile
  mobile/fastlane/.env.default
  mobile/fastlane/Appfile
  mobile/fastlane/Fastfile
  mobile/fastlane/Gemfile
  mobile/fastlane/Matchfile
  mobile/fastlane/Pluginfile
  mobile/readme.md
Labels: documentation, potential-small

improve project screen
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectCard.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectFilterChips.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectList.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectSearchBar.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Labels: area:localization, potential-small

improve empty state screens
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/EmptyStateContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Labels: area:localization, potential-small

ui improvements
  .claude/settings.local.json
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectCardSkeleton.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectListSkeleton.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ShimmerEffect.kt
Labels: none

micro interactions etc
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/components/InteractionModifiers.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectCard.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectDetailScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectFilterChips.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectList.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Labels: area:localization, potential-small

async image loading
  mobile/CLAUDE.md
  mobile/Makefile
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/components/AppAsyncImage.kt
  mobile/gradle/libs.versions.toml
  mobile/readme.md
Labels: android, area:dependencies, documentation, dependencies, build, potential-small

appasync image and documentation
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/NavigationDestination.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/components/AppAsyncImage.kt
  mobile/readme.md
Labels: documentation, potential-small

improements
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/PageIndicator.kt
Labels: none

improve about screen
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/PageIndicator.kt
Labels: area:localization, potential-small

improve directions screen
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectDetailScreen.kt
Labels: area:localization, potential-small

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Labels: documentation, potential-small

add pitfalls for ai agents
  .planning/research/PITFALLS.md
Labels: documentation, potential-small

feat: add Play Store deployment to CI/CD workflow
  .github/workflows/mobile-cd.yml
  mobile/FASTLANE_SETUP.md
  mobile/fastlane/.env.default
  mobile/fastlane/Matchfile
Labels: area:ci-cd, documentation, github-actions, team:devops, potential-small

Bump version to v2.1.19
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

docs: start milestone v3.0 Offline Map
  .planning/PROJECT.md
Labels: documentation, potential-small

docs: complete v3.0 offline map research
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Labels: documentation, potential-small

docs: define v3.0 requirements (18 requirements)
  .planning/REQUIREMENTS.md
Labels: documentation, potential-small

docs: create v3.0 roadmap (4 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Labels: documentation, potential-small

Bump version to v2.1.20
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

feat(01-01): add MapLibre Compose dependencies to version catalog
  mobile/gradle/libs.versions.toml
Labels: none

feat(01-01): add MapLibre dependencies to commonMain
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

feat(01-01): create offline map style configuration
  mobile/composeApp/src/commonMain/composeResources/files/maps/README.md
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
Labels: documentation, potential-small

feat(01-01): create MapUiState sealed class
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
Labels: none

feat(01-01): create MapViewModel with camera state management
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
Labels: none

feat(01-01): create MapScreen composable with MapLibre integration
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Labels: none

feat(01-01): register MapViewModel in Koin module
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
Labels: none

feat(01-01): add Koin injection helper for MapViewModel
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/KoinCompose.kt
Labels: none

fix(01-01): correct MapLibre Compose import paths in MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Labels: none

docs(01-01): complete map infrastructure plan
  .planning/STATE.md
  .planning/phases/01-foundation-basic-map/01-01-SUMMARY.md
Labels: documentation, potential-small

feat(01-02): add Map string resources
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Labels: area:localization, potential-small

feat(01-02): add Map destination to navigation
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/NavigationDestination.kt
Labels: none

feat(01-02): add Map route to NavHost
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Labels: none

fix(01-02): dark mode map style with mock markers
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
Labels: none

fix(01-02): add programmatic CircleLayer markers for camps/artworks
  mobile/composeApp/src/commonMain/composeResources/files/maps/mock-locations.geojson
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Labels: none

fix(01-02): center map on actual AfrikaBurn coordinates
  mobile/composeApp/src/commonMain/composeResources/files/maps/mock-locations.geojson
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
Labels: none

docs(01-02): complete navigation integration plan
  .planning/phases/01-foundation-basic-map/01-02-SUMMARY.md
Labels: documentation, potential-small

docs(01): complete foundation-basic-map phase
  .planning/ROADMAP.md
  .planning/STATE.md
Labels: documentation, potential-small

feat(02-01): add coordinate fields to ProjectItem model
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItem.kt
Labels: none

feat(02-01): add project codes to mock-locations GeoJSON
  mobile/composeApp/src/commonMain/composeResources/files/maps/mock-locations.geojson
Labels: none
