Repository asterixorobelix/afrikaburn_companion, changes with the labels that .github/labeler.yaml gives for each.
All labels: android, ios, shared, backend, component:ui, component:api, component:database, component:authentication, component:networking, component:storage, component:testing, area:performance, area:security, area:accessibility, area:localization, area:ci-cd, area:dependencies, documentation, dependencies, github-actions, breaking-change, feature-flag, build, quality, assets, config, team:mobile, team:backend, team:devops, team:design, team:qa, potential-small, potential-large

update the readme
  README.md
Labels: documentation, potential-small

add some images
  resources/AfrikaburN.png
  resources/afrikaburnLogo.svg
  resources/img/appstore-badge.png
  resources/img/google-play-badge.png
Labels: assets

update the readme
  README.md
Labels: documentation, potential-small

add more info to the readme
  README.md
Labels: documentation, potential-small

remove extra readme
  .github/Readme.md
  setup.sh
Labels: documentation, potential-small

add a bit more info in the resources
  resources/AfrikaBurnApp devPlan.md
  resources/WTFArtworks.json
  resources/WTFEvents.json
  resources/WTFMutantVehicles.json
  resources/WTFPerformances.json
  resources/WTFRovingArtworks.json
  resources/WTFThemeCamps.json
Labels: area:performance, documentation, potential-small

fix stale yml
  .github/workflows/stale.yaml
Labels: area:ci-cd, github-actions, team:devops

attempt to fix codeql yml
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

attempt to get ios running again
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

fix detekt?
  .github/workflows/codeql.yml
  backend/detekt.yml
Labels: backend, area:ci-cd, github-actions, team:backend, team:devops

fix backend-ci
  .github/workflows/backend-ci.yml
Labels: area:ci-cd, github-actions, team:devops

fix pr-validation
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

another change to pr-validation
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

fix backend detekt
  backend/detekt.yml
Labels: backend, team:backend

fix more backend detekt
  backend/detekt.yml
Labels: backend, team:backend

change pr validation
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

fix backend detekt
  backend/detekt.yml
Labels: backend, team:backend

fix backend detekt
  backend/detekt.yml
Labels: backend, team:backend

fix detekt issues
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/Application.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/ErrorResponse.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/domain/HealthResponse.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Databases.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/HTTP.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Monitoring.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Routing.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Serialization.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/StatusPages.kt
Labels: backend, area:security, team:backend

remove newline requirement
  backend/detekt.yml
Labels: backend, team:backend

change backend-ci
  .github/workflows/backend-ci.yml
Labels: area:ci-cd, github-actions, team:devops

fix codeql for ios proj
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

fix ios codeql again
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

ios again
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

ios for codeql again
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

ios again
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

added gradle for swift for codeql
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

try something else
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

add firebase google services handling
  .github/workflows/codeql.yml
  FIREBASE_SECRETS_SETUP.md
Labels: area:ci-cd, documentation, github-actions, team:devops, potential-small

try ios again
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

yet again
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

change the google services
  mobile/composeApp/google-services.json
Labels: none

add better error handling
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

bottom nav bar
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/BottomNavigationBar.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/NavigationDestination.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/gradle/libs.versions.toml
Labels: android, area:localization, area:dependencies, dependencies, build, potential-small

update the codeql
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

ignore google-services
  mobile/composeApp/google-services.json
Labels: none

about screen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/navigation/NavigationDestination.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
Labels: none

add import
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Labels: none

add crashlytics link
  README.md
Labels: documentation, potential-small

update google-services handling
  .github/workflows/codeql.yml
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

.github/labeler.yaml:

# Auto-labeler Configuration
# This file defines rules for automatically labeling pull requests
# based on the files that were changed

# Platform Labels
android:
  - androidApp/**/*
  - shared/src/androidMain/**/*
  - "**/*.gradle.kts"
  - "**/proguard-rules.pro"

ios:
  - iosApp/**/*
  - shared/src/iosMain/**/*
  - "**/*.swift"
  - "**/*.plist"
  - "**/*.xcodeproj/**/*"
  - "**/*.xcworkspace/**/*"

shared:
  - shared/src/commonMain/**/*
  - shared/src/commonTest/**/*

backend:
  - backend/**/*
  - server/**/*
  - api/**/*

# Component Labels
component:ui:
  - shared/src/commonMain/kotlin/ui/**/*
  - shared/src/commonMain/kotlin/**/ui/**/*
  - androidApp/src/main/res/**/*
  - iosApp/**/Assets.xcassets/**/*

component:api:
  - shared/src/commonMain/kotlin/**/api/**/*
  - shared/src/commonMain/kotlin/**/remote/**/*
  - backend/api/**/*

component:database:
  - shared/src/commonMain/kotlin/**/local/**/*
  - shared/src/commonMain/kotlin/**/database/**/*
  - backend/database/**/*

component:authentication:
  - "**/*auth*/**/*"
  - "**/*Auth*"
  - "**/*login*/**/*"
  - "**/*Login*"

component:networking:
  - "**/*network*/**/*"
  - "**/*Network*"
  - "**/*http*/**/*"
  - "**/*Http*"
  - "**/*ktor*/**/*"

component:storage:
  - "**/*storage*/**/*"
  - "**/*Storage*"
  - "**/*repository*/**/*"
  - "**/*Repository*"

component:testing:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/testing/**/*"

# Area Labels
area:performance:
  - "**/*performance*/**/*"
  - "**/*Performance*"
  - "**/benchmark/**/*"
  - "**/*benchmark*/**/*"

area:security:
  - "**/*security*/**/*"
  - "**/*Security*"
  - "**/*crypto*/**/*"
  - "**/*Crypto*"
  - ".github/workflows/security.yml"

area:accessibility:
  - "**/*accessibility*/**/*"
  - "**/*Accessibility*"
  - "**/*a11y*/**/*"

area:localization:
  - "**/strings.xml"
  - "**/Localizable.strings"
  - "**/values-*/**/*"
  - "**/*localization*/**/*"
  - "**/*i18n*/**/*"

area:ci-cd:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"
  - "scripts/**/*"
  - "fastlane/**/*"
  - "Jenkinsfile"
  - ".circleci/**/*"
  - ".travis.yml"
  - "azure-pipelines.yml"

area:dependencies:
  - "gradle/libs.versions.toml"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "yarn.lock"
  - "Podfile"
  - "Podfile.lock"

# Documentation Labels
documentation:
  - "**/*.md"
  - "docs/**/*"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"
  - ".github/**/*.md"

# Configuration Labels
dependencies:
  - "gradle/libs.versions.toml"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "Podfile"
  - ".github/dependabot.yml"

github-actions:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

# Breaking Changes (based on file patterns that often contain breaking changes)
breaking-change:
  - "shared/src/commonMain/kotlin/**/api/**/*"
  - "shared/src/commonMain/kotlin/**/model/**/*"
  - "backend/api/**/*"
  - "**/migration/**/*"
  - "**/migrations/**/*"

# Feature Flags
feature-flag:
  - "**/*feature*flag*/**/*"
  - "**/*FeatureFlag*"
  - "**/*flag*/**/*"

# Build System
build:
  - "gradle/**/*"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "settings.gradle.kts"
  - "gradlew"
  - "gradlew.bat"
  - ".gradle/**/*"

# Quality Assurance
quality:
  - "detekt.yml"
  - ".editorconfig"
  - "ktlint.gradle"
  - "**/lint/**/*"
  - "**/quality/**/*"

# Assets and Resources
assets:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - "**/*.png"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.svg"
  - "**/*.ico"

# Special Files
config:
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.toml"
  - "*.properties"
  - "*.plist"

# Team-specific (customize based on your team structure)
team:mobile:
  - shared/**/*
  - androidApp/**/*
  - iosApp/**/*

team:backend:
  - backend/**/*
  - server/**/*
  - api/**/*

team:devops:
  - ".github/workflows/**/*"
  - "scripts/**/*"
  - "docker/**/*"
  - "Dockerfile*"
  - "docker-compose*"

team:design:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - shared/src/commonMain/kotlin/ui/theme/**/*"

team:qa:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"

# Size estimation (rough guidelines based on file types)
# Note: These patterns help estimate, but actual size labels
# are added by the size-check job in pr-validation.yml

# Likely small changes
potential-small:
  - "**/*.md"
  - "**/strings.xml"
  - "**/*.properties"

# Likely large changes  
potential-large:
  - "**/migration/**/*"
  - "**/migrations/**/*"
  - "gradle/libs.versions.toml"
  - shared/src/commonMain/kotlin/ui/**/*"
