Repository asterixorobelix/afrikaburn_companion, changes with the labels that .github/labeler.yaml gives for each.
All labels: android, ios, shared, backend, component:ui, component:api, component:database, component:authentication, component:networking, component:storage, component:testing, area:performance, area:security, area:accessibility, area:localization, area:ci-cd, area:dependencies, documentation, dependencies, github-actions, breaking-change, feature-flag, build, quality, assets, config, team:mobile, team:backend, team:devops, team:design, team:qa, potential-small, potential-large

.github/labeler.yaml:

# Auto-labeler Configuration
# This file defines rules for automatically labeling pull requests
# based on the files that were changed

# Platform Labels
android:
  - androidApp/**/*
  - shared/src/androidMain/**/*
  - "**/*.gradle.kts"
  - "**/proguard-rules.pro"

ios:
  - iosApp/**/*
  - shared/src/iosMain/**/*
  - "**/*.swift"
  - "**/*.plist"
  - "**/*.xcodeproj/**/*"
  - "**/*.xcworkspace/**/*"

shared:
  - shared/src/commonMain/**/*
  - shared/src/commonTest/**/*

backend:
  - backend/**/*
  - server/**/*
  - api/**/*

# Component Labels
component:ui:
  - shared/src/commonMain/kotlin/ui/**/*
  - shared/src/commonMain/kotlin/**/ui/**/*
  - androidApp/src/main/res/**/*
  - iosApp/**/Assets.xcassets/**/*

component:api:
  - shared/src/commonMain/kotlin/**/api/**/*
  - shared/src/commonMain/kotlin/**/remote/**/*
  - backend/api/**/*

component:database:
  - shared/src/commonMain/kotlin/**/local/**/*
  - shared/src/commonMain/kotlin/**/database/**/*
  - backend/database/**/*

component:authentication:
  - "**/*auth*/**/*"
  - "**/*Auth*"
  - "**/*login*/**/*"
  - "**/*Login*"

component:networking:
  - "**/*network*/**/*"
  - "**/*Network*"
  - "**/*http*/**/*"
  - "**/*Http*"
  - "**/*ktor*/**/*"

component:storage:
  - "**/*storage*/**/*"
  - "**/*Storage*"
  - "**/*repository*/**/*"
  - "**/*Repository*"

component:testing:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/testing/**/*"

# Area Labels
area:performance:
  - "**/*performance*/**/*"
  - "**/*Performance*"
  - "**/benchmark/**/*"
  - "**/*benchmark*/**/*"

area:security:
  - "**/*security*/**/*"
  - "**/*Security*"
  - "**/*crypto*/**/*"
  - "**/*Crypto*"
  - ".github/workflows/security.yml"

area:accessibility:
  - "**/*accessibility*/**/*"
  - "**/*Accessibility*"
  - "**/*a11y*/**/*"

area:localization:
  - "**/strings.xml"
  - "**/Localizable.strings"
  - "**/values-*/**/*"
  - "**/*localization*/**/*"
  - "**/*i18n*/**/*"

area:ci-cd:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"
  - "scripts/**/*"
  - "fastlane/**/*"
  - "Jenkinsfile"
  - ".circleci/**/*"
  - ".travis.yml"
  - "azure-pipelines.yml"

area:dependencies:
  - "gradle/libs.versions.toml"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "yarn.lock"
  - "Podfile"
  - "Podfile.lock"

# Documentation Labels
documentation:
  - "**/*.md"
  - "docs/**/*"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"
  - ".github/**/*.md"

# Configuration Labels
dependencies:
  - "gradle/libs.versions.toml"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "Podfile"
  - ".github/dependabot.yml"

github-actions:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

# Breaking Changes (based on file patterns that often contain breaking changes)
breaking-change:
  - "shared/src/commonMain/kotlin/**/api/**/*"
  - "shared/src/commonMain/kotlin/**/model/**/*"
  - "backend/api/**/*"
  - "**/migration/**/*"
  - "**/migrations/**/*"

# Feature Flags
feature-flag:
  - "**/*feature*flag*/**/*"
  - "**/*FeatureFlag*"
  - "**/*flag*/**/*"

# Build System
build:
  - "gradle/**/*"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "settings.gradle.kts"
  - "gradlew"
  - "gradlew.bat"
  - ".gradle/**/*"

# Quality Assurance
quality:
  - "detekt.yml"
  - ".editorconfig"
  - "ktlint.gradle"
  - "**/lint/**/*"
  - "**/quality/**/*"

# Assets and Resources
assets:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - "**/*.png"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.svg"
  - "**/*.ico"

# Special Files
config:
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.toml"
  - "*.properties"
  - "*.plist"

# Team-specific (customize based on your team structure)
team:mobile:
  - shared/**/*
  - androidApp/**/*
  - iosApp/**/*

team:backend:
  - backend/**/*
  - server/**/*
  - api/**/*

team:devops:
  - ".github/workflows/**/*"
  - "scripts/**/*"
  - "docker/**/*"
  - "Dockerfile*"
  - "docker-compose*"

team:design:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - shared/src/commonMain/kotlin/ui/theme/**/*"

team:qa:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"

# Size estimation (rough guidelines based on file types)
# Note: These patterns help estimate, but actual size labels
# are added by the size-check job in pr-validation.yml

# Likely small changes
potential-small:
  - "**/*.md"
  - "**/strings.xml"
  - "**/*.properties"

# Likely large changes  
potential-large:
  - "**/migration/**/*"
  - "**/migrations/**/*"
  - "gradle/libs.versions.toml"
  - shared/src/commonMain/kotlin/ui/**/*"

docs(quick-001): complete race condition fix summary for ProjectsRepositoryImpl
  .planning/quick/1-fix-race-condition-in-projectsrepository/001-SUMMARY.md
Labels: component:storage, documentation, potential-small

fix(quick-2): use single Mutex.withLock to guarantee exactly-once cache load
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
Labels: component:storage

docs(quick-1): Fix race condition in ProjectsRepositoryImpl cache: replace MutableMap with ConcurrentHashMap or Mutex protection
  .planning/STATE.md
Labels: documentation, potential-small

docs(quick-2): complete Mutex cache fix summary for ProjectsRepositoryImpl
  .planning/quick/2-fix-projectsrepositoryimpl-mutablemap-ca/2-SUMMARY.md
Labels: component:storage, documentation, potential-small

fix: address council review — clarify test, remove pipeline artefact from repo
  .gitignore
  .pipeline-state.json
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Labels: component:storage, component:testing, config, team:qa

docs(quick-2): Fix ProjectsRepositoryImpl MutableMap cache race condition with ConcurrentHashMap or Mutex
  .planning/STATE.md
Labels: documentation, potential-small

fix: double-checked cache pattern — I/O outside Mutex, fix .gitignore, honest test
  .gitignore
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Labels: component:storage, component:testing, team:qa

fix: single-lock pattern — wrap entire check-load-write in one withLock
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Labels: component:storage, component:testing, team:qa

fix: use double-checked locking pattern — I/O outside Mutex, non-suspend clearCache
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Labels: component:storage, component:testing, team:qa

fix: single Mutex wraps full check-load-write, suspend clearCache, accurate test
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Labels: component:storage, component:testing, team:qa

fix: migrate Clock/Instant from kotlinx.datetime to kotlin.time stdlib
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UnlockStateRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UserCampPinRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/UnlockStateRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateService.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManager.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/EventDateServiceTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/GeofenceServiceTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManagerTest.kt
Labels: component:storage, component:testing, team:qa

fix(#82): add custom Savers for rememberSaveable navigation state
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Labels: none

fix(#82): use rememberSaveable for navigation state persistence
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Labels: none

fix: extract resolveJwtConfig to fix test compilation, fix username claim null-check, add coverage
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
  backend/src/test/kotlin/io/asterixorobelix/afrikaburn/config/SecurityTest.kt
Labels: backend, component:testing, area:security, team:backend, team:qa

fix: trim JWT_SECRET before blank/length checks to prevent whitespace bypass
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
Labels: backend, area:security, team:backend

fix: throw at startup if JWT_SECRET/ISSUER/AUDIENCE env vars not set
  backend/.env.example
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
Labels: backend, area:security, team:backend

fix: address council review — error message wording, test coverage
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
  backend/src/test/kotlin/io/asterixorobelix/afrikaburn/config/SecurityTest.kt
Labels: backend, component:testing, area:security, team:backend, team:qa

fix: JWT startup validation — 64-char min, test coverage, fix duplicate comment
  backend/.env.example
  backend/build.gradle.kts
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradlew
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
  backend/src/test/kotlin/io/asterixorobelix/afrikaburn/config/SecurityTest.kt
Labels: android, backend, component:testing, area:security, area:dependencies, dependencies, build, team:backend, team:qa

feat(#87): delete KMP template boilerplate (Greeting.kt, Platform.kt)
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/Platform.android.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Greeting.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Platform.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/Platform.ios.kt
Labels: none

chore(#72): upgrade Kotlin, Compose, SQLDelight, and related deps
  mobile/gradle/libs.versions.toml
Labels: none

fix: extract JWT_SECRET min length to named constant (detekt MagicNumber)
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
Labels: backend, area:security, team:backend

fix: extract JwtConfig to own file, refactor resolveJwtConfig to fix detekt violations
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/JwtConfig.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Security.kt
Labels: backend, area:security, team:backend

chore: delete KMP template boilerplate (Greeting.kt, Platform.kt)
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/Platform.android.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Greeting.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Platform.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/Platform.ios.kt
Labels: none
