Repository asterixorobelix/afrikaburn_companion, changes with the labels that .github/labeler.yaml gives for each.
All labels: android, ios, shared, backend, component:ui, component:api, component:database, component:authentication, component:networking, component:storage, component:testing, area:performance, area:security, area:accessibility, area:localization, area:ci-cd, area:dependencies, documentation, dependencies, github-actions, breaking-change, feature-flag, build, quality, assets, config, team:mobile, team:backend, team:devops, team:design, team:qa, potential-small, potential-large

.github/labeler.yaml:

# Auto-labeler Configuration
# This file defines rules for automatically labeling pull requests
# based on the files that were changed

# Platform Labels
android:
  - androidApp/**/*
  - shared/src/androidMain/**/*
  - "**/*.gradle.kts"
  - "**/proguard-rules.pro"

ios:
  - iosApp/**/*
  - shared/src/iosMain/**/*
  - "**/*.swift"
  - "**/*.plist"
  - "**/*.xcodeproj/**/*"
  - "**/*.xcworkspace/**/*"

shared:
  - shared/src/commonMain/**/*
  - shared/src/commonTest/**/*

backend:
  - backend/**/*
  - server/**/*
  - api/**/*

# Component Labels
component:ui:
  - shared/src/commonMain/kotlin/ui/**/*
  - shared/src/commonMain/kotlin/**/ui/**/*
  - androidApp/src/main/res/**/*
  - iosApp/**/Assets.xcassets/**/*

component:api:
  - shared/src/commonMain/kotlin/**/api/**/*
  - shared/src/commonMain/kotlin/**/remote/**/*
  - backend/api/**/*

component:database:
  - shared/src/commonMain/kotlin/**/local/**/*
  - shared/src/commonMain/kotlin/**/database/**/*
  - backend/database/**/*

component:authentication:
  - "**/*auth*/**/*"
  - "**/*Auth*"
  - "**/*login*/**/*"
  - "**/*Login*"

component:networking:
  - "**/*network*/**/*"
  - "**/*Network*"
  - "**/*http*/**/*"
  - "**/*Http*"
  - "**/*ktor*/**/*"

component:storage:
  - "**/*storage*/**/*"
  - "**/*Storage*"
  - "**/*repository*/**/*"
  - "**/*Repository*"

component:testing:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/testing/**/*"

# Area Labels
area:performance:
  - "**/*performance*/**/*"
  - "**/*Performance*"
  - "**/benchmark/**/*"
  - "**/*benchmark*/**/*"

area:security:
  - "**/*security*/**/*"
  - "**/*Security*"
  - "**/*crypto*/**/*"
  - "**/*Crypto*"
  - ".github/workflows/security.yml"

area:accessibility:
  - "**/*accessibility*/**/*"
  - "**/*Accessibility*"
  - "**/*a11y*/**/*"

area:localization:
  - "**/strings.xml"
  - "**/Localizable.strings"
  - "**/values-*/**/*"
  - "**/*localization*/**/*"
  - "**/*i18n*/**/*"

area:ci-cd:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"
  - "scripts/**/*"
  - "fastlane/**/*"
  - "Jenkinsfile"
  - ".circleci/**/*"
  - ".travis.yml"
  - "azure-pipelines.yml"

area:dependencies:
  - "gradle/libs.versions.toml"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "yarn.lock"
  - "Podfile"
  - "Podfile.lock"

# Documentation Labels
documentation:
  - "**/*.md"
  - "docs/**/*"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"
  - ".github/**/*.md"

# Configuration Labels
dependencies:
  - "gradle/libs.versions.toml"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "Podfile"
  - ".github/dependabot.yml"

github-actions:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

# Breaking Changes (based on file patterns that often contain breaking changes)
breaking-change:
  - "shared/src/commonMain/kotlin/**/api/**/*"
  - "shared/src/commonMain/kotlin/**/model/**/*"
  - "backend/api/**/*"
  - "**/migration/**/*"
  - "**/migrations/**/*"

# Feature Flags
feature-flag:
  - "**/*feature*flag*/**/*"
  - "**/*FeatureFlag*"
  - "**/*flag*/**/*"

# Build System
build:
  - "gradle/**/*"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "settings.gradle.kts"
  - "gradlew"
  - "gradlew.bat"
  - ".gradle/**/*"

# Quality Assurance
quality:
  - "detekt.yml"
  - ".editorconfig"
  - "ktlint.gradle"
  - "**/lint/**/*"
  - "**/quality/**/*"

# Assets and Resources
assets:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - "**/*.png"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.svg"
  - "**/*.ico"

# Special Files
config:
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.toml"
  - "*.properties"
  - "*.plist"

# Team-specific (customize based on your team structure)
team:mobile:
  - shared/**/*
  - androidApp/**/*
  - iosApp/**/*

team:backend:
  - backend/**/*
  - server/**/*
  - api/**/*

team:devops:
  - ".github/workflows/**/*"
  - "scripts/**/*"
  - "docker/**/*"
  - "Dockerfile*"
  - "docker-compose*"

team:design:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - shared/src/commonMain/kotlin/ui/theme/**/*"

team:qa:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"

# Size estimation (rough guidelines based on file types)
# Note: These patterns help estimate, but actual size labels
# are added by the size-check job in pr-validation.yml

# Likely small changes
potential-small:
  - "**/*.md"
  - "**/strings.xml"
  - "**/*.properties"

# Likely large changes  
potential-large:
  - "**/migration/**/*"
  - "**/migrations/**/*"
  - "gradle/libs.versions.toml"
  - shared/src/commonMain/kotlin/ui/**/*"

stage 8
  .planning/phases/08-polish/08-01-PLAN.md
Labels: documentation, potential-small

change to new theme
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Labels: area:localization, potential-small

Bump version to v2.1.23
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

claude
  CLAUDE.md
Labels: documentation, potential-small

feat: add event-year-based unlock reset so tabs re-lock for new event years
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UnlockStateRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/UnlockStateRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManager.kt
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/2.sqm
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/UnlockState.sq
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/domain/service/UnlockConditionManagerTest.kt
Labels: component:storage, component:testing, team:qa

chore: bump fastlane minimum version to 2.226
  mobile/fastlane/Gemfile
Labels: none

refactor: replace manual iOS cert management with Fastlane Match in CD
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.24
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: correct Fastlane project paths for CI
  mobile/fastlane/Fastfile
Labels: none

Bump version to v2.1.25
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

optimizations
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

fix: optimize iOS CI build speed and remove empty Pluginfile
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Pluginfile
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.26
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: resolve compiler warnings for deprecated task(), expect/actual classes, and conflicting overloads
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationService.ios.kt
Labels: android, area:dependencies, dependencies, build

refactor: use tasks.register() to avoid unused variable suppress
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: skip simulator framework build in CD to halve iOS link time
  mobile/composeApp/build.gradle.kts
  mobile/fastlane/Fastfile
Labels: android, area:dependencies, dependencies, build

fix: save konan cache on failure, split Gradle from Fastlane for iOS CD
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.27
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: replace deprecated sign-android-release action with inline jarsigner
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

fix: override Xcode signing for CI with Match provisioning profile
  mobile/fastlane/Fastfile
Labels: none

Bump version to v2.1.28
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: add MapLibre CocoaPods and SQLite linking for iOS build
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
  mobile/fastlane/Gemfile
  mobile/iosApp/Configuration/Config.xcconfig
  mobile/iosApp/Podfile
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.29
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: resolve CocoaPods signing conflicts and missing bundle identifier
  mobile/fastlane/Fastfile
  mobile/iosApp/Podfile
Labels: none

Bump version to v2.1.30
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: restore PROVISIONING_PROFILE_SPECIFIER to xcargs for archive step
  mobile/fastlane/Fastfile
Labels: none

Bump version to v2.1.31
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: add PRODUCT_NAME to xcargs to fix empty .app name from broken xcconfig chain
  mobile/fastlane/Fastfile
Labels: none

Bump version to v2.1.32
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: move PRODUCT_NAME/BUNDLE_ID from xcargs to target build settings
  mobile/fastlane/Fastfile
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Labels: ios

Bump version to v2.1.33
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: add OTHER_LDFLAGS to target build settings for sqlite3 linking
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Labels: ios

Bump version to v2.1.34
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: restore xcconfig chain in Podfile post_install instead of duplicating values
  mobile/iosApp/Podfile
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Labels: ios

Bump version to v2.1.35
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: add PRODUCT_NAME/BUNDLE_ID/LDFLAGS directly to target build settings
  mobile/iosApp/Podfile
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Labels: ios

Bump version to v2.1.36
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: add setup_ci to fastlane to prevent codesign hang on CI
  mobile/fastlane/Fastfile
Labels: none

Bump version to v2.1.37
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

fix: use App Store Connect API Key for TestFlight upload on CI
  .github/workflows/mobile-cd.yml
  mobile/fastlane/.env.default
  mobile/fastlane/Fastfile
Labels: area:ci-cd, github-actions, team:devops
