Repository asterixorobelix/afrikaburn_companion, changes with the labels that .github/labeler.yaml gives for each.
All labels: android, ios, shared, backend, component:ui, component:api, component:database, component:authentication, component:networking, component:storage, component:testing, area:performance, area:security, area:accessibility, area:localization, area:ci-cd, area:dependencies, documentation, dependencies, github-actions, breaking-change, feature-flag, build, quality, assets, config, team:mobile, team:backend, team:devops, team:design, team:qa, potential-small, potential-large

update detekt
  mobile/detekt.yml
Labels: none

fix: add Firebase configuration setup to PR validation workflow
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

fix: resolve all detekt code quality issues
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/PageIndicator.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
Labels: none

update claude
  mobile/CLAUDE.md
Labels: documentation, potential-small

update claude
  mobile/CLAUDE.md
Labels: documentation, potential-small

fix compilation issues
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
Labels: none

Update README.md
  README.md
Labels: documentation, potential-small

fix tests
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModelTest.kt
  mobile/gradle/wrapper/gradle-wrapper.jar
  mobile/gradle/wrapper/gradle-wrapper.properties
  mobile/gradlew
Labels: component:storage, component:testing, documentation, team:qa, potential-small

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Labels: area:ci-cd, github-actions, team:devops

fix tests
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/FamilyFilterIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/ProjectsIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/TimeFilterIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/TimeFilterViewModelTest.kt
Labels: component:storage, component:testing, team:qa

fix(ci): add Firebase configuration setup to Performance Check job
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

fix(ci): add Firebase configuration setup to Performance Check job
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

fix(ci): use simulator name instead of hardcoded ID in CodeQL iOS build
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

fix(ci): use simulator name instead of hardcoded ID in CodeQL iOS build
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

tests
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/ProjectsIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModelTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsViewModelTest.kt
Labels: android, component:testing, area:dependencies, dependencies, build, team:qa

change tests
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/ProjectsIntegrationTest.kt
Labels: component:testing, team:qa

detekt and tests
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/datasource/JsonResourceDataSourceImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Labels: component:storage

remove exception which does not exist
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/datasource/JsonResourceDataSourceImpl.kt
Labels: none

Bump version to v2.1.1
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

try fixing building ios
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.2
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

try fix ios again
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.3
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

bump lib versions
  mobile/gradle/libs.versions.toml
Labels: none

Bump version to v2.1.4
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

bump versions in backend
  backend/build.gradle.kts
Labels: android, backend, area:dependencies, dependencies, build, team:backend

backend fixes
  backend/build.gradle.kts
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/Application.kt
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/plugins/Monitoring.kt
Labels: android, backend, area:dependencies, dependencies, build, team:backend

more version bumps
  backend/build.gradle.kts
Labels: android, backend, area:dependencies, dependencies, build, team:backend

bump more versions
  backend/build.gradle.kts
Labels: android, backend, area:dependencies, dependencies, build, team:backend

add changes to mobile-cd
  .github/workflows/mobile-cd.yml
  mobile/MOBILE_CD_OPTIMIZATION_GUIDE.md
  mobile/MOBILE_CD_WORKFLOW_SETUP.md
Labels: area:ci-cd, documentation, github-actions, team:devops, potential-small

Bump version to v2.1.5
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

remove quiet flag
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.6
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

add logging to the ios build step
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.7
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

change mobile-cd again
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

Bump version to v2.1.8
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

detekt on backend
  backend/src/main/kotlin/io/asterixorobelix/afrikaburn/Application.kt
Labels: backend, team:backend

try to optimize ios mobile-cd
  .github/workflows/mobile-cd.yml
  mobile/composeApp/build.gradle.kts
Labels: android, area:ci-cd, area:dependencies, dependencies, github-actions, build, team:devops

Bump version to v2.1.9
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

.github/labeler.yaml:

# Auto-labeler Configuration
# This file defines rules for automatically labeling pull requests
# based on the files that were changed

# Platform Labels
android:
  - androidApp/**/*
  - shared/src/androidMain/**/*
  - "**/*.gradle.kts"
  - "**/proguard-rules.pro"

ios:
  - iosApp/**/*
  - shared/src/iosMain/**/*
  - "**/*.swift"
  - "**/*.plist"
  - "**/*.xcodeproj/**/*"
  - "**/*.xcworkspace/**/*"

shared:
  - shared/src/commonMain/**/*
  - shared/src/commonTest/**/*

backend:
  - backend/**/*
  - server/**/*
  - api/**/*

# Component Labels
component:ui:
  - shared/src/commonMain/kotlin/ui/**/*
  - shared/src/commonMain/kotlin/**/ui/**/*
  - androidApp/src/main/res/**/*
  - iosApp/**/Assets.xcassets/**/*

component:api:
  - shared/src/commonMain/kotlin/**/api/**/*
  - shared/src/commonMain/kotlin/**/remote/**/*
  - backend/api/**/*

component:database:
  - shared/src/commonMain/kotlin/**/local/**/*
  - shared/src/commonMain/kotlin/**/database/**/*
  - backend/database/**/*

component:authentication:
  - "**/*auth*/**/*"
  - "**/*Auth*"
  - "**/*login*/**/*"
  - "**/*Login*"

component:networking:
  - "**/*network*/**/*"
  - "**/*Network*"
  - "**/*http*/**/*"
  - "**/*Http*"
  - "**/*ktor*/**/*"

component:storage:
  - "**/*storage*/**/*"
  - "**/*Storage*"
  - "**/*repository*/**/*"
  - "**/*Repository*"

component:testing:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/testing/**/*"

# Area Labels
area:performance:
  - "**/*performance*/**/*"
  - "**/*Performance*"
  - "**/benchmark/**/*"
  - "**/*benchmark*/**/*"

area:security:
  - "**/*security*/**/*"
  - "**/*Security*"
  - "**/*crypto*/**/*"
  - "**/*Crypto*"
  - ".github/workflows/security.yml"

area:accessibility:
  - "**/*accessibility*/**/*"
  - "**/*Accessibility*"
  - "**/*a11y*/**/*"

area:localization:
  - "**/strings.xml"
  - "**/Localizable.strings"
  - "**/values-*/**/*"
  - "**/*localization*/**/*"
  - "**/*i18n*/**/*"

area:ci-cd:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"
  - "scripts/**/*"
  - "fastlane/**/*"
  - "Jenkinsfile"
  - ".circleci/**/*"
  - ".travis.yml"
  - "azure-pipelines.yml"

area:dependencies:
  - "gradle/libs.versions.toml"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "yarn.lock"
  - "Podfile"
  - "Podfile.lock"

# Documentation Labels
documentation:
  - "**/*.md"
  - "docs/**/*"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"
  - ".github/**/*.md"

# Configuration Labels
dependencies:
  - "gradle/libs.versions.toml"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "Podfile"
  - ".github/dependabot.yml"

github-actions:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

# Breaking Changes (based on file patterns that often contain breaking changes)
breaking-change:
  - "shared/src/commonMain/kotlin/**/api/**/*"
  - "shared/src/commonMain/kotlin/**/model/**/*"
  - "backend/api/**/*"
  - "**/migration/**/*"
  - "**/migrations/**/*"

# Feature Flags
feature-flag:
  - "**/*feature*flag*/**/*"
  - "**/*FeatureFlag*"
  - "**/*flag*/**/*"

# Build System
build:
  - "gradle/**/*"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "settings.gradle.kts"
  - "gradlew"
  - "gradlew.bat"
  - ".gradle/**/*"

# Quality Assurance
quality:
  - "detekt.yml"
  - ".editorconfig"
  - "ktlint.gradle"
  - "**/lint/**/*"
  - "**/quality/**/*"

# Assets and Resources
assets:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - "**/*.png"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.svg"
  - "**/*.ico"

# Special Files
config:
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.toml"
  - "*.properties"
  - "*.plist"

# Team-specific (customize based on your team structure)
team:mobile:
  - shared/**/*
  - androidApp/**/*
  - iosApp/**/*

team:backend:
  - backend/**/*
  - server/**/*
  - api/**/*

team:devops:
  - ".github/workflows/**/*"
  - "scripts/**/*"
  - "docker/**/*"
  - "Dockerfile*"
  - "docker-compose*"

team:design:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - shared/src/commonMain/kotlin/ui/theme/**/*"

team:qa:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"

# Size estimation (rough guidelines based on file types)
# Note: These patterns help estimate, but actual size labels
# are added by the size-check job in pr-validation.yml

# Likely small changes
potential-small:
  - "**/*.md"
  - "**/strings.xml"
  - "**/*.properties"

# Likely large changes  
potential-large:
  - "**/migration/**/*"
  - "**/migrations/**/*"
  - "gradle/libs.versions.toml"
  - shared/src/commonMain/kotlin/ui/**/*"
