Repository asterixorobelix/afrikaburn_companion, changes with the labels that .github/labeler.yaml gives for each.
All labels: android, ios, shared, backend, component:ui, component:api, component:database, component:authentication, component:networking, component:storage, component:testing, area:performance, area:security, area:accessibility, area:localization, area:ci-cd, area:dependencies, documentation, dependencies, github-actions, breaking-change, feature-flag, build, quality, assets, config, team:mobile, team:backend, team:devops, team:design, team:qa, potential-small, potential-large

chore: make android screenshots non-blocking
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

fix: use run number for ci version code
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

fix: pass aab path to fastlane
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
Labels: area:ci-cd, github-actions, team:devops

chore: skip ios screenshots when missing
  mobile/fastlane/Fastfile
Labels: none

chore: add ios snapshot ui tests scaffold
  mobile/iosApp/iosAppUITests/SnapshotHelper.swift
  mobile/iosApp/iosAppUITests/SnapshotUITests.swift
Labels: ios

fix: resolve aab path for upload
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
Labels: area:ci-cd, github-actions, team:devops

chore: tolerate android screenshot runner failures
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

chore: run android cd via fastlane
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
Labels: area:ci-cd, github-actions, team:devops

workflow optimizations
  .github/workflows/mobile-cd.yml
  .github/workflows/mobile-ci.yml
Labels: area:ci-cd, github-actions, team:devops

chore: wire ios snapshot helper
  mobile/fastlane/Fastfile
  mobile/iosApp/AfrikaburnUITests/AfrikaburnUITests.swift
  mobile/iosApp/AfrikaburnUITests/AfrikaburnUITestsLaunchTests.swift
  mobile/iosApp/AfrikaburnUITests/SnapshotHelper.swift
  mobile/iosApp/AfrikaburnUITests/SnapshotUITests.swift
Labels: ios

fix: use staged aab for fastlane
  .github/workflows/mobile-cd.yml
  CODEBASE_ANALYSIS.md
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
  mobile/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
  mobile/iosApp/iosAppUITests/SnapshotHelper.swift
  mobile/iosApp/iosAppUITests/SnapshotUITests.swift
Labels: ios, area:ci-cd, documentation, github-actions, team:devops, potential-small

chore: restore ios snapshot files
  mobile/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
  mobile/iosApp/iosAppUITests/SnapshotHelper.swift
  mobile/iosApp/iosAppUITests/SnapshotUITests.swift
Labels: ios

fix: set play store key file for fastlane
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Appfile
  mobile/fastlane/Fastfile
Labels: area:ci-cd, github-actions, team:devops

changes
  .github/CI_CD_GUIDE.md
  BRANCH_PROTECTION_GUIDE.md
  CLAUDE.md
  FIREBASE_SECRETS_SETUP.md
  GITHUB_SETUP.md
  MOBILE_CD_SETUP.md
  RECOMMENDATIONS.md
  TEMPLATE_USAGE.md
  backend/claude.md
  backend/railway.md
  backend/readme.md
  mobile/CLAUDE.md
  mobile/MOBILE_CD_OPTIMIZATION_GUIDE.md
  mobile/MOBILE_CD_WORKFLOW_SETUP.md
  mobile/composeApp/src/commonMain/composeResources/files/maps/README.md
  mobile/readme.md
  resources/AfrikaBurnApp devPlan.md
  setup-guide/ai-assistant-reference.md
  setup-guide/environment-and-deployment.md
  setup-guide/phase-1-foundation.md
  setup-guide/phase-2-backend.md
  setup-guide/phase-3-mobile.md
  setup-guide/phase-4-production.md
  specs/001-a-comprehensive-mobile/data-model.md
  specs/001-a-comprehensive-mobile/plan.md
  specs/001-a-comprehensive-mobile/quickstart.md
  specs/001-a-comprehensive-mobile/research.md
  specs/001-a-comprehensive-mobile/spec.md
  specs/001-a-comprehensive-mobile/tasks.md
  specs/BRAND_POSITIONING.md
  specs/VISUAL_DESIGN_DIRECTION.md
  unified_kotlin_setup_guide.md
Labels: backend, documentation, team:backend, potential-small

fix: run upload outside emulator
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

fix: fix CD screenshot generation for iOS and Android
  .github/workflows/mobile-cd.yml
  mobile/fastlane/Fastfile
  mobile/fastlane/Screengrabfile
  mobile/fastlane/Snapfile
Labels: area:ci-cd, github-actions, team:devops

fix: use android-actions/setup-android for emulator SDK setup
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

fix: add Gradle cache and timeout to deploy-android, fix create-release
  .github/workflows/mobile-cd.yml
Labels: area:ci-cd, github-actions, team:devops

refactor: extract screenshots into reusable GitHub Actions workflow
  .github/workflows/mobile-cd.yml
  .github/workflows/screenshots.yml
  mobile/fastlane/Fastfile
Labels: area:ci-cd, github-actions, team:devops

fix: fix screenshot workflow failures for Android and iOS
  .github/workflows/screenshots.yml
  mobile/composeApp/src/androidInstrumentedTest/kotlin/io/asterixorobelix/afrikaburn/AfrikaBurnTestApplication.kt
Labels: area:ci-cd, github-actions, team:devops

fix: update Gradle wrapper jar to match 8.13 for AGP 8.13.2
  mobile/gradle/wrapper/gradle-wrapper.jar
  mobile/gradlew
  mobile/gradlew.bat
Labels: none

fix: centralise Gradle version by using committed wrappers in CI
  .github/workflows/backend-ci.yml
  .github/workflows/codeql.yml
  .github/workflows/mobile-cd.yml
  .github/workflows/mobile-ci.yml
  .github/workflows/pr-validation.yaml
  backend/gradle/wrapper/gradle-wrapper.properties
Labels: backend, area:ci-cd, github-actions, team:backend, team:devops, potential-small

fix: use correct iOS framework task name in mobile-ci
  .github/workflows/mobile-ci.yml
Labels: area:ci-cd, github-actions, team:devops

fix: use device target for iOS framework CI build
  .github/workflows/mobile-ci.yml
Labels: area:ci-cd, github-actions, team:devops

fix: use android-emulator-runner action and fix snapshot update path
  .github/workflows/screenshots.yml
Labels: area:ci-cd, github-actions, team:devops

fix: fix Android test runner and iOS workspace config for screenshots
  mobile/fastlane/Screengrabfile
  mobile/fastlane/Snapfile
Labels: none

fix: fix screenshot workflow issues for both platforms
  .github/workflows/screenshots.yml
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
  mobile/fastlane/Fastfile
Labels: area:ci-cd, github-actions, team:devops

update ai assistant docs
  .claude/settings.local.json
  AGENTS.md
  CLAUDE.md
Labels: documentation, potential-small

refactor: replace automated screenshot capture with manual workflow
  .github/workflows/mobile-cd.yml
  .github/workflows/screenshots.yml
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidInstrumentedTest/kotlin/io/asterixorobelix/afrikaburn/AfrikaBurnTestApplication.kt
  mobile/composeApp/src/androidInstrumentedTest/kotlin/io/asterixorobelix/afrikaburn/ScreengrabScreenshotTest.kt
  mobile/composeApp/src/androidInstrumentedTest/kotlin/io/asterixorobelix/afrikaburn/TestRunner.kt
  mobile/fastlane/Fastfile
  mobile/fastlane/SCREENSHOTS.md
  mobile/fastlane/Screengrabfile
  mobile/fastlane/Snapfile
  mobile/fastlane/screenshots/.gitkeep
  mobile/fastlane/screenshots/android/en-US/phoneScreenshots/.gitkeep
  mobile/fastlane/screenshots/ios/en-US/iPad Pro 13-inch (M4)/.gitkeep
  mobile/fastlane/screenshots/ios/en-US/iPhone 16 Pro Max/.gitkeep
  mobile/gradle/libs.versions.toml
  mobile/iosApp/AfrikaburnUITests/SnapshotHelper.swift
  mobile/iosApp/AfrikaburnUITests/SnapshotUITests.swift
Labels: android, ios, component:testing, area:ci-cd, area:dependencies, documentation, dependencies, github-actions, build, team:devops, team:qa, potential-small

chore: remove Claude code-action diagnosis steps from mobile CI
  .github/workflows/mobile-ci.yml
Labels: area:ci-cd, github-actions, team:devops

fix: upgrade kotlinx-datetime to 0.7.1 and fix SQLDelight return types
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UserCampPinRepositoryImpl.kt
  mobile/gradle/libs.versions.toml
Labels: android, component:storage, area:dependencies, dependencies, build

fix: upgrade kotlinx-datetime to 0.7.1 and fix SQLDelight return types (#131)
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UserCampPinRepositoryImpl.kt
  mobile/gradle/libs.versions.toml
Labels: android, component:storage, area:dependencies, dependencies, build

refactor: replace reflection-based CrashLogger with compile-time FirebaseCrashlytics dependency
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Labels: android, area:dependencies, dependencies, build

docs: rephrase CrashLogger comment to avoid false-positive in pre-flight check
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Labels: none

refactor: graceful fallback via try/catch instead of reflection in AndroidCrashLogger
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Labels: none

refactor: fix CrashLogger security & initialization issues
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Labels: android, area:dependencies, dependencies, build

fix: compilation errors and behavioral regressions in CrashLogger
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
Labels: none

docs(quick): plan race condition fix in ProjectsRepositoryImpl cache
  .planning/quick/1-fix-race-condition-in-projectsrepository/001-PLAN.md
Labels: component:storage, documentation, potential-small

fix(quick-2): replace mutableMapOf cache with Mutex-protected cache
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
Labels: component:storage

fix: add thread safety to ProjectsRepositoryImpl cache with Mutex
  .pipeline-state.json
  .planning/quick/2-fix-projectsrepositoryimpl-mutablemap-ca/2-PLAN.md
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
Labels: component:storage, component:testing, documentation, config, team:qa, potential-small

.github/labeler.yaml:

# Auto-labeler Configuration
# This file defines rules for automatically labeling pull requests
# based on the files that were changed

# Platform Labels
android:
  - androidApp/**/*
  - shared/src/androidMain/**/*
  - "**/*.gradle.kts"
  - "**/proguard-rules.pro"

ios:
  - iosApp/**/*
  - shared/src/iosMain/**/*
  - "**/*.swift"
  - "**/*.plist"
  - "**/*.xcodeproj/**/*"
  - "**/*.xcworkspace/**/*"

shared:
  - shared/src/commonMain/**/*
  - shared/src/commonTest/**/*

backend:
  - backend/**/*
  - server/**/*
  - api/**/*

# Component Labels
component:ui:
  - shared/src/commonMain/kotlin/ui/**/*
  - shared/src/commonMain/kotlin/**/ui/**/*
  - androidApp/src/main/res/**/*
  - iosApp/**/Assets.xcassets/**/*

component:api:
  - shared/src/commonMain/kotlin/**/api/**/*
  - shared/src/commonMain/kotlin/**/remote/**/*
  - backend/api/**/*

component:database:
  - shared/src/commonMain/kotlin/**/local/**/*
  - shared/src/commonMain/kotlin/**/database/**/*
  - backend/database/**/*

component:authentication:
  - "**/*auth*/**/*"
  - "**/*Auth*"
  - "**/*login*/**/*"
  - "**/*Login*"

component:networking:
  - "**/*network*/**/*"
  - "**/*Network*"
  - "**/*http*/**/*"
  - "**/*Http*"
  - "**/*ktor*/**/*"

component:storage:
  - "**/*storage*/**/*"
  - "**/*Storage*"
  - "**/*repository*/**/*"
  - "**/*Repository*"

component:testing:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/testing/**/*"

# Area Labels
area:performance:
  - "**/*performance*/**/*"
  - "**/*Performance*"
  - "**/benchmark/**/*"
  - "**/*benchmark*/**/*"

area:security:
  - "**/*security*/**/*"
  - "**/*Security*"
  - "**/*crypto*/**/*"
  - "**/*Crypto*"
  - ".github/workflows/security.yml"

area:accessibility:
  - "**/*accessibility*/**/*"
  - "**/*Accessibility*"
  - "**/*a11y*/**/*"

area:localization:
  - "**/strings.xml"
  - "**/Localizable.strings"
  - "**/values-*/**/*"
  - "**/*localization*/**/*"
  - "**/*i18n*/**/*"

area:ci-cd:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"
  - "scripts/**/*"
  - "fastlane/**/*"
  - "Jenkinsfile"
  - ".circleci/**/*"
  - ".travis.yml"
  - "azure-pipelines.yml"

area:dependencies:
  - "gradle/libs.versions.toml"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "yarn.lock"
  - "Podfile"
  - "Podfile.lock"

# Documentation Labels
documentation:
  - "**/*.md"
  - "docs/**/*"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"
  - ".github/**/*.md"

# Configuration Labels
dependencies:
  - "gradle/libs.versions.toml"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "Podfile"
  - ".github/dependabot.yml"

github-actions:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

# Breaking Changes (based on file patterns that often contain breaking changes)
breaking-change:
  - "shared/src/commonMain/kotlin/**/api/**/*"
  - "shared/src/commonMain/kotlin/**/model/**/*"
  - "backend/api/**/*"
  - "**/migration/**/*"
  - "**/migrations/**/*"

# Feature Flags
feature-flag:
  - "**/*feature*flag*/**/*"
  - "**/*FeatureFlag*"
  - "**/*flag*/**/*"

# Build System
build:
  - "gradle/**/*"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "settings.gradle.kts"
  - "gradlew"
  - "gradlew.bat"
  - ".gradle/**/*"

# Quality Assurance
quality:
  - "detekt.yml"
  - ".editorconfig"
  - "ktlint.gradle"
  - "**/lint/**/*"
  - "**/quality/**/*"

# Assets and Resources
assets:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - "**/*.png"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.svg"
  - "**/*.ico"

# Special Files
config:
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.toml"
  - "*.properties"
  - "*.plist"

# Team-specific (customize based on your team structure)
team:mobile:
  - shared/**/*
  - androidApp/**/*
  - iosApp/**/*

team:backend:
  - backend/**/*
  - server/**/*
  - api/**/*

team:devops:
  - ".github/workflows/**/*"
  - "scripts/**/*"
  - "docker/**/*"
  - "Dockerfile*"
  - "docker-compose*"

team:design:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - shared/src/commonMain/kotlin/ui/theme/**/*"

team:qa:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"

# Size estimation (rough guidelines based on file types)
# Note: These patterns help estimate, but actual size labels
# are added by the size-check job in pr-validation.yml

# Likely small changes
potential-small:
  - "**/*.md"
  - "**/strings.xml"
  - "**/*.properties"

# Likely large changes  
potential-large:
  - "**/migration/**/*"
  - "**/migrations/**/*"
  - "gradle/libs.versions.toml"
  - shared/src/commonMain/kotlin/ui/**/*"
