Repository asterixorobelix/afrikaburn_companion, changes with the labels that .github/labeler.yaml gives for each.
All labels: android, ios, shared, backend, component:ui, component:api, component:database, component:authentication, component:networking, component:storage, component:testing, area:performance, area:security, area:accessibility, area:localization, area:ci-cd, area:dependencies, documentation, dependencies, github-actions, breaking-change, feature-flag, build, quality, assets, config, team:mobile, team:backend, team:devops, team:design, team:qa, potential-small, potential-large

Update README.md
  README.md
Labels: documentation, potential-small

create a dummy codeql
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

dummy google services
  .github/workflows/codeql.yml
Labels: area:ci-cd, github-actions, team:devops

detekt
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.android.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/platform/CrashLogger.ios.kt
Labels: none

update readme
  README.md
Labels: documentation, potential-small

begin about screen
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
Labels: area:localization, documentation, potential-small

improve about screen
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/PageIndicator.kt
Labels: documentation, potential-small

update the strings.
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Labels: area:localization, potential-small

add text
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
Labels: area:localization, potential-small

add images
  mobile/composeApp/src/commonMain/composeResources/drawable/20531795.png
  mobile/composeApp/src/commonMain/composeResources/drawable/600px-Quaggapedia_OOTB.jpg
  mobile/composeApp/src/commonMain/composeResources/drawable/Laura-Niggeschmidt-Afrika-Burn-76.webp
  mobile/composeApp/src/commonMain/composeResources/drawable/images.jpeg
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutScreen.kt
Labels: area:localization, assets, potential-small

fix urls
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Labels: area:localization, potential-small

update the clipping
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/AboutPageContent.kt
Labels: none

directions screen
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/composeResources/drawable/New-Turnoff.jpg
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
Labels: area:localization, documentation, assets, potential-small

cleanup
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/about/PageIndicator.kt
Labels: none

fix ci
  .github/workflows/mobile-ci.yml
Labels: area:ci-cd, github-actions, team:devops

fix ci
  .github/workflows/mobile-ci.yml
Labels: area:ci-cd, github-actions, team:devops

try a new pr-validation
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

try a new pr-validation
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

PR validation
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

PR validation
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

begin projects
  mobile/composeApp/src/commonMain/composeResources/files/WTFArtworks.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFEvents.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFMutantVehicles.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFPerformances.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFRovingArtworks.json
  mobile/composeApp/src/commonMain/composeResources/files/WTFThemeCamps.json
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/directions/DirectionsScreen.kt
Labels: area:performance, area:localization, potential-small

begin project tab
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Labels: area:localization, potential-small

add data classes
  mobile/CLAUDE.md
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/Artist.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItem.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/TabDataSource.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Labels: documentation, potential-small

update claude
  mobile/CLAUDE.md
Labels: documentation, potential-small

update claude
  mobile/CLAUDE.md
Labels: documentation, potential-small

update claude
  mobile/CLAUDE.md
Labels: documentation, potential-small

begin retrieving info from json
  mobile/CLAUDE.md
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/datasource/JsonResourceDataSource.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/datasource/JsonResourceDataSourceImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImpl.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/ProjectsRepository.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/ProjectType.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/gradle/libs.versions.toml
Labels: android, component:storage, area:localization, area:dependencies, documentation, dependencies, build, potential-small

step 2
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiState.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsViewModel.kt
Labels: none

setup the modules
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/AppModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DataModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DomainModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/KoinCompose.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
Labels: none

load json on project screen
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/Theme.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
Labels: area:localization, potential-small

tests
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/TestSuite.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/datasource/JsonResourceDataSourceImplTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/data/repository/ProjectsRepositoryImplTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/ProjectsIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItemTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModelTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsScreenUiStateTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiStateTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsViewModelTest.kt
Labels: component:storage, component:testing, team:qa

family friendly filter
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItem.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiState.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/FamilyFilterIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItemFamilyFilterTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/FamilyFilterUiStateTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/FamilyFilterViewModelTest.kt
Labels: component:testing, area:localization, team:qa, potential-small

night filter
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItem.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/models/TimeFilter.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsUiState.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/projects/ProjectsScreen.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/TimeFilterIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/models/ProjectItemTimeFilterTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/TimeFilterViewModelTest.kt
Labels: component:testing, area:localization, team:qa, potential-small

change icon
  mobile/composeApp/src/androidMain/ic_launcher-playstore.png
  mobile/composeApp/src/androidMain/res/drawable-v24/ic_launcher_foreground.xml
  mobile/composeApp/src/androidMain/res/drawable/ic_launcher_background.xml
  mobile/composeApp/src/androidMain/res/drawable/ic_launcher_foreground.xml
  mobile/composeApp/src/androidMain/res/mipmap-hdpi/ic_launcher.png
  mobile/composeApp/src/androidMain/res/mipmap-hdpi/ic_launcher.webp
  mobile/composeApp/src/androidMain/res/mipmap-hdpi/ic_launcher_round.png
  mobile/composeApp/src/androidMain/res/mipmap-hdpi/ic_launcher_round.webp
  mobile/composeApp/src/androidMain/res/mipmap-mdpi/ic_launcher.png
  mobile/composeApp/src/androidMain/res/mipmap-mdpi/ic_launcher.webp
  mobile/composeApp/src/androidMain/res/mipmap-mdpi/ic_launcher_round.png
  mobile/composeApp/src/androidMain/res/mipmap-mdpi/ic_launcher_round.webp
  mobile/composeApp/src/androidMain/res/mipmap-xhdpi/ic_launcher.png
  mobile/composeApp/src/androidMain/res/mipmap-xhdpi/ic_launcher.webp
  mobile/composeApp/src/androidMain/res/mipmap-xhdpi/ic_launcher_round.png
  mobile/composeApp/src/androidMain/res/mipmap-xhdpi/ic_launcher_round.webp
  mobile/composeApp/src/androidMain/res/mipmap-xxhdpi/ic_launcher.png
  mobile/composeApp/src/androidMain/res/mipmap-xxhdpi/ic_launcher.webp
  mobile/composeApp/src/androidMain/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile/composeApp/src/androidMain/res/mipmap-xxhdpi/ic_launcher_round.webp
  mobile/composeApp/src/androidMain/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/composeApp/src/androidMain/res/mipmap-xxxhdpi/ic_launcher.webp
  mobile/composeApp/src/androidMain/res/mipmap-xxxhdpi/ic_launcher_round.png
  mobile/composeApp/src/androidMain/res/mipmap-xxxhdpi/ic_launcher_round.webp
  resources/AfrikaburN_no_background.png
Labels: assets

bump version and add offline map implementation plan
  OFFLINE_MAP_IMPLEMENTATION_PLAN.md
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, documentation, dependencies, build, potential-small

fix action
  .github/workflows/pr-validation.yaml
Labels: area:ci-cd, github-actions, team:devops

fix tests
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/integration/ProjectsIntegrationTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectTabViewModelTest.kt
  mobile/composeApp/src/commonTest/kotlin/io/asterixorobelix/afrikaburn/presentation/projects/ProjectsViewModelTest.kt
  mobile/gradle/libs.versions.toml
Labels: android, component:testing, area:dependencies, dependencies, build, team:qa

commit the gradle wrapper for actions
  mobile/gradle/wrapper/gradle-wrapper.jar
Labels: none

update claude file
  mobile/CLAUDE.md
Labels: documentation, potential-small

fix: resolve GradleWrapperMain ClassNotFoundException
  mobile/gradlew
Labels: none

.github/labeler.yaml:

# Auto-labeler Configuration
# This file defines rules for automatically labeling pull requests
# based on the files that were changed

# Platform Labels
android:
  - androidApp/**/*
  - shared/src/androidMain/**/*
  - "**/*.gradle.kts"
  - "**/proguard-rules.pro"

ios:
  - iosApp/**/*
  - shared/src/iosMain/**/*
  - "**/*.swift"
  - "**/*.plist"
  - "**/*.xcodeproj/**/*"
  - "**/*.xcworkspace/**/*"

shared:
  - shared/src/commonMain/**/*
  - shared/src/commonTest/**/*

backend:
  - backend/**/*
  - server/**/*
  - api/**/*

# Component Labels
component:ui:
  - shared/src/commonMain/kotlin/ui/**/*
  - shared/src/commonMain/kotlin/**/ui/**/*
  - androidApp/src/main/res/**/*
  - iosApp/**/Assets.xcassets/**/*

component:api:
  - shared/src/commonMain/kotlin/**/api/**/*
  - shared/src/commonMain/kotlin/**/remote/**/*
  - backend/api/**/*

component:database:
  - shared/src/commonMain/kotlin/**/local/**/*
  - shared/src/commonMain/kotlin/**/database/**/*
  - backend/database/**/*

component:authentication:
  - "**/*auth*/**/*"
  - "**/*Auth*"
  - "**/*login*/**/*"
  - "**/*Login*"

component:networking:
  - "**/*network*/**/*"
  - "**/*Network*"
  - "**/*http*/**/*"
  - "**/*Http*"
  - "**/*ktor*/**/*"

component:storage:
  - "**/*storage*/**/*"
  - "**/*Storage*"
  - "**/*repository*/**/*"
  - "**/*Repository*"

component:testing:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/testing/**/*"

# Area Labels
area:performance:
  - "**/*performance*/**/*"
  - "**/*Performance*"
  - "**/benchmark/**/*"
  - "**/*benchmark*/**/*"

area:security:
  - "**/*security*/**/*"
  - "**/*Security*"
  - "**/*crypto*/**/*"
  - "**/*Crypto*"
  - ".github/workflows/security.yml"

area:accessibility:
  - "**/*accessibility*/**/*"
  - "**/*Accessibility*"
  - "**/*a11y*/**/*"

area:localization:
  - "**/strings.xml"
  - "**/Localizable.strings"
  - "**/values-*/**/*"
  - "**/*localization*/**/*"
  - "**/*i18n*/**/*"

area:ci-cd:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"
  - "scripts/**/*"
  - "fastlane/**/*"
  - "Jenkinsfile"
  - ".circleci/**/*"
  - ".travis.yml"
  - "azure-pipelines.yml"

area:dependencies:
  - "gradle/libs.versions.toml"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "yarn.lock"
  - "Podfile"
  - "Podfile.lock"

# Documentation Labels
documentation:
  - "**/*.md"
  - "docs/**/*"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"
  - ".github/**/*.md"

# Configuration Labels
dependencies:
  - "gradle/libs.versions.toml"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "Podfile"
  - ".github/dependabot.yml"

github-actions:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

# Breaking Changes (based on file patterns that often contain breaking changes)
breaking-change:
  - "shared/src/commonMain/kotlin/**/api/**/*"
  - "shared/src/commonMain/kotlin/**/model/**/*"
  - "backend/api/**/*"
  - "**/migration/**/*"
  - "**/migrations/**/*"

# Feature Flags
feature-flag:
  - "**/*feature*flag*/**/*"
  - "**/*FeatureFlag*"
  - "**/*flag*/**/*"

# Build System
build:
  - "gradle/**/*"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "settings.gradle.kts"
  - "gradlew"
  - "gradlew.bat"
  - ".gradle/**/*"

# Quality Assurance
quality:
  - "detekt.yml"
  - ".editorconfig"
  - "ktlint.gradle"
  - "**/lint/**/*"
  - "**/quality/**/*"

# Assets and Resources
assets:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - "**/*.png"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.svg"
  - "**/*.ico"

# Special Files
config:
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.toml"
  - "*.properties"
  - "*.plist"

# Team-specific (customize based on your team structure)
team:mobile:
  - shared/**/*
  - androidApp/**/*
  - iosApp/**/*

team:backend:
  - backend/**/*
  - server/**/*
  - api/**/*

team:devops:
  - ".github/workflows/**/*"
  - "scripts/**/*"
  - "docker/**/*"
  - "Dockerfile*"
  - "docker-compose*"

team:design:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - shared/src/commonMain/kotlin/ui/theme/**/*"

team:qa:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"

# Size estimation (rough guidelines based on file types)
# Note: These patterns help estimate, but actual size labels
# are added by the size-check job in pr-validation.yml

# Likely small changes
potential-small:
  - "**/*.md"
  - "**/strings.xml"
  - "**/*.properties"

# Likely large changes  
potential-large:
  - "**/migration/**/*"
  - "**/migrations/**/*"
  - "gradle/libs.versions.toml"
  - shared/src/commonMain/kotlin/ui/**/*"
