Repository asterixorobelix/afrikaburn_companion, changes with the labels that .github/labeler.yaml gives for each.
All labels: android, ios, shared, backend, component:ui, component:api, component:database, component:authentication, component:networking, component:storage, component:testing, area:performance, area:security, area:accessibility, area:localization, area:ci-cd, area:dependencies, documentation, dependencies, github-actions, breaking-change, feature-flag, build, quality, assets, config, team:mobile, team:backend, team:devops, team:design, team:qa, potential-small, potential-large

feat(02-01): extend MapUiState with projects list
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
Labels: none

feat(02-01): enhance MapViewModel with project loading and code lookup
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
Labels: none

feat(02-01): add marker tap handling to MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Labels: none

feat(02-01): wire MapScreen marker taps to navigation
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/App.kt
Labels: none

docs(02-01): add plan summary and update project state
  .planning/STATE.md
  .planning/phases/02-markers-detail-navigation/02-01-SUMMARY.md
Labels: documentation, potential-small

fix(02-01): simplify map style to work without PMTiles
  mobile/composeApp/src/commonMain/composeResources/files/maps/README.md
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
Labels: documentation, potential-small

feat(02-01): add PMTiles for Tankwa Karoo terrain
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
  mobile/composeApp/src/commonMain/composeResources/files/maps/tankwa-karoo.pmtiles
Labels: none

fix(02-01): simplify style layers for remote desert region
  mobile/composeApp/src/commonMain/composeResources/files/maps/style.json
Labels: none

docs(02): complete markers-detail-navigation phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-markers-detail-navigation/02-01-SUMMARY.md
Labels: documentation, potential-small

feat(03-01): add location library dependency
  mobile/composeApp/build.gradle.kts
  mobile/gradle/libs.versions.toml
Labels: android, area:dependencies, dependencies, build

feat(03-01): add platform-specific location permissions
  mobile/composeApp/src/androidMain/AndroidManifest.xml
  mobile/iosApp/iosApp/Info.plist
Labels: ios

feat(03-01): create LocationService expect/actual interface
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationService.android.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationService.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationService.ios.kt
Labels: none

feat(03-01): create LocationModule and register in DI
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/AppModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/LocationModule.kt
Labels: none

feat(03-01): extend MapUiState with user location fields
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
Labels: none

feat(03-01): enhance MapViewModel with location tracking
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
Labels: none

feat(03-01): create UserLocationMarker composable
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/UserLocationMarker.kt
Labels: none

feat(03-01): create MyLocationButton FAB composable
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MyLocationButton.kt
Labels: none

feat(03-01): integrate location features into MapScreen
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Labels: none

chore(03-01): fix detekt issues and configure jvm target
  mobile/composeApp/build.gradle.kts
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/UserLocationMarker.kt
Labels: android, area:dependencies, dependencies, build

docs(03-01): complete user-location-display plan
  .planning/STATE.md
  .planning/phases/03-user-location/03-01-PLAN.md
  .planning/phases/03-user-location/03-01-SUMMARY.md
Labels: documentation, potential-small

fix(03-01): trigger location permission dialog on map access
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationPermissionHandler.android.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationPermissionHandler.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/platform/LocationPermissionHandler.ios.kt
Labels: none

fix(03-01): FAB centers map on user location
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/MapScreen.kt
Labels: none

docs(03-01): complete user-location-display plan
  .planning/phases/03-user-location/03-01-SUMMARY.md
Labels: documentation, potential-small

docs(03): complete user-location phase
  .planning/ROADMAP.md
  .planning/STATE.md
Labels: documentation, potential-small

chore(04-01): add SQLDelight dependencies to version catalog
  mobile/gradle/libs.versions.toml
Labels: none

feat(04-01): configure SQLDelight plugin in build.gradle.kts
  mobile/composeApp/build.gradle.kts
Labels: android, area:dependencies, dependencies, build

feat(04-01): create UserCampPin SQLDelight schema
  mobile/composeApp/src/commonMain/sqldelight/io/asterixorobelix/afrikaburn/UserCampPin.sq
Labels: none

feat(04-01): create DatabaseDriverFactory expect declaration
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/database/DatabaseDriverFactory.kt
Labels: none

feat(04-01): create Android DatabaseDriverFactory implementation
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/data/database/DatabaseDriverFactory.android.kt
Labels: none

feat(04-01): create iOS DatabaseDriverFactory implementation
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/data/database/DatabaseDriverFactory.ios.kt
Labels: none

feat(04-01): create UserCampPinRepository domain interface
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/domain/repository/UserCampPinRepository.kt
Labels: component:storage

feat(04-01): create UserCampPinRepositoryImpl data layer
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/data/repository/UserCampPinRepositoryImpl.kt
Labels: component:storage

feat(04-01): create DatabaseModule for Koin DI
  mobile/composeApp/src/androidMain/kotlin/io/asterixorobelix/afrikaburn/di/DatabaseModule.android.kt
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/DatabaseModule.kt
  mobile/composeApp/src/iosMain/kotlin/io/asterixorobelix/afrikaburn/di/DatabaseModule.ios.kt
Labels: none

feat(04-01): register databaseModule in AppModule
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/AppModule.kt
Labels: none

docs(04-01): complete SQLDelight infrastructure plan
  .planning/STATE.md
  .planning/phases/04-user-camp-pin/04-01-SUMMARY.md
Labels: documentation, potential-small

feat(04-02): add camp pin string resources
  mobile/composeApp/src/commonMain/composeResources/values/strings.xml
Labels: area:localization, potential-small

feat(04-02): extend MapUiState with camp pin states
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapUiState.kt
Labels: none

feat(04-02): add camp pin operations to MapViewModel
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/presentation/map/MapViewModel.kt
Labels: none

feat(04-02): update PresentationModule to inject UserCampPinRepository
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/di/PresentationModule.kt
Labels: none

feat(04-02): create CampPinDialog composables
  mobile/composeApp/src/commonMain/kotlin/io/asterixorobelix/afrikaburn/ui/screens/map/CampPinDialog.kt
Labels: none

.github/labeler.yaml:

# Auto-labeler Configuration
# This file defines rules for automatically labeling pull requests
# based on the files that were changed

# Platform Labels
android:
  - androidApp/**/*
  - shared/src/androidMain/**/*
  - "**/*.gradle.kts"
  - "**/proguard-rules.pro"

ios:
  - iosApp/**/*
  - shared/src/iosMain/**/*
  - "**/*.swift"
  - "**/*.plist"
  - "**/*.xcodeproj/**/*"
  - "**/*.xcworkspace/**/*"

shared:
  - shared/src/commonMain/**/*
  - shared/src/commonTest/**/*

backend:
  - backend/**/*
  - server/**/*
  - api/**/*

# Component Labels
component:ui:
  - shared/src/commonMain/kotlin/ui/**/*
  - shared/src/commonMain/kotlin/**/ui/**/*
  - androidApp/src/main/res/**/*
  - iosApp/**/Assets.xcassets/**/*

component:api:
  - shared/src/commonMain/kotlin/**/api/**/*
  - shared/src/commonMain/kotlin/**/remote/**/*
  - backend/api/**/*

component:database:
  - shared/src/commonMain/kotlin/**/local/**/*
  - shared/src/commonMain/kotlin/**/database/**/*
  - backend/database/**/*

component:authentication:
  - "**/*auth*/**/*"
  - "**/*Auth*"
  - "**/*login*/**/*"
  - "**/*Login*"

component:networking:
  - "**/*network*/**/*"
  - "**/*Network*"
  - "**/*http*/**/*"
  - "**/*Http*"
  - "**/*ktor*/**/*"

component:storage:
  - "**/*storage*/**/*"
  - "**/*Storage*"
  - "**/*repository*/**/*"
  - "**/*Repository*"

component:testing:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/testing/**/*"

# Area Labels
area:performance:
  - "**/*performance*/**/*"
  - "**/*Performance*"
  - "**/benchmark/**/*"
  - "**/*benchmark*/**/*"

area:security:
  - "**/*security*/**/*"
  - "**/*Security*"
  - "**/*crypto*/**/*"
  - "**/*Crypto*"
  - ".github/workflows/security.yml"

area:accessibility:
  - "**/*accessibility*/**/*"
  - "**/*Accessibility*"
  - "**/*a11y*/**/*"

area:localization:
  - "**/strings.xml"
  - "**/Localizable.strings"
  - "**/values-*/**/*"
  - "**/*localization*/**/*"
  - "**/*i18n*/**/*"

area:ci-cd:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"
  - "scripts/**/*"
  - "fastlane/**/*"
  - "Jenkinsfile"
  - ".circleci/**/*"
  - ".travis.yml"
  - "azure-pipelines.yml"

area:dependencies:
  - "gradle/libs.versions.toml"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "yarn.lock"
  - "Podfile"
  - "Podfile.lock"

# Documentation Labels
documentation:
  - "**/*.md"
  - "docs/**/*"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"
  - ".github/**/*.md"

# Configuration Labels
dependencies:
  - "gradle/libs.versions.toml"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "package.json"
  - "Podfile"
  - ".github/dependabot.yml"

github-actions:
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

# Breaking Changes (based on file patterns that often contain breaking changes)
breaking-change:
  - "shared/src/commonMain/kotlin/**/api/**/*"
  - "shared/src/commonMain/kotlin/**/model/**/*"
  - "backend/api/**/*"
  - "**/migration/**/*"
  - "**/migrations/**/*"

# Feature Flags
feature-flag:
  - "**/*feature*flag*/**/*"
  - "**/*FeatureFlag*"
  - "**/*flag*/**/*"

# Build System
build:
  - "gradle/**/*"
  - "**/gradle.properties"
  - "**/build.gradle.kts"
  - "**/build.gradle"
  - "settings.gradle.kts"
  - "gradlew"
  - "gradlew.bat"
  - ".gradle/**/*"

# Quality Assurance
quality:
  - "detekt.yml"
  - ".editorconfig"
  - "ktlint.gradle"
  - "**/lint/**/*"
  - "**/quality/**/*"

# Assets and Resources
assets:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - "**/*.png"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.svg"
  - "**/*.ico"

# Special Files
config:
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "*.toml"
  - "*.properties"
  - "*.plist"

# Team-specific (customize based on your team structure)
team:mobile:
  - shared/**/*
  - androidApp/**/*
  - iosApp/**/*

team:backend:
  - backend/**/*
  - server/**/*
  - api/**/*

team:devops:
  - ".github/workflows/**/*"
  - "scripts/**/*"
  - "docker/**/*"
  - "Dockerfile*"
  - "docker-compose*"

team:design:
  - "assets/**/*"
  - androidApp/src/main/res/**/*"
  - "iosApp/**/Assets.xcassets/**/*"
  - shared/src/commonMain/kotlin/ui/theme/**/*"

team:qa:
  - "**/test/**/*"
  - "**/androidTest/**/*"
  - "**/*Test.kt"
  - "**/*Tests.kt"

# Size estimation (rough guidelines based on file types)
# Note: These patterns help estimate, but actual size labels
# are added by the size-check job in pr-validation.yml

# Likely small changes
potential-small:
  - "**/*.md"
  - "**/strings.xml"
  - "**/*.properties"

# Likely large changes  
potential-large:
  - "**/migration/**/*"
  - "**/migrations/**/*"
  - "gradle/libs.versions.toml"
  - shared/src/commonMain/kotlin/ui/**/*"
